{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
    {% if page.alert %}
  {% block alert %}
    <div class="wrapper-alert js-quickedit-main-content">
      {{ page.alert }}
    </div>
  {% endblock %}
{% endif %}

<header{{ header_attributes.addClass(header_classes) }} id="header">
  {{ include('@drupalbase_custom/templates/system/pdc-header-toggle.twig') }}

  {% if page.header %}
    {% block header %}
      {{ page.header }}
    {% endblock %}
  {% endif %}

  {% if page.navigation %}
    {% block navigation %}
      {{ page.navigation }}
    {% endblock %}
  {% endif %}
</header>

{% if page.banner %}
  {% block banner %}
    <div class="wrapper-banner js-quickedit-main-content">
      <section class="{{ container }}">
        <div class="row">
          {{ page.banner }}
        </div>
      </section>
    </div>
  {% endblock %}
{% endif %}

{# Content Top #}
{% if page.content_top %}
  {% block content_top %}
    <div class="wrapper-content-top-api-tools js-quickedit-main-content" id="main-content">
      {% if candidate_data != 0 %}
    {% set independent_expenditures_amount_total = candidate_data.0.independent_expenditures_for_amount + candidate_data.0.independent_expenditures_against_amount%}
    {% if candidate_data.0.independent_expenditures_for_amount %}
      {% set independent_expenditures_for_amount = candidate_data.0.independent_expenditures_for_amount|number_format(2, '.', ',') %}
    {% else %}
      {% set independent_expenditures_for_amount = 0 %}
    {% endif %}
    {% if candidate_data.0.independent_expenditures_against_amount %}
      {% set independent_expenditures_against_amount = (candidate_data.0.independent_expenditures_against_amount)|number_format(2, '.', ',') %}
    {% else %}
      {% set independent_expenditures_against_amount = 0 %}
    {% endif %}
<div class="container">
  <div class="row">
    <div class="candidate-info">
      <h1>{{ candidate_data.0.filer_name }} - {{ candidate_data.0.election_year }}</h1>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <div class="candidate-info-left col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="first">
          <h2>Candidate Information</h2>
              <h3>Office:</h3>
              {{ candidate_data.0.office }}
              <h3>Jurisdiction:</h3>
              {{ candidate_data.0.jurisdiction }}
              <h3>Party:</h3>
              {{ candidate_data.0.party }}
              <h3>Registration:</h3>
              <a href="{{ candidate_data.0.url.url }}">Registration Link</a>
              <h3>Address:</h3>
              {{ candidate_data.0.committee_address }}<br />
              {{ candidate_data.0.committee_city }}, {{ candidate_data.0.committee_state }} {{ candidate_data.0.committee_zip }}
              <h3>Email:</h3>
              {{ candidate_data.0.candidate_email }}
              <h3>Phone:</h3>
              {{ candidate_data.0.candidate_committee_phone }}
          </div>
        </div>
        <div class="candidate-info-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
          {% if candidate_data.0.fund_id is defined %}
            <div class="first">
            <h2>Financial Information</h2>

              <h3>Campaign Starting Balance:</h3>
                ${{ candidate_data.0.carryforward_amount|number_format(2, '.', ',') }}
              <h3>Contributions Amount:</h3>
                ${{ candidate_data.0.contributions_amount|number_format(2, '.', ',') }}
              <h3>Loans Amount:</h3>
                ${{ candidate_data.0.loans_amount|number_format(2, '.', ',') }}
              <h3>Total:</h3>
                ${{ (candidate_data.0.contributions_amount + candidate_data.0.loans_amount)|number_format(2, '.', ',') }}
              <h3>Expenditures:</h3>
                ${{ candidate_data.0.expenditures_amount|number_format(2, '.', ',') }}
              <h3>Independent Expenditures for/against:</h3>
                ${{ independent_expenditures_for_amount }} / ${{ independent_expenditures_against_amount }}

            </div>
          {% else %}
            <div class="no-fund-data">
              No fund data available.
            </div>
          {% endif %}
        </div>
      </div>
      <div class="candidate-callouts col-xs-12 col-sm-4 col-md-4 col-lg-4">

        <div class="callout">
          <h2>Status</h2>
          <h3>Primary Election Status:</h3>
            <p>{{ candidate_data.0.primary_election_status }}</p>
          <h3>Election Status:</h3>
              <p>{{ candidate_data.0.election_status }}</p>
              <h3>General Election Status:</h3>
              <p>{{ candidate_data.0.general_election_status }}</p>
              <h3>Campaign Status:</h3>
              <p>{{ candidate_data.0.candidate_committee_status }}</p>
        </div>

        <div class="callout">
        <h2>Reports</h2>
          <ul>
            <li>
              <a href="#">F1s</a>
            </li>
            <li>
              <a href="#">Show Me the Money</a>
            </li>
            <li>
              <a href="#">Surplus Funds</a>
            </li>
          </ul>
        </div>

      </div>

      </div>
      </div>
    </div>
  {% endif %}
      <section class="{{ container }}">
        <div class="row">
          {{ page.content_top }}
        </div>
      </section>
    </div>
  {% endblock %}
{% endif %}

{# Main #}
{% block main %}
  <div role="main" class="main-container-api-tools node-{{ node.id }} js-quickedit-main-content">
  <div class="container-fluid">
    <div>
      {# Sidebar Left #}
      {% if page.sidebar_left|render|striptags|trim|length > 0 %}
        {% block sidebar_left %}
          <aside class="col-xs-12 col-sm-3" role="complementary">
            {{ page.sidebar_left }}
          </aside>
        {% endblock %}
      {% endif %}

      {# Content #}
      {# The content_classes var below is altered to see if the rendered blocks contain any text sans HTML. This is not the ideal fix. It is a known core bug with no known fix yet. DH 11/13/2019#}

      <section>
      {# Highlighted #}
      {% if page.highlighted %}
        {% block highlighted %}
          <div class="highlighted">{{ page.highlighted }}</div>
        {% endblock %}
      {% endif %}

      {# Help #}
      {% if page.help %}
        {% block help %}
          {{ page.help }}
        {% endblock %}
      {% endif %}

      {# Content #}
      {% block content %}
        {{ page.content }}
      {% endblock %}
    </section>

    {# Sidebar Second #}
    {% if page.sidebar_right %}
      {% block sidebar_right %}
        <aside class="col-xs-12 col-sm-3" role="complementary">
          {{ page.sidebar_right }}
        </aside>
      {% endblock %}
    {% endif %}
  </div>
  </div>

{% if page.content_middle %}
  {% block content_middle %}
    <div class="wrapper-content-middle js-quickedit-main-content">
      <section class="{{ container }}">
        <div class="row">
          {{ page.content_middle }}
        </div>
      </section>
    </div>
  {% endblock %}
{% endif %}

{% if page.content_middle_second %}
  {% block content_middle_second %}
    <div class="wrapper-content-middle-second js-quickedit-main-content">
      <section class="{{ container }}">
        <div class="row">
          {{ page.content_middle_second }}
        </div>
      </section>
    </div>
  {% endblock %}
{% endif %}

{% if page.content_middle_third %}
  {% block content_middle_third %}
    <div class="wrapper-content-middle-third js-quickedit-main-content">
      <section class="{{ container }}">
        <div class="row">
          {{ page.content_middle_third }}
        </div>
      </section>
    </div>
  {% endblock %}
{% endif %}

{% if page.content_bottom %}
  {% block content_bottom %}
    <div class="wrapper-content-bottom js-quickedit-main-content">
      <section class="{{ container }}">
        <div class="row">
          {{ page.content_bottom }}
        </div>
      </section>
    </div>
  {% endblock %}
{% endif %}
</div>
{% endblock %}

{% if page.footer %}
  {% block footer %}
    <div class="footer-wrapper">
      <footer class="footer" role="contentinfo">
        <div class="{{ container }}">
          {{ page.footer }}
        </div>
      </footer>
    </div>
  {% endblock %}
{% endif %}

{% if page.footer_bottom %}
  {% block footer_bottom %}
    <div class="footer-bottom" role="contentinfo">
      <div class="{{ container }}">
        {{ page.footer_bottom }}
      </div>
    </div>
  {% endblock %}
{% endif %}
