{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}

{% if page.alert %}
  {% block alert %}
    <div class="wrapper-alert js-quickedit-main-content">
      {{ page.alert }}
    </div>
  {% endblock %}
{% endif %}

<header{{ header_attributes.addClass(header_classes) }} id="header">
  {{ include('@drupalbase_custom/templates/system/pdc-header-toggle.twig') }}

  {% if page.header %}
    {% block header %}
      {{ page.header }}
    {% endblock %}
  {% endif %}

  {% if page.navigation %}
    {% block navigation %}
      {{ page.navigation }}
    {% endblock %}
  {% endif %}
</header>

{% if page.banner %}
  {% block banner %}
    <div class="wrapper-banner js-quickedit-main-content">
      <section class="{{ container }}">
        <div class="row">
          {{ page.banner }}
        </div>
      </section>
    </div>
  {% endblock %}
{% endif %}

{% if page.content_top %}
  {% block content_top %}
    <div class="wrapper-content-top js-quickedit-main-content" id="main-content">
      <section class="{{ container }}">
        <div class="row">
          {{ page.content_top }}
        </div>
      </section>
    </div>
  {% endblock %}
{% endif %}
<div role="main">
{% if page.content_home_audience %}
  {% block content_home_audience %}
    <div class="wrapper-content-home-audience js-quickedit-main-content">
      <section class="{{ container }}">
        <div class="row">
          {{ page.content_home_audience }}
        </div>
      </section>
    </div>
  {% endblock %}
{% endif %}

{% if page.content_middle %}
  {% block content_middle %}
    <div class="wrapper-content-middle js-quickedit-main-content">
      <section class="{{ container }}">
        <div class="row">
          {{ page.content_middle }}
        </div>
      </section>
    </div>
  {% endblock %}
{% endif %}

{% if page.content_middle_second %}
  {% block content_middle_second %}
    <div class="wrapper-content-middle-second js-quickedit-main-content">
      <section class="{{ container }}">
        <div class="row">
          {{ page.content_middle_second }}
        </div>
      </section>
    </div>
  {% endblock %}
{% endif %}

{% if page.content_middle_third %}
  {% block content_middle_third %}
    <div class="wrapper-content-middle-third js-quickedit-main-content">
      <section class="{{ container }}">
        <div class="row">
          {{ page.content_middle_third }}
        </div>
      </section>
    </div>
  {% endblock %}
{% endif %}

{% if page.content_bottom %}
  {% block content_bottom %}
    <div class="wrapper-content-bottom js-quickedit-main-content">
      <section class="{{ container }}">
        <div class="row">
          {{ page.content_bottom }}
        </div>
      </section>
    </div>
  {% endblock %}
{% endif %}
</div>

{% if page.footer %}
  {% block footer %}
    <footer class="footer" role="contentinfo">
      <div class="{{ container }}">
        {{ page.footer }}
      </div>
    </footer>
  {% endblock %}
{% endif %}

{% if page.footer_bottom %}
  {% block footer_bottom %}
    <div class="footer-bottom" role="contentinfo">
      <div class="{{ container }}">
        {{ page.footer_bottom }}
      </div>
    </div>
  {% endblock %}
{% endif %}
