{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
    {% if page.alert %}
  {% block alert %}
    <div class="wrapper-alert js-quickedit-main-content">
      {{ page.alert }}
    </div>
  {% endblock %}
{% endif %}

<header{{ header_attributes.addClass(header_classes) }} id="header">
  {{ include('@drupalbase_custom/templates/system/pdc-header-toggle.twig') }}

  {% if page.header %}
    {% block header %}
      {{ page.header }}
    {% endblock %}
  {% endif %}

  {% if page.navigation %}
    {% block navigation %}
      {{ page.navigation }}
    {% endblock %}
  {% endif %}
</header>

{% if page.banner %}
  {% block banner %}
    <div class="wrapper-banner js-quickedit-main-content">
      <section class="{{ container }}">
        <div class="row">
          {{ page.banner }}
        </div>
      </section>
    </div>
  {% endblock %}
{% endif %}

{# Content Top #}
{% if page.content_top %}
  {% block content_top %}
    <div class="wrapper-content-top js-quickedit-main-content" id="main-content">
      <section class="{{ container }}">
        <div class="row">
          {{ page.content_top }}
        </div>
      </section>
    </div>
  {% endblock %}
{% endif %}

{# Main #}
{% block main %}
  <div role="main" class="main-container node-{{ node.id }} js-quickedit-main-content">
    <div class="container">
      <div class="row">
      {# Sidebar Left #}
      {% if page.sidebar_left|render|striptags|trim|length > 0 %}
        {% block sidebar_left %}
          <aside class="col-xs-12 col-12" role="complementary">
            {{ page.sidebar_left }}
          </aside>
        {% endblock %}
      {% endif %}

      {# Content #}
      {# The content_classes var below is altered to see if the rendered blocks contain any text sans HTML. This is not the ideal fix. It is a known core bug with no known fix yet. DH 11/13/2019#}
      <section class="col-xs-12 col-12">

      {# Highlighted #}
      {% if page.highlighted %}
        {% block highlighted %}
          <div class="highlighted">{{ page.highlighted }}</div>
        {% endblock %}
      {% endif %}

      {# Help #}
      {% if page.help %}
        {% block help %}
          {{ page.help }}
        {% endblock %}
      {% endif %}

      {# Content #}
      {% block content %}
        {{ page.content }}
      {% endblock %}
    </section>


  </div>
  </div>
  </div>


{% if page.content_middle %}
  {% block content_middle %}
    <div class="wrapper-content-middle js-quickedit-main-content">
      <section class="{{ container }}">
        <div class="row">
          {{ page.content_middle }}
        </div>
      </section>
    </div>
  {% endblock %}
{% endif %}

{% if page.content_middle_second %}
  {% block content_middle_second %}
    <div class="wrapper-content-middle-second js-quickedit-main-content">
      <section class="{{ container }}">
        <div class="row">
          {{ page.content_middle_second }}
        </div>
      </section>
    </div>
  {% endblock %}
{% endif %}

{% if page.content_middle_third %}
  {% block content_middle_third %}
    <div class="wrapper-content-middle-third js-quickedit-main-content">
      <section class="{{ container }}">
        <div class="row">
          {{ page.content_middle_third }}
        </div>
      </section>
    </div>
  {% endblock %}
{% endif %}

{% if page.content_bottom %}
  {% block content_bottom %}
    <div class="wrapper-content-bottom js-quickedit-main-content">
      <section class="{{ container }}">
        <div class="row">
          {{ page.content_bottom }}
        </div>
      </section>
    </div>
  {% endblock %}
{% endif %}
</div>
{% endblock %}

{% if page.footer %}
  {% block footer %}
    <div class="footer-wrapper">
      <footer class="footer" role="contentinfo">
        <div class="{{ container }}">
          {{ page.footer }}
        </div>
      </footer>
    </div>
  {% endblock %}
{% endif %}

{% if page.footer_bottom %}
  {% block footer_bottom %}
    <div class="footer-bottom" role="contentinfo">
      <div class="{{ container }}">
        {{ page.footer_bottom }}
      </div>
    </div>
  {% endblock %}
{% endif %}
