<input type="checkbox" class="pdc-heading-state pdc-heading-state-search" id="pdc-heading-state-search">
<input type="checkbox" class="pdc-heading-state pdc-heading-state-menus" id="pdc-heading-state-menus">

<div class="pdc-heading-toggles">
  <div class="pdc-heading-toggles-wrapper">
    <label class="pdc-heading-toggle pdc-heading-toggle-search" for="pdc-heading-state-search">
      <span class="pdc-heading-toggle-open">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        <span>Search</span>
      </span>
      <span class="pdc-heading-toggle-close">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span>Close</span>
      </span>
    </label>

    <label class="pdc-heading-toggle pdc-heading-toggle-menus" for="pdc-heading-state-menus">
      <span class="pdc-heading-toggle-open">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
        <span>Menu</span>
      </span>
      <span class="pdc-heading-toggle-close">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span>Close</span>
      </span>
    </label>
  </div>
</div>
