{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @ingroup templates
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
  ]
%}
{% if content %}
<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <div{{ attributes.addClass(classes) }}>
    {{ content }}
  </div>
</section>
{% endif %}
