{% set heading_id = attributes.id ~ '-menu'|clean_id %}
<div>
  {# Label. If not displayed, we still provide it for screen readers. #}
  {% if not configuration.label_display %}
    {% set title_attributes = title_attributes.addClass('sr-only') %}
  {% endif %}
  {% set title_attributes = title_attributes.addClass('menu-heading') %}
  <h2 {{ title_attributes.setAttribute('id', heading_id) }}>{{ configuration.label }}</h2>

  {% block content %}
    {{ content }}
  {% endblock %}
</div>
