{% set heading_id = attributes.id ~ '-menu'|clean_id %}
<div{{ attributes }}>
  {# Label. If not displayed, we still provide it for screen readers. #}
  {% if not configuration.label_display %}
    {% set title_attributes = title_attributes.addClass('sr-only') %}
  {% endif %}
  {% set title_attributes = title_attributes.addClass('menu-heading') %}

  <div class="pdc-bg-secondary pdc-p-5 pdc-inverted">
    <h1 {{ title_attributes.setAttribute('id', heading_id) }}>{{ configuration.label }}</h1>

    {% block content %}
      <div{{ content_attributes.addClass('block-content') }}>{{ content }}</div>
    {% endblock %}
  </div>
</div>
