{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  {# Drupal provides content_attributes but doesn't render it by default. We add it. #}
  <div{{ content_attributes.addClass('block-content') }}>
    {% if site_logo %}
      <a class="pdc-branding-logo-link" href="{{ path('<front>') }}" rel="home" tabindex="1">
        <img class="pdc-branding-logo-image" src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
      </a>
    {% endif %}
    {% if site_name %}
      <a class="pdc-branding-site-link" href="{{ path('<front>') }}" rel="home" tabindex="1">{{ site_name }}</a>
    {% endif %}
    {% if site_slogan %}
      <span class="pdc-branding-site-slogan">{{ site_slogan }}</span>
    {% endif %}
  </div>
{% endblock %}
