table {
  font-size: 1.6rem;
}

caption {
  color: var(--pdc-color-active);
}

table.width-50 {
  max-width: 50%;
  width: 100%;
}

table.width-65 {
  max-width: 65%;
  width: 100%;
}

table.width-75 {
  max-width: 75%;
  width: 100%;
}

tr:nth-child(odd) th,
tr:nth-child(odd) td {
  background-color: #fff;
}

tr:nth-child(even) th,
tr:nth-child(even) td {
  background-color: #eee;
}

/* pdc_api_tools overrides */
.dataTables_wrapper .dataTables_paginate .ui-state-disabled {
  border: 1px solid var(--pdc-color-active);
  color: var(--pdc-color-active);
  opacity: unset;
}

/* TODO based on old html -- to be removed */
.data-table-container .dataTables_paginate .ui-state-default.disabled,
.data-table-container .dataTables_paginate .ui-state-default.active {
  border: 1px solid var(--pdc-color-active);
  color: var(--pdc-color-active);

  & a {
    color: var(--pdc-color-active);
  }
}