{% if group_title %}<h2>{{ group_title }}</h2>{% endif %}
<div class="ckeditor-accordion-container">
  <dl id="{{ id }}" class="ckeditor-accordion">
    {% for key, row in rows -%}
      <dt>
          {{row.title}}
      </dt>
      <dd>
        {{row.content}}
      </dd>
    {%- endfor %}
  </dl>
</div>
