{% if links %}
  {%
    set navigation_classes = [
      'pdc-page-subnav',
    ]
  %}
  <div class="container">
    <nav{{ attributes.addClass(navigation_classes) }}>
      {% if title %}
        <div{{ title_attributes.addClass('pdc-page-subnav__title') }}>{{ title }}</div>
      {% endif %}
      {{ links }}
    </nav>
  </div>
{% endif %}
