{#
/**
 * @file
 * Restores the plain address field value formatting.
 *
 * The drupalbase theme overrides address-plain.html.twig. This restores it to
 * the same state provided by the address module, hiding the country, and fixing
 * the order of city, state, and zip.
 */
#}
<p class="address" translate="no">
  {% if given_name or family_name %}
    {{ given_name }} {{ family_name }}<br>
  {% endif %}
  {% if organization %}
    {{ organization }}<br>
  {% endif %}
  {% if address_line1 %}
    {{ address_line1 }}<br>
  {% endif %}
  {% if address_line2 %}
    {{ address_line2 }}<br>
  {% endif %}
  {% if address_line3 %}
    {{ address_line3 }} <br>
  {% endif %}
  {% if dependent_locality.code %}
    {{ dependent_locality.code }}<br>
  {% endif %}
  {% if locality or postal_code or administrative_area.code %}
    {% if locality %}{{ locality }}, {% endif %}{{ administrative_area.code }}  {{ postal_code }}<br>
  {% endif %}
</p>
