{#
/**
 * @file
 * Theme override for a field.
 *
 * The drupalbase theme overrides the field template of address fields of the
 * default displays. This restores it back to how Drupal (managed by Fences)
 * renders field wrappers. This also allows us to use the actual field label
 * as the <h2> instead of manually doing it in address-plain.html.twig.
 */
#}
{%
  set classes = [
  'field',
  'field--name-' ~ field_name|clean_class,
  'field--type-' ~ field_type|clean_class,
  'field--label-' ~ label_display,
  not display_items_wrapper_tag ? 'field__items'
]
%}
{%
  set title_classes = [
  'field__label',
  label_display == 'visually_hidden' ? 'visually-hidden',
]
%}

{% if items is not empty %}
{% block field %}
  {%- if display_field_tag ~%}
    <{{ field_tag|default('div') }}{{ attributes.addClass(classes) }}>
  {%- endif -%}
  {%- if not label_hidden -%}
    {%- block field_label ~%}
      {% if display_label_tag -%}<{{ label_tag|default('div') }}{{ title_attributes.addClass(title_classes) }}>{%- endif -%}
      {%- block field_label_value -%}
        {{  label  }}
      {%- endblock field_label_value -%}
      {%- if display_label_tag -%}
        </{{ label_tag|default('div') }}>
      {%- endif -%}
    {%- endblock field_label -%}
  {%- endif -%}
  {%- block field_items -%}
    {% if display_items_wrapper_tag ~%}
      <{{ field_items_wrapper_tag|default('div') }}{{ field_items_wrapper_attributes.addClass('field__items') }}>
    {%- endif -%}
    {% for item in items %}
      {%- block field_item -%}
        {%- if display_item_tag ~%}
          <{{ field_item_tag|default('div') }}{{ item.attributes.addClass('field__item') }}>
        {%- endif -%}
        {%- block field_value -%}
          {{  item.content  }}
        {%- endblock field_value -%}
        {%- if display_item_tag -%}
          </{{ field_item_tag|default('div') }}>
        {%- endif -%}
      {%- endblock field_item -%}
    {% endfor %}
    {%- if display_items_wrapper_tag ~%}
      </{{ field_items_wrapper_tag|default('div') }}>
    {%- endif -%}
  {%- endblock field_items -%}
  {% if display_field_tag ~%}
    </{{ field_tag|default('div') }}>
  {%- endif -%}
{% endblock field %}
{% endif %}
