{#
/**
 * @file
 * Override to allow Fences to apply on special fields.
 *
 * @todo Remove as part of https://www.drupal.org/node/3015623
 */
#}
{%
  set classes = [
  'field',
  'field--name-' ~ field_name|clean_class,
  'field--type-' ~ field_type|clean_class,
  'field--label-' ~ label_display,
  not display_items_wrapper_tag ? 'field--items'
]
%}
{%
  set title_classes = [
  'field--label',
  label_display == 'visually_hidden' ? 'visually-hidden',
]
%}
{% block field %}
  {%- if display_field_tag ~%}
    <{{ field_tag|default('div') }}{{ attributes.addClass(classes) }}>
  {%- endif -%}
  {%- if not label_hidden -%}
    {%- block field_label ~%}
      {% if display_label_tag -%}<{{ label_tag|default('div') }}{{ title_attributes.addClass(title_classes) }}>{%- endif -%}
      {%- block field_label_value -%}
        {{  label  }}
      {%- endblock field_label_value -%}
      {%- if display_label_tag -%}
        </{{ label_tag|default('div') }}>
      {%- endif -%}
    {%- endblock field_label -%}
  {%- endif -%}
  {%- block field_items -%}
    {% if display_items_wrapper_tag ~%}
      <{{ field_items_wrapper_tag|default('div') }}{{ field_items_wrapper_attributes.addClass('field--items') }}>
    {%- endif -%}
    {% for item in items %}
      {%- block field_item -%}
        {%- if display_item_tag ~%}
          <{{ field_item_tag|default('div') }}{{ item.attributes.addClass('field--item') }}>
        {%- endif -%}
        {%- block field_value -%}
          {{  item.content  }}
        {%- endblock field_value -%}
        {%- if display_item_tag -%}
          </{{ field_item_tag|default('div') }}>
        {%- endif -%}
      {%- endblock field_item -%}
    {% endfor %}
    {%- if display_items_wrapper_tag ~%}
      </{{ field_items_wrapper_tag|default('div') }}>
    {%- endif -%}
  {%- endblock field_items -%}
  {% if display_field_tag ~%}
    </{{ field_tag|default('div') }}>
  {%- endif -%}
{% endblock field %}
