{#
  Template file for a generic PDC loading spinner.

  The spinner can be overridden in themes by modifying the template, library
  or override the styles in a stylesheet.

  Variables available:
    spinner_id: The identifier for this spinner element.
    attributes: Render attributes for applying to the spinner container element.
#}
{{ attach_library('pdc_module/loading_spinner') }}

{%
  set attributes = attributes.setAttribute('id', spinner_id)
%}
<div{{ attributes.addClass('pdc-loading-spinner-wrapper') }}>
  <div class="fa-3x loader pdc-loading-spinner">
    <i class="fas fa-spinner fa-pulse"></i>
  </div>
</div>
