{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
  ]
%}

<article>

  {{ title_prefix }}
  {% if label and not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  <div{{ content_attributes.addClass('content') }}>
    {{ content.content_moderation_control }}

    {% if content.field_issue_date|render|striptags|trim|length != 0 %}
    <div><h2>Issue date:</h2> {{ content.field_issue_date }}</div>
    {% endif %}

    {% if content.body|render|striptags|trim|length != 0 %}
    <div>{{ content.body }}</div>
    {% endif %}

{% if content.field_declaratory_order_pdf|render|striptags|trim|length != 0 %}
    <div>{{ content.field_declaratory_order_pdf }}</div>
    {% endif %}

    {% if content.field_declaratory_order_n|render|striptags|trim|length != 0 %}
    <div><h2>Declaratory Order Number:</h2> {{ content.field_declaratory_order_n }}</div>
    {% endif %}

    {% if content.field_recommended_reading|render|striptags|trim|length != 0 %}
    <div>{{ content.field_recommended_reading }}</div>
    {% endif %}

    

</article>
