{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
  ]
%}
{{ attach_library('drupalbase_custom/study_page_tabs') }}
<article>

  {{ title_prefix }}
  {% if label and not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}


  <div{{ content_attributes.addClass('content') }}>
    {{ content.content_moderation_control }}
    <div class="content-middle-commission col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    {% if content.field_smart_date_event_date|render|striptags|trim|length != 0 %}
      {{ content.field_smart_date_event_date }}
    {% endif %}
    {% if content.field_agenda_text_header|render|striptags|trim|length != 0 %}
      {{ content.field_agenda_text_header }}
    {% endif %}
    {% if content.field_agenda_text_description|render|striptags|trim|length != 0 %}
      {{ content.field_agenda_text_description }}
    {% endif %}

      {# The two view references below are included to show the agenda item entries. The first one only displays when
      the content is being viewed as a node and the content is filtered by the parent content id form the url.
      The second one only displays when the content is being fetched programatically and the content is filtered by the
      parent content id being the 4th component of the URL path. This had to be done this way because contextual
      filters don't support OR and the id is the 2nd path component when viewed as a URL and 4th using our custom route
      to retrieve the content. #}
      {{ drupal_view('commission_meetings', 'block_1') }}

      {{ drupal_view('commission_meetings', 'block_4') }}

      {% if content.field_agenda_text_notes|render|striptags|trim|length != 0 %}
      {{ content.field_agenda_text_notes }}
    {% endif %}

    {% if content.field_wrap_up_summary|render|striptags|trim|length != 0 %}
      {{ content.field_wrap_up_summary }}
    {% endif %}

    {% if content.field_meeting_minutes|render|striptags|trim|length != 0 %}
      {{ content.field_meeting_minutes }}
    {% endif %}

    </div>
  </div>
</article>
