@import "global.less";
@import (reference) "mixins.less";

@max1440: ~"screen and (max-width: 1440px)";
@max1366: ~"screen and (max-width: 1366px)";
@min1200: ~"screen and (min-width: 1200px)";
@max1199: ~"screen and (max-width: 1199px)";
@max1024: ~"screen and (max-width: 1024px)";
@min992: ~"screen and (min-width: 992px)";
@max991: ~"screen and (max-width: 991px)";
@max800: ~"screen and (max-width: 800px)";
@max767: ~"screen and (max-width: 767px)";
@max600: ~"screen and (max-width: 600px)";
@max425: ~"screen and (max-width: 425px)";

html {
	body {
		.main-container {
				section {
					.region-content {
						/* WW: Duplicated from views, needs to go away
						view-filters.form-group {
							.views-exposed-form {
								.form-inline {
									display: flex;
									justify-content: flex-start;
									.form-item {
										padding-right: 20px;
										float: none;
										.control-label {
											color: #575757;
										}
									}
								}
							}
						} */
						.field--name-field-body {
							@media @max991 {
								width: 100%;
							}
						}
						.ckeditor-accordion-container {
							.accordion-controls {
								display: flex;
								flex-flow: row wrap;
								justify-content: flex-end;
								list-style: none;
								margin: 0 0 0.5em;

								.accordion-control {
									padding: 0 0.5em;
									background: transparent;
									border: none;
									color: var(--pdc-color-14);
									line-height: 1;
									text-decoration: underline;
									border-right: 1px solid #777;
									overflow: hidden;

									&:hover {
										text-decoration: none;
										color: var(--pdc-color-5);
									}
								}

								// For accordions created inside of WSYIWYG / body.
								li::before {
									display: none;
								}

								li:last-child .accordion-control {
									padding-right: 0;
									border-right: none;
								}
							}

							dl  {
								border: none;
								margin-bottom: 0;
								dd {
									padding-top: 5px;
									padding-bottom: 10px;
									ul {
										margin-bottom: 0;
									}
								}
								dt {
									margin: 5px 0 5px 0;

									&.active{
										margin: 5px 0 0px 0;
									}
								}
								dt > a {
									text-decoration: none;
								}
								dt.active > a {
									background: var(--pdc-color-15);
									font-weight: 500;
									/*border-bottom: none !important;*/
									border-radius: 4px 4px 0 0;
									border-left: 1pt solid #e2ecef;
									border-bottom: 0;
									border-right: 1pt solid #e2ecef;
								}
								dt > a:hover {
									border-bottom: 1pt solid #e2ecef;
								}

								dt.active:hover > a {
									border-bottom: 0;
								}
								dd.active {
									border-radius: 0 0 4px 4px;
									border-left: 1pt solid #e2ecef;
									border-bottom: 1pt solid #e2ecef;
									border-right: 1pt solid #e2ecef;
								}

								dd {
									margin-bottom: 5px ;
								}
								dt > a {
									/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e2ecef+0,e2ecef+50,e2ecef+100&1+0,0.23+31,0.23+50,0.23+70,1+100 */
									background: var(--pdc-color-white);
									color: var(--pdc-color-secondary);
									padding-top: 9px;
									padding-bottom: 9px;
									border: 1pt solid #e2ecef;
									border-radius: 4px;
									font-size: 1.1em;
									font-weight: normal;
								}
							}
						}
					}
				}
		}
	}
}
