/* Global Mobile Breakpoints */
html body .main-container section .region-content {
  /* WW: Duplicated from views, needs to go away
						view-filters.form-group {
							.views-exposed-form {
								.form-inline {
									display: flex;
									justify-content: flex-start;
									.form-item {
										padding-right: 20px;
										float: none;
										.control-label {
											color: #575757;
										}
									}
								}
							}
						} */
}
@media screen and (max-width: 991px) {
  html body .main-container section .region-content .field--name-field-body {
    width: 100%;
  }
}
html body .main-container section .region-content .ckeditor-accordion-container .accordion-controls {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0 0 0.5em;
}
html body .main-container section .region-content .ckeditor-accordion-container .accordion-controls .accordion-control {
  padding: 0 0.5em;
  background: transparent;
  border: none;
  color: var(--pdc-color-14);
  line-height: 1;
  text-decoration: underline;
  border-right: 1px solid #777;
  overflow: hidden;
}
html body .main-container section .region-content .ckeditor-accordion-container .accordion-controls .accordion-control:hover {
  text-decoration: none;
  color: var(--pdc-color-5);
}
html body .main-container section .region-content .ckeditor-accordion-container .accordion-controls li::before {
  display: none;
}
html body .main-container section .region-content .ckeditor-accordion-container .accordion-controls li:last-child .accordion-control {
  padding-right: 0;
  border-right: none;
}
html body .main-container section .region-content .ckeditor-accordion-container dl {
  border: none;
  margin-bottom: 0;
}
html body .main-container section .region-content .ckeditor-accordion-container dl dd {
  padding-top: 5px;
  padding-bottom: 10px;
}
html body .main-container section .region-content .ckeditor-accordion-container dl dd ul {
  margin-bottom: 0;
}
html body .main-container section .region-content .ckeditor-accordion-container dl dt {
  margin: 5px 0 5px 0;
}
html body .main-container section .region-content .ckeditor-accordion-container dl dt.active {
  margin: 5px 0 0px 0;
}
html body .main-container section .region-content .ckeditor-accordion-container dl dt > a {
  text-decoration: none;
}
html body .main-container section .region-content .ckeditor-accordion-container dl dt.active > a {
  background: var(--pdc-color-15);
  font-weight: 500;
  /*border-bottom: none !important;*/
  border-radius: 4px 4px 0 0;
  border-left: 1pt solid #e2ecef;
  border-bottom: 0;
  border-right: 1pt solid #e2ecef;
}
html body .main-container section .region-content .ckeditor-accordion-container dl dt > a:hover {
  border-bottom: 1pt solid #e2ecef;
}
html body .main-container section .region-content .ckeditor-accordion-container dl dt.active:hover > a {
  border-bottom: 0;
}
html body .main-container section .region-content .ckeditor-accordion-container dl dd.active {
  border-radius: 0 0 4px 4px;
  border-left: 1pt solid #e2ecef;
  border-bottom: 1pt solid #e2ecef;
  border-right: 1pt solid #e2ecef;
}
html body .main-container section .region-content .ckeditor-accordion-container dl dd {
  margin-bottom: 5px ;
}
html body .main-container section .region-content .ckeditor-accordion-container dl dt > a {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e2ecef+0,e2ecef+50,e2ecef+100&1+0,0.23+31,0.23+50,0.23+70,1+100 */
  background: var(--pdc-color-white);
  color: var(--pdc-color-secondary);
  padding-top: 9px;
  padding-bottom: 9px;
  border: 1pt solid #e2ecef;
  border-radius: 4px;
  font-size: 1.1em;
  font-weight: normal;
}
