/**
 * Drupal bootstrap provides a .file class that provides very opinionated
 * styles to a very generically named class. We're unsetting it because it
 * collides with some core and contrib classes that are not expecting this.
 */
.file {
  display: revert;
  font-size: revert;
  margin: revert;
  width: revert;
}

.file::after {
  content: "\f15c\00a0 FILE";
  font-family: var(--pdc-font-icons);
  font-weight: var(--pdc-font-icons-solid);
  color: white;
  background: var(--pdc-color-1);
  border-radius: 4px;
  vertical-align: middle;
  font-size: var(--pdc-font-size-sm);
  margin-left: 0.8rem;
  text-rendering: optimizeLegibility;
	display: inline-block;
	padding: 0px 22px;
}

.file--text::after {
  content: "\f15c\00a0 TXT";
}

.file--application-pdf::after {
  content: "\f1c1\00a0 PDF"
}

.file--x-office-document::after {
  content: "\f1c2\00a0 DOCX"
}

.file--x-office-spreadsheet::after {
  content: "\f1c3\00a0 XLSX"
}
