/* Global Mobile Breakpoints */

@max1440: ~"screen and (max-width: 1440px)";
@max1366: ~"screen and (max-width: 1366px)";
@min1200: ~"screen and (min-width: 1200px)";
@max1199: ~"screen and (max-width: 1199px)";
@max1024: ~"screen and (max-width: 1024px)";
@min992: ~"screen and (min-width: 992px)";
@max991: ~"screen and (max-width: 991px)";
@max800: ~"screen and (max-width: 800px)";
@min768: ~"screen and (min-width: 768px)";
@max767: ~"screen and (max-width: 767px)";
@max600: ~"screen and (max-width: 600px)";
@min426: ~"screen and (min-width: 426px)";
@max425: ~"screen and (max-width: 425px)";
@max375: ~"screen and (max-width: 375px)";
@max320: ~"screen and (max-width: 320px)";

@Blue: #383F59;
