/* Global Mobile Breakpoints */
html body {
  /* Landing Page Content Top */
}
html body.page-node-type-landing_pages {
  /* putting global stuff here */
}
html body.page-node-type-landing_pages h2 .little-heading {
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin-bottom: 0;
  padding-bottom: 0;
  display: block;
}
html body.page-node-type-landing_pages .js-quickedit-main-content .btn-primary,
html body.page-node-type-landing_pages .wrapper-content-middle .btn-primary,
html body.page-node-type-landing_pages .wrapper-content-middle-second .btn-primary,
html body.page-node-type-landing_pages .wrapper-content-middle-third .btn-primary {
  color: #fff !important;
  font-size: 2.2rem;
  font-weight: 700 !important;
  text-decoration: none !important;
  background: #006800;
  border-radius: 4px;
  padding: 17px 28px;
  border-bottom: none !important;
}
html body.page-node-type-landing_pages .js-quickedit-main-content .btn-primary:hover,
html body.page-node-type-landing_pages .wrapper-content-middle .btn-primary:hover,
html body.page-node-type-landing_pages .wrapper-content-middle-second .btn-primary:hover,
html body.page-node-type-landing_pages .wrapper-content-middle-third .btn-primary:hover {
  background: #0b354d;
  transition: 0.5s ease;
}
html body.page-node-type-landing_pages .js-quickedit-main-content .btn-primary:focus,
html body.page-node-type-landing_pages .wrapper-content-middle .btn-primary:focus,
html body.page-node-type-landing_pages .wrapper-content-middle-second .btn-primary:focus,
html body.page-node-type-landing_pages .wrapper-content-middle-third .btn-primary:focus {
  outline-offset: 3px;
}
html body.page-node-type-landing_pages .wrapper-content-top {
  border-bottom: none;
  padding-top: 0;
  padding-bottom: 0;
  background: var(--pdc-color-secondary);
  margin-bottom: 48px;
}
html body.page-node-type-landing_pages .wrapper-content-top ol.breadcrumb {
  display: none;
}
html body.page-node-type-landing_pages .wrapper-content-middle .region-content-middle {
  display: flex;
  flex-wrap: wrap;
}
html body.page-node-type-landing_pages .wrapper-content-middle .region-content-middle section:last-of-type,
html body.page-node-type-landing_pages .wrapper-content-middle .region-content-middle section#block-newseventsnewsblockheading {
  margin-bottom: 0;
}
html body.page-node-type-landing_pages .wrapper-content-middle .region-content-middle #block-landingpagespoliticaldisclosureblock1 form {
  margin-bottom: 10px;
}
html body.page-node-type-landing_pages .wrapper-content-middle .region-content-middle #block-landingpagespoliticaldisclosureblock1 form input {
  width: 70%;
  float: left;
}
html body.page-node-type-landing_pages .wrapper-content-middle .region-content-middle #block-landingpagespoliticaldisclosureblock1 form button:after {
  content: '';
  clear: left;
}
html body.page-node-type-landing_pages .wrapper-content-middle-second #block-newseventseventslegend,
html body.page-node-type-landing_pages .wrapper-content-middle-second #block-filingtips {
  margin-bottom: 30px;
}
html body.page-node-type-landing_pages .wrapper-content-middle-third .region-content-middle-third {
  padding-top: 40px;
}
html body.page-node-type-landing_pages .wrapper-content-middle-third .region-content-middle-third h2 {
  margin-top: 0;
}
html body.page-node-type-landing_pages .wrapper-content-middle-third .region-content-middle-third a {
  color: #174EA6;
  text-decoration: underline;
  border-bottom: 0;
}
html body.page-node-type-landing_pages .wrapper-content-middle-third .region-content-middle-third a:hover {
  color: #383F59;
  border-bottom: none;
  text-decoration: none;
}
@media screen and (max-width: 1024px) {
  html body.page-node-type-landing_pages .wrapper-content-middle-third .region-content-middle-third section {
    margin-bottom: 20px;
  }
}
html body.page-node-220 .region-content-middle-third {
  padding-top: 0 !important;
}
html body.page-node-220 #block-landingpagespoliticaldisclosureblock3 .field--name-body ul,
html body.page-node-220 #block-landingpagespoliticaldisclosureblock4 .field--name-body ul,
html body.page-node-220 #block-landingpagespoliticaldisclosureblock5 .field--name-body ul {
  columns: 1;
}
html body.page-node-214 .view-bios .field-subsection-link {
  position: absolute;
  bottom: 0;
  width: 250px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-top: 20px;
  background: #DDD;
  margin-bottom: 20px;
}
html body.page-node-214 .view-bios .field-subsection-link a {
  border-bottom: none;
  font-weight: 700;
}
html body.page-node-type-landing_pages .region-content-middle,
html body .candidate-data-blocks .row,
html body .campaign-data-blocks .row,
html body .region-content-home-audience {
  display: flex;
  flex-flow: row wrap;
}
html body.page-node-type-landing_pages .region-content-middle .block-block-content,
html body .candidate-data-blocks .row .block-block-content,
html body .campaign-data-blocks .row .block-block-content,
html body .region-content-home-audience .block-block-content,
html body.page-node-type-landing_pages .region-content-middle .campaign-data-block,
html body .candidate-data-blocks .row .campaign-data-block,
html body .campaign-data-blocks .row .campaign-data-block,
html body .region-content-home-audience .campaign-data-block,
html body.page-node-type-landing_pages .region-content-middle .candidate-data-block,
html body .candidate-data-blocks .row .candidate-data-block,
html body .campaign-data-blocks .row .candidate-data-block,
html body .region-content-home-audience .candidate-data-block {
  display: flex;
  float: none;
}
html body.page-node-type-landing_pages .region-content-middle .block-block-content.col-12,
html body .candidate-data-blocks .row .block-block-content.col-12,
html body .campaign-data-blocks .row .block-block-content.col-12,
html body .region-content-home-audience .block-block-content.col-12,
html body.page-node-type-landing_pages .region-content-middle .campaign-data-block.col-12,
html body .candidate-data-blocks .row .campaign-data-block.col-12,
html body .campaign-data-blocks .row .campaign-data-block.col-12,
html body .region-content-home-audience .campaign-data-block.col-12,
html body.page-node-type-landing_pages .region-content-middle .candidate-data-block.col-12,
html body .candidate-data-blocks .row .candidate-data-block.col-12,
html body .campaign-data-blocks .row .candidate-data-block.col-12,
html body .region-content-home-audience .candidate-data-block.col-12 {
  display: block;
  flex-basis: 100%;
}
html body.page-node-type-landing_pages .region-content-middle .block-block-content.col-6,
html body .candidate-data-blocks .row .block-block-content.col-6,
html body .campaign-data-blocks .row .block-block-content.col-6,
html body .region-content-home-audience .block-block-content.col-6,
html body.page-node-type-landing_pages .region-content-middle .campaign-data-block.col-6,
html body .candidate-data-blocks .row .campaign-data-block.col-6,
html body .campaign-data-blocks .row .campaign-data-block.col-6,
html body .region-content-home-audience .campaign-data-block.col-6,
html body.page-node-type-landing_pages .region-content-middle .candidate-data-block.col-6,
html body .candidate-data-blocks .row .candidate-data-block.col-6,
html body .campaign-data-blocks .row .candidate-data-block.col-6,
html body .region-content-home-audience .candidate-data-block.col-6 {
  flex-basis: 50%;
}
html body.page-node-type-landing_pages .region-content-middle .block-block-content.col-4,
html body .candidate-data-blocks .row .block-block-content.col-4,
html body .campaign-data-blocks .row .block-block-content.col-4,
html body .region-content-home-audience .block-block-content.col-4,
html body.page-node-type-landing_pages .region-content-middle .campaign-data-block.col-4,
html body .candidate-data-blocks .row .campaign-data-block.col-4,
html body .campaign-data-blocks .row .campaign-data-block.col-4,
html body .region-content-home-audience .campaign-data-block.col-4,
html body.page-node-type-landing_pages .region-content-middle .candidate-data-block.col-4,
html body .candidate-data-blocks .row .candidate-data-block.col-4,
html body .campaign-data-blocks .row .candidate-data-block.col-4,
html body .region-content-home-audience .candidate-data-block.col-4 {
  flex-basis: 33.333%;
}
html body.page-node-type-landing_pages .region-content-middle .block-block-content.col-3,
html body .candidate-data-blocks .row .block-block-content.col-3,
html body .campaign-data-blocks .row .block-block-content.col-3,
html body .region-content-home-audience .block-block-content.col-3,
html body.page-node-type-landing_pages .region-content-middle .campaign-data-block.col-3,
html body .candidate-data-blocks .row .campaign-data-block.col-3,
html body .campaign-data-blocks .row .campaign-data-block.col-3,
html body .region-content-home-audience .campaign-data-block.col-3,
html body.page-node-type-landing_pages .region-content-middle .candidate-data-block.col-3,
html body .candidate-data-blocks .row .candidate-data-block.col-3,
html body .campaign-data-blocks .row .candidate-data-block.col-3,
html body .region-content-home-audience .candidate-data-block.col-3 {
  flex-basis: 25%;
}
@media screen and (min-width: 992px) {
  html body.page-node-type-landing_pages .region-content-middle .block-block-content.col-md-12,
  html body .candidate-data-blocks .row .block-block-content.col-md-12,
  html body .campaign-data-blocks .row .block-block-content.col-md-12,
  html body .region-content-home-audience .block-block-content.col-md-12,
  html body.page-node-type-landing_pages .region-content-middle .campaign-data-block.col-md-12,
  html body .candidate-data-blocks .row .campaign-data-block.col-md-12,
  html body .campaign-data-blocks .row .campaign-data-block.col-md-12,
  html body .region-content-home-audience .campaign-data-block.col-md-12,
  html body.page-node-type-landing_pages .region-content-middle .candidate-data-block.col-md-12,
  html body .candidate-data-blocks .row .candidate-data-block.col-md-12,
  html body .campaign-data-blocks .row .candidate-data-block.col-md-12,
  html body .region-content-home-audience .candidate-data-block.col-md-12 {
    display: block;
    flex-basis: 100%;
  }
  html body.page-node-type-landing_pages .region-content-middle .block-block-content.col-md-6,
  html body .candidate-data-blocks .row .block-block-content.col-md-6,
  html body .campaign-data-blocks .row .block-block-content.col-md-6,
  html body .region-content-home-audience .block-block-content.col-md-6,
  html body.page-node-type-landing_pages .region-content-middle .campaign-data-block.col-md-6,
  html body .candidate-data-blocks .row .campaign-data-block.col-md-6,
  html body .campaign-data-blocks .row .campaign-data-block.col-md-6,
  html body .region-content-home-audience .campaign-data-block.col-md-6,
  html body.page-node-type-landing_pages .region-content-middle .candidate-data-block.col-md-6,
  html body .candidate-data-blocks .row .candidate-data-block.col-md-6,
  html body .campaign-data-blocks .row .candidate-data-block.col-md-6,
  html body .region-content-home-audience .candidate-data-block.col-md-6 {
    flex-basis: 50%;
  }
  html body.page-node-type-landing_pages .region-content-middle .block-block-content.col-md-4,
  html body .candidate-data-blocks .row .block-block-content.col-md-4,
  html body .campaign-data-blocks .row .block-block-content.col-md-4,
  html body .region-content-home-audience .block-block-content.col-md-4,
  html body.page-node-type-landing_pages .region-content-middle .campaign-data-block.col-md-4,
  html body .candidate-data-blocks .row .campaign-data-block.col-md-4,
  html body .campaign-data-blocks .row .campaign-data-block.col-md-4,
  html body .region-content-home-audience .campaign-data-block.col-md-4,
  html body.page-node-type-landing_pages .region-content-middle .candidate-data-block.col-md-4,
  html body .candidate-data-blocks .row .candidate-data-block.col-md-4,
  html body .campaign-data-blocks .row .candidate-data-block.col-md-4,
  html body .region-content-home-audience .candidate-data-block.col-md-4 {
    flex-basis: 33.333%;
  }
  html body.page-node-type-landing_pages .region-content-middle .block-block-content.col-md-3,
  html body .candidate-data-blocks .row .block-block-content.col-md-3,
  html body .campaign-data-blocks .row .block-block-content.col-md-3,
  html body .region-content-home-audience .block-block-content.col-md-3,
  html body.page-node-type-landing_pages .region-content-middle .campaign-data-block.col-md-3,
  html body .candidate-data-blocks .row .campaign-data-block.col-md-3,
  html body .campaign-data-blocks .row .campaign-data-block.col-md-3,
  html body .region-content-home-audience .campaign-data-block.col-md-3,
  html body.page-node-type-landing_pages .region-content-middle .candidate-data-block.col-md-3,
  html body .candidate-data-blocks .row .candidate-data-block.col-md-3,
  html body .campaign-data-blocks .row .candidate-data-block.col-md-3,
  html body .region-content-home-audience .candidate-data-block.col-md-3 {
    flex-basis: 25%;
  }
}
@media screen and (min-width: 1200px) {
  html body.page-node-type-landing_pages .region-content-middle .block-block-content.col-lg-12,
  html body .candidate-data-blocks .row .block-block-content.col-lg-12,
  html body .campaign-data-blocks .row .block-block-content.col-lg-12,
  html body .region-content-home-audience .block-block-content.col-lg-12,
  html body.page-node-type-landing_pages .region-content-middle .campaign-data-block.col-lg-12,
  html body .candidate-data-blocks .row .campaign-data-block.col-lg-12,
  html body .campaign-data-blocks .row .campaign-data-block.col-lg-12,
  html body .region-content-home-audience .campaign-data-block.col-lg-12,
  html body.page-node-type-landing_pages .region-content-middle .candidate-data-block.col-lg-12,
  html body .candidate-data-blocks .row .candidate-data-block.col-lg-12,
  html body .campaign-data-blocks .row .candidate-data-block.col-lg-12,
  html body .region-content-home-audience .candidate-data-block.col-lg-12 {
    display: block;
    flex-basis: 100%;
  }
  html body.page-node-type-landing_pages .region-content-middle .block-block-content.col-lg-6,
  html body .candidate-data-blocks .row .block-block-content.col-lg-6,
  html body .campaign-data-blocks .row .block-block-content.col-lg-6,
  html body .region-content-home-audience .block-block-content.col-lg-6,
  html body.page-node-type-landing_pages .region-content-middle .campaign-data-block.col-lg-6,
  html body .candidate-data-blocks .row .campaign-data-block.col-lg-6,
  html body .campaign-data-blocks .row .campaign-data-block.col-lg-6,
  html body .region-content-home-audience .campaign-data-block.col-lg-6,
  html body.page-node-type-landing_pages .region-content-middle .candidate-data-block.col-lg-6,
  html body .candidate-data-blocks .row .candidate-data-block.col-lg-6,
  html body .campaign-data-blocks .row .candidate-data-block.col-lg-6,
  html body .region-content-home-audience .candidate-data-block.col-lg-6 {
    flex-basis: 50%;
  }
  html body.page-node-type-landing_pages .region-content-middle .block-block-content.col-lg-4,
  html body .candidate-data-blocks .row .block-block-content.col-lg-4,
  html body .campaign-data-blocks .row .block-block-content.col-lg-4,
  html body .region-content-home-audience .block-block-content.col-lg-4,
  html body.page-node-type-landing_pages .region-content-middle .campaign-data-block.col-lg-4,
  html body .candidate-data-blocks .row .campaign-data-block.col-lg-4,
  html body .campaign-data-blocks .row .campaign-data-block.col-lg-4,
  html body .region-content-home-audience .campaign-data-block.col-lg-4,
  html body.page-node-type-landing_pages .region-content-middle .candidate-data-block.col-lg-4,
  html body .candidate-data-blocks .row .candidate-data-block.col-lg-4,
  html body .campaign-data-blocks .row .candidate-data-block.col-lg-4,
  html body .region-content-home-audience .candidate-data-block.col-lg-4 {
    flex-basis: 33.333%;
  }
  html body.page-node-type-landing_pages .region-content-middle .block-block-content.col-lg-3,
  html body .candidate-data-blocks .row .block-block-content.col-lg-3,
  html body .campaign-data-blocks .row .block-block-content.col-lg-3,
  html body .region-content-home-audience .block-block-content.col-lg-3,
  html body.page-node-type-landing_pages .region-content-middle .campaign-data-block.col-lg-3,
  html body .candidate-data-blocks .row .campaign-data-block.col-lg-3,
  html body .campaign-data-blocks .row .campaign-data-block.col-lg-3,
  html body .region-content-home-audience .campaign-data-block.col-lg-3,
  html body.page-node-type-landing_pages .region-content-middle .candidate-data-block.col-lg-3,
  html body .candidate-data-blocks .row .candidate-data-block.col-lg-3,
  html body .campaign-data-blocks .row .candidate-data-block.col-lg-3,
  html body .region-content-home-audience .candidate-data-block.col-lg-3 {
    flex-basis: 25%;
  }
}
