//font-family: 'Open Sans', sans-serif;
//font-family: 'Roboto', sans-serif;
//font-family: 'Gayathri', sans-serif;
//font-family: 'Alegreya Sans', sans-serif;
//font-family: 'Quattrocento Sans', sans-serif;

@import "global.less";
@import (reference) "mixins.less";

@max1440: ~"screen and (max-width: 1440px)";
@max1366: ~"screen and (max-width: 1366px)";
@min1200: ~"screen and (min-width: 1200px)";
@max1199: ~"screen and (max-width: 1199px)";
@max1024: ~"screen and (max-width: 1024px)";
@min992: ~"screen and (min-width: 992px)";
@max991: ~"screen and (max-width: 991px)";
@max800: ~"screen and (max-width: 800px)";
@max767: ~"screen and (max-width: 767px)";
@max600: ~"screen and (max-width: 600px)";
@max425: ~"screen and (max-width: 425px)";

html {
  body {
    /* Landing Page Content Top */
    &.page-node-type-landing_pages {

      /* putting global stuff here */

      h2 {
        .little-heading {
          font-size: 1.8rem;
          line-height: 1.8rem;
          margin-bottom: 0;
          padding-bottom: 0;
          display: block;
        }
      }
      .js-quickedit-main-content, .wrapper-content-middle,.wrapper-content-middle-second, .wrapper-content-middle-third {
        .btn-primary {
          color: #fff !important;
          font-size: 2.2rem;
          font-weight: 700 !important;
          text-decoration: none !important;
          background: #006800;
          border-radius: 4px;
          padding: 17px 28px;
          border-bottom: none !important;
          &:hover {
            background: #0b354d;
            transition: 0.5s ease;
          }
          &:focus {
            outline-offset: 3px;
          }
        }
    }

      // Not all .wrapper-content-top are dark blue, only landing page ones.
      .wrapper-content-top {
        border-bottom: none;
        padding-top: 0;
        padding-bottom: 0;
        background: var(--pdc-color-secondary);
        margin-bottom: 48px;

        // @todo This should be handled by Drupal config, not code.
        ol.breadcrumb {
          display: none;
        }
      }

      .wrapper-content-middle {

        .region-content-middle {
          display: flex;
          flex-wrap: wrap;

          section {
            &:last-of-type,
            &#block-newseventsnewsblockheading {
              margin-bottom: 0;
            }
          }

          #block-landingpagespoliticaldisclosureblock1 {
            form {
              margin-bottom: 10px;

              input {
                width: 70%;
                float: left;
              }

              button {
                &:after {
                  content: '';
                  clear: left;
                }
              }
            }
          }
        }
      }

      .wrapper-content-middle-second {

        #block-newseventseventslegend, #block-filingtips {
          margin-bottom: 30px;
        }
      }

      .wrapper-content-middle-third {
        .region-content-middle-third {
          padding-top: 40px;

          h2 {
            margin-top: 0;
          }

          a {
            color: #174EA6;
            text-decoration: underline;
            border-bottom: 0;

            &:hover {
              color: #383F59;
              border-bottom: none;
              text-decoration: none;
            }
          }

          section {
            @media @max1024 {
              margin-bottom: 20px;
            }
          }
        }
      }
    }

    &.page-node-220 {
      .region-content-middle-third {
        padding-top: 0 !important;
      }

      #block-landingpagespoliticaldisclosureblock3,
      #block-landingpagespoliticaldisclosureblock4,
      #block-landingpagespoliticaldisclosureblock5 {

        .field--name-body {

          ul {
            columns: 1;
          }
        }
      }
    }

    &.page-node-214 {
      .view-bios {
        .field-subsection-link {
          position: absolute;
          bottom: 0;
          width: 250px;
          padding-top: 5px;
          padding-bottom: 5px;
          padding-left: 5px;
          margin-top: 20px;
          background: #DDD;
          margin-bottom: 20px;

          a {
            border-bottom: none;
            font-weight: 700;
          }
        }
      }
    }

    &.page-node-type-landing_pages .region-content-middle,
    .candidate-data-blocks .row,
    .campaign-data-blocks .row,
    .region-content-home-audience {
      display: flex;
      flex-flow: row wrap;

      // Override the column styles for use with flexbox sizing. This allows
      // the use for flexbox with Bootstrap 3, and utilize the equal heights
      // for the pdc-cards without.
      .block-block-content,
      .campaign-data-block,
      .candidate-data-block {
        display: flex;
        float: none;

        &.col-12 {
          display: block;
          flex-basis: 100%;
        }

        &.col-6 {
          flex-basis: 50%;
        }

        &.col-4 {
          flex-basis: 33.333%;
        }

        &.col-3 {
          flex-basis: 25%;
        }

        @media screen and (min-width: 992px) {
          &.col-md-12 {
            display: block;
            flex-basis: 100%;
          }

          &.col-md-6 {
            flex-basis: 50%;
          }

          &.col-md-4 {
            flex-basis: 33.333%;
          }

          &.col-md-3 {
            flex-basis: 25%;
          }
        }

        @media screen and (min-width: 1200px) {
          &.col-lg-12 {
            display: block;
            flex-basis: 100%;
          }

          &.col-lg-6 {
            flex-basis: 50%;
          }

          &.col-lg-4 {
            flex-basis: 33.333%;
          }

          &.col-lg-3 {
            flex-basis: 25%;
          }
        }
      }
    }
  }
}
