/* Global Mobile Breakpoints */
/* Global Colors -- These are used in DB Mega Menu so am saving here so that menu doesn't throw errors */
/* Site Specific Colors */
/* Mixins for reusable styles */
/****** To use these, call the element within the less stylesheet like this:

.parentElement {
  .angled-element();
  /* Add others styles as usual 
  background-color: #000;
}

******/
/* Used for various tiles and callouts */
.bordered-box {
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px rgba(56, 63, 89, 0.25);
}
.heading-border {
  content: "";
  position: absolute;
  left: 0;
  width: 40px;
  border-top: 5px solid #E49600;
}
.pill-box {
  font-weight: 600;
  font-size: 1.4rem;
  display: inline;
  color: #000 !important;
  border-radius: 5px;
  padding: 8px 12px;
}
.button-primary a {
  color: #fff !important;
  font-size: 2.2rem;
  font-weight: 700 !important;
  text-decoration: none;
  /*background: var(--pdc-color-primary);
    border-radius: 4px;
    padding: 17px 28px;*/
  border-bottom: none !important;
  transition: all 0.5s ease;
}
.button-primary a:hover {
  /*background: #0b354d;*/
  text-decoration: none;
  border-bottom: none;
}
