@max1440: ~"screen and (max-width: 1440px)";
@max1366: ~"screen and (max-width: 1366px)";
@min1200: ~"screen and (min-width: 1200px)";
@max1199: ~"screen and (max-width: 1199px)";
@max1024: ~"screen and (max-width: 1024px)";
@min992: ~"screen and (min-width: 992px)";
@max991: ~"screen and (max-width: 991px)";
@max800: ~"screen and (max-width: 800px)";
@max767: ~"screen and (max-width: 767px)";
@max600: ~"screen and (max-width: 600px)";
@max425: ~"screen and (max-width: 425px)";
@blue: #005b7f;
@teal: #002533;
@olive: #4D4908;
@yellow: #CCC20A;
@brick: #8C0E27;
@gray: #363636;
@lime: #00ff00;
@hilite: #ddf5fe;
@lowlite: #1e445d;
@ltblue: #58adce;
@dkblue: #122f4d;
@medblue: #6d9ccb;
html {
	body {
		@media print {
			.search-block-form {
				display: none;
			}
			.logo-container {
				background: none;
				padding-top: 9%!important;
			}
			.navbar {
				display: none;
			}
			a[href] {
				&:after {
					display: none;
					content: "";
				}
			}
			.off-canvas-wrapper {
				display: none;	
			}
			.breadcrumb {
				display: none;	
			}
			.region-header {
				.navbar-text { 
					width: 100%;
				}
				#block-placeholderlogo {
					background-color: #000;
					img {
						background-color: #000;
					}
				}
			}
			.region-sidebar-left {
				display: none;
			}
			.content_bottom {
				display: none;
			}

          .main-container .row section .region-content  .ckeditor-accordion-container > dl{
              dd {
                display: block !important;
                padding: 0 15px;
                margin: 0;
                will-change: height;

                &.closed {
                  position: inherit;
                  overflow: inherit;
                  clip: inherit;
                  height: inherit;
                  width: inherit;
                  margin: inherit;
                  padding: 0 15px;
                  border-radius: 0 0 4px 4px;
                  border-left: 1pt solid #e2ecef;
                  border-bottom: 1pt solid #e2ecef;
                  border-right: 1pt solid #e2ecef;
                }
              }
              dt {
                margin: 0;
                & > a{
                  background: #fff;
                  color: #383F59;
                  border-radius: 4px 4px 0 0;
                  border-left: 1pt solid #e2ecef;
                  border-bottom: 0 !important;
                  border-right: 1pt solid #e2ecef;
                }
              }

            }
		}
	}
}