@media print {
  html body .search-block-form {
    display: none;
  }
  html body .logo-container {
    background: none;
    padding-top: 9%!important;
  }
  html body .navbar {
    display: none;
  }
  html body a[href]:after {
    display: none;
    content: "";
  }
  html body .off-canvas-wrapper {
    display: none;
  }
  html body .breadcrumb {
    display: none;
  }
  html body .region-header .navbar-text {
    width: 100%;
  }
  html body .region-header #block-placeholderlogo {
    background-color: #000;
  }
  html body .region-header #block-placeholderlogo img {
    background-color: #000;
  }
  html body .region-sidebar-left {
    display: none;
  }
  html body .content_bottom {
    display: none;
  }
  html body .main-container .row section .region-content .ckeditor-accordion-container > dl dd {
    display: block !important;
    padding: 0 15px;
    margin: 0;
    will-change: height;
  }
  html body .main-container .row section .region-content .ckeditor-accordion-container > dl dd.closed {
    position: inherit;
    overflow: inherit;
    clip: inherit;
    height: inherit;
    width: inherit;
    margin: inherit;
    padding: 0 15px;
    border-radius: 0 0 4px 4px;
    border-left: 1pt solid #e2ecef;
    border-bottom: 1pt solid #e2ecef;
    border-right: 1pt solid #e2ecef;
  }
  html body .main-container .row section .region-content .ckeditor-accordion-container > dl dt {
    margin: 0;
  }
  html body .main-container .row section .region-content .ckeditor-accordion-container > dl dt > a {
    background: #fff;
    color: #383F59;
    border-radius: 4px 4px 0 0;
    border-left: 1pt solid #e2ecef;
    border-bottom: 0 !important;
    border-right: 1pt solid #e2ecef;
  }
}
