.pdc-sidebar-menu {}

.pdc-sidebar-menu-title,
.pdc-sidebar-menu > h2 {
  padding: 10px 10px 10px 15px;
  border-left: 15px solid var(--pdc-color-primary);
  margin-bottom: 0;
  font-size: 1.8rem;
  line-height: 2.3rem;
  border-bottom: none;

  /* Undo the remaining styles applied globally to h2 */
  position: revert;
  font-weight: revert;
}

.pdc-sidebar-menu-title a,
.pdc-sidebar-menu > h2 a {
  /* The sidebar title is a parent menu item link, not just a block title. */
  color: var(--pdc-color-primary);
  text-decoration: none;
}

.pdc-sidebar-menu-title a:hover,
.pdc-sidebar-menu > h2 a:hover {
  color: var(--pdc-color-secondary);
}

.pdc-sidebar-menu-title::after,
.pdc-sidebar-menu > h2::after {
  /* Undo the yellow underline applied globally to h2 */
  content: revert;
  display: revert;
}

/* All levels */

.pdc-sidebar-menu .menu,
.pdc-sidebar-menu .menu ul {
  list-style: none;
  padding: 0 0 0 15px;
}

.pdc-sidebar-menu .menu a {
  padding: 6px 15px;
  color: var(--pdc-color-8);
  display: block;
  text-decoration: none;
  position: relative;
}

.pdc-sidebar-menu .menu a.active-trail {
  font-weight: var(--pdc-font-weight-bold);
  color: var(--pdc-color-secondary);
}

.pdc-sidebar-menu .menu a:hover::before,
.pdc-sidebar-menu .menu a:focus-visible::before,
.pdc-sidebar-menu .menu a.is-active::before {
  content: " ";
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 7px;
  width: 4px;
  background: #e49600;
}

/* First level */

.pdc-sidebar-menu .menu {
  border-top: 1px solid #ddd;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.9rem;
}

/* Second level */

.pdc-sidebar-menu .menu li > ul {
  font-weight: 400;
}

/* Overrides */

.pdc-sidebar-menu .caret {
  /* The drupalbase theme menu items come with carets that we don't need. */
  display: none;
}

.pdc-sidebar-menu .menu a:hover,
.pdc-sidebar-menu .menu a:focus {
  /* Undo the grey hover that bootstrap imposes on nav links. */
  background-color: revert;
}
