/* Global Mobile Breakpoints */
html {
  font-size: 62.5%;
}
html body {
  margin-top: 0;
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  /* front page styles */
}
html body .dialog-off-canvas-main-canvas {
  overflow: hidden;
}
html body .word-break-styles {
  overflow-wrap: break-word;
  word-break: break-word;
  /* for older browsers */
  white-space: normal;
}
html body h1 {
  position: relative;
  font-weight: bold;
  color: var(--pdc-color-secondary);
  font-size: 4.8rem;
  line-height: 5.4rem;
  padding-bottom: 15px;
  margin-bottom: 10px !important;
  border-bottom: none !important;
  overflow-wrap: break-word;
  word-break: break-word;
  /* for older browsers */
  white-space: normal;
}
html body h2,
html body h3,
html body h4,
html body h5 {
  font-weight: bold;
  color: var(--pdc-color-secondary);
  overflow-wrap: break-word;
  word-break: break-word;
  /* for older browsers */
  white-space: normal;
}
html body h2 {
  font-size: 4rem;
  line-height: 4.5rem;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 10px;
}
html body h2::after {
  content: "";
  position: absolute;
  left: 0;
  width: 40px;
  border-top: 5px solid var(--pdc-color-tertiary);
  bottom: 0;
}
html body h3 {
  position: relative;
  font-size: 2.8rem;
  line-height: 3.5rem;
  margin: 5px 0 10px 0;
  padding: 15px 0 0 0;
}
html body h3::before {
  content: "";
  position: absolute;
  left: 0;
  width: 40px;
  border-top: 5px solid var(--pdc-color-tertiary);
  top: 0;
}
html body h4 {
  font-size: 2.4rem;
  line-height: 3.1rem;
}
html body h5 {
  font-size: 2rem;
  line-height: 2.6rem;
}
html body h6 {
  font-size: 1.8rem;
  line-height: 2.4rem;
}
@media screen and (max-width: 767px) {
  html body {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
  html body h1 {
    font-size: 4rem;
    line-height: 4.5rem;
  }
  html body h2 {
    font-size: 3.2rem;
    line-height: 3.6rem;
  }
  html body h3 {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }
  html body h4 {
    font-size: 2rem;
    line-height: 2.6rem;
  }
  html body h5 {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
  html body h6 {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}
html body p {
  margin-bottom: 20px;
}
html body ol.breadcrumb {
  background: none;
  padding: 8px 15px 8px 0;
  margin-bottom: 0;
}
@media screen and (max-width: 1024px) {
  html body ol.breadcrumb {
    margin-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 800px) {
  html body ol.breadcrumb {
    margin-left: 0px;
  }
}
html body ol.breadcrumb li {
  font-size: 1.4rem;
  padding-bottom: 0;
  margin-bottom: 0;
}
html body ol.breadcrumb li.active {
  color: var(--pdc-color-active);
}
html body ol.breadcrumb li a {
  border-bottom: none;
  color: var(--pdc-color-secondary);
  font-weight: 700;
}
html body ol.breadcrumb li a:hover {
  border-bottom: 1px dotted var(--pdc-color-secondary);
  text-decoration: none;
}
html body ol.breadcrumb li + li:before {
  content: "\f054";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: var(--pdc-color-secondary);
}
html body .main-container .field--name-field-event-date {
  font-weight: 600 !important;
  font-style: italic;
  color: var(--pdc-color-6) !important;
  margin-bottom: 10px;
}
html body .main-container aside .region-sidebar-left {
  margin-top: 60px;
}
html body .main-container aside .region-sidebar-right {
  background: none !important;
}
html body .main-container aside .region-sidebar-right #block-relatedtopics {
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px rgba(56, 63, 89, 0.25);
  margin-bottom: 20px;
}
html body .main-container aside .region-sidebar-right #block-relatedtopics .field--label {
  display: none;
}
html body .main-container aside .region-sidebar-right #block-relatedtopics h2 {
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 16px;
  margin: 0;
  border-bottom: 1px solid #dddddd;
}
html body .main-container aside .region-sidebar-right #block-relatedtopics h2:after {
  display: none;
  content: "";
}
html body .main-container aside .region-sidebar-right #block-relatedtopics a {
  color: var(--pdc-color-secondary);
  text-decoration: none;
  border-bottom: 1px dotted;
  font-size: 1.4rem;
  line-height: 1.4rem;
}
html body .main-container aside .region-sidebar-right #block-relatedtopics a:hover {
  border-bottom: none;
}
html body .main-container aside .region-sidebar-right #block-relatedtopics p {
  padding: 0 16px 0 16px;
  margin-bottom: 8px;
  font-size: 1.4rem;
}
html body .main-container section .region-content {
  margin-bottom: 20px;
  /******* Images margins ********/
}
html body .main-container section .region-content figcaption {
  font-size: 1.5rem;
  text-align: left;
  line-height: 1.2;
  padding-top: 5px;
}
html body .main-container section .region-content h2 {
  padding: 0;
  font-size: 3.6rem;
  line-height: 4.2rem;
  overflow-wrap: break-word;
  word-break: break-word;
  /* for older browsers */
  white-space: normal;
}
html body .main-container section .region-content h2::after {
  display: none;
}
html body .main-container section .region-content h3 {
  padding: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 3rem;
  line-height: 3.4rem;
}
html body .main-container section .region-content h3::before {
  display: none;
}
html body .main-container section .region-content a.btn {
  color: #fff !important;
  font-size: 2.2rem;
  font-weight: 700 !important;
  text-decoration: none;
  background: var(--pdc-color-primary);
  border-radius: 4px;
  padding: 17px 28px;
  border-bottom: none !important;
  transition: all 0.5s ease;
}
html body .main-container section .region-content a.btn:hover {
  background: #0b354d;
  text-decoration: none;
  border-bottom: none;
}
html body .main-container section .region-content .pagination > li a {
  border: 1px solid #ddd;
  color: #383F59;
  font-size: 15px;
  text-decoration: none;
  padding: 4px 8px;
}
@media (min-width: 420px) {
  html body .main-container section .region-content .pagination > li a {
    padding: 4px 10px;
    font-size: 18px;
  }
}
html body .main-container section .region-content .pagination > li.active a,
html body .main-container section .region-content .pagination > li.active span {
  color: #006800;
  border: 1px solid #006800;
}
html body .main-container section .region-content .pagination > li.pager__item--next span,
html body .main-container section .region-content .pagination > li.pager__item--last span {
  border: 0;
  padding: 0;
}
html body .main-container section .region-content .pagination > li > span {
  padding: 4px 7px;
  font-size: 15px;
}
@media (min-width: 420px) {
  html body .main-container section .region-content .pagination > li > span {
    padding: 4px 10px;
    font-size: 18px;
  }
}
html body .main-container section .region-content .field--label > h2 {
  font-size: 2rem;
  line-height: 2.6rem;
}
html body .main-container section .region-content .field--name-field-contact-information > .field--items > .field--item {
  margin-bottom: 20px;
}
html body .main-container section .region-content .field--name-field-contact-information > .field--items > .field--item:last-of-type {
  margin-bottom: 0;
}
html body .main-container section .region-content .align-left {
  margin-right: 10px;
}
html body .main-container section .region-content .align-center {
  width: 100%;
}
html body .main-container section .region-content .align-center img {
  margin: 0 auto;
}
html body .main-container section .region-content .align-right {
  margin-left: 10px;
}
@media screen and (max-width: 991px) {
  html body .main-container section .region-content .field--name-field-page-section {
    order: 2;
    float: none;
    clear: both;
    width: 100%;
    padding-bottom: 15px;
  }
}
html body .main-container section .region-content .field--name-field-page-section .paragraph--type--callout {
  width: 30%;
  float: right;
  margin-left: 10px;
  background: #f8fbfc;
  margin-bottom: 20px;
}
@media screen and (max-width: 991px) {
  html body .main-container section .region-content .field--name-field-page-section .paragraph--type--callout {
    width: 100%;
    float: none;
    margin-top: 20px;
  }
}
html body .main-container section .region-content .field--name-field-page-section .paragraph--type--callout h2 {
  font-size: 1.3em;
  color: #fff;
  background: #266c6c;
  padding: 10px;
  margin-top: 0;
  text-transform: uppercase;
}
@media screen and (max-width: 991px) {
  html body .main-container section .region-content .field--name-field-page-section .paragraph--type--callout h2 {
    margin-bottom: 5px;
  }
}
html body .main-container section .region-content .field--name-field-page-section .paragraph--type--callout p {
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
html body .main-container section .region-content .field--name-field-page-section .paragraph--type--callout ul li {
  line-height: 1.5;
  padding-bottom: 10px;
}
html body .main-container section .region-content .field--name-field-page-section .paragraph--type--callout .block-field-blockparagraphcalloutfield-body {
  padding-left: 15px;
  padding-right: 10px;
}
html body .main-container section .region-content .field--name-field-page-section .paragraph--type--contact-information {
  width: 30%;
  float: right;
  clear: right;
  margin-left: 10px;
  background: #f8fbfc;
  padding-bottom: 15px;
}
@media screen and (max-width: 991px) {
  html body .main-container section .region-content .field--name-field-page-section .paragraph--type--contact-information {
    width: 100%;
    float: none;
  }
}
html body .main-container section .region-content .field--name-field-page-section .paragraph--type--contact-information h2 {
  font-size: 1.3em;
  background: #ddf5fe;
  padding: 10px;
  margin-top: 0;
}
@media screen and (max-width: 991px) {
  html body .main-container section .region-content .field--name-field-page-section .paragraph--type--contact-information h2 {
    margin-bottom: 5px;
  }
}
html body .main-container section .region-content .field--name-field-page-section .paragraph--type--contact-information .field--label {
  padding-left: 15px;
  display: inline;
}
html body .main-container section .region-content .field--name-field-page-section .paragraph--type--contact-information .field--label:after {
  content: ": ";
}
html body .main-container section .region-content .field--name-field-page-section .paragraph--type--contact-information .field--item {
  display: inline;
}
@media screen and (max-width: 991px) {
  html body .main-container section .region-content .field--name-body,
  html body .main-container section .region-content .field-content {
    order: 1;
    float: none;
    clear: both;
    width: 100%;
    padding-bottom: 15px;
  }
}
html body .main-container section .region-content .field--name-body ul li,
html body .main-container section .region-content .field-content ul li {
  list-style-type: none;
  padding-left: 5px;
  position: relative;
}
html body .main-container section .region-content .field--name-body ul li::before,
html body .main-container section .region-content .field-content ul li::before {
  content: "\f45c";
  font-family: "Font Awesome 6 Free";
  width: 5px;
  height: 5px;
  color: var(--pdc-color-tertiary);
  font-weight: 700;
  font-size: 0.8rem;
  position: absolute;
  top: 2px;
  left: -10px;
}
html body .main-container section .region-content .field--name-body ul li ul li,
html body .main-container section .region-content .field-content ul li ul li {
  list-style-type: circle;
}
html body .main-container section .region-content .field--name-body ul li ul li::before,
html body .main-container section .region-content .field-content ul li ul li::before {
  display: none;
}
html body .main-container section .region-content .search-result h3,
html body .main-container section .region-content .search-results-highlighting-excerpt h3 {
  font-size: 2rem;
}
html body .wrapper-content-bottom {
  background: #383f59;
  padding-bottom: 70px;
}
html body .wrapper-content-bottom .block {
  color: #fff !important;
  margin-top: 40px;
}
html body .wrapper-content-bottom .block h2 {
  color: #fff;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 3.6rem;
  margin: 5px 0 10px 0;
  padding: 15px 0 0 0;
}
html body .wrapper-content-bottom .block h2::before {
  content: "";
  position: absolute;
  left: 0;
  width: 40px;
  border-top: 5px solid var(--pdc-color-tertiary);
  top: 0;
}
html body .wrapper-content-bottom .block h2::after {
  display: none;
}
html body .wrapper-content-bottom .block .field--item p {
  font-weight: 600;
}
html body .wrapper-content-bottom .block .field--item p a {
  color: #fff;
  text-decoration: underline;
}
html body .wrapper-content-bottom .block .field--item p a:hover {
  text-decoration: none;
  border-bottom: none;
  color: #f9f9a5;
}
html body .wrapper-content-middle,
html body .wrapper-content-middle-second {
  padding-bottom: 40px;
}
html body .wrapper-content-middle-second {
  background: var(--pdc-color-7);
  padding-top: 20px;
  padding-bottom: 40px;

  .block-views-blocknews-block-6 .views-field-field-date .field-content {
    color: var(--pdc-color-gray-67);
  }
}
html body .wrapper-content-middle-third {
  padding-bottom: 40px;
}
html body .footer {
  width: 100%;
  background: var(--pdc-color-primary);
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 45px;
  margin-top: 0;
  border-top: none;
}
@media screen and (max-width: 991px) {
  html body .footer .region-footer {
    display: block;
  }
}
html body .footer .region-footer .contextual-region .contextual ul li a {
  color: #333;
}
html body .footer .region-footer .block {
  margin-right: 15px;
  padding-left: 0;
  padding-right: 0;
}
html body .footer .region-footer .block:last-child {
  border-right: none;
}
@media screen and (max-width: 1199px) {
  html body .footer .region-footer .block {
    border-right: none;
    width: 47%;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 425px) {
  html body .footer .region-footer .block {
    width: 100%;
  }
}
html body .footer .region-footer .block#block-footer1 {
  width: 20%;
}
@media screen and (max-width: 1199px) {
  html body .footer .region-footer .block#block-footer1 {
    width: 47%;
  }
}
@media screen and (max-width: 425px) {
  html body .footer .region-footer .block#block-footer1 {
    width: 100%;
  }
}
html body .footer .region-footer .block h2 {
  color: #fff;
  font-size: 1.4em;
  font-weight: 300;
  margin-top: 0;
}
html body .footer .region-footer .block .field--name-body ul {
  padding-left: 0;
}
html body .footer .region-footer .block .field--name-body ul li {
  list-style-type: none;
  display: block;
  padding-right: 8px;
  padding-left: 3px;
}
html body .footer .region-footer .block .field--name-body ul li:last-child {
  border-right: none;
}
html body .footer .region-footer .block .field--name-body ul li a {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  line-height: 2.82rem;
  border-bottom: none;
}
html body .footer .region-footer .block .field--name-body ul li a:hover {
  color: #F9F9A5;
  border-bottom: none;
  text-decoration: underline;
  border-bottom: 0;
}
html body .footer .region-footer #block-footer4 .field--name-body a {
  font-size: 1.8rem;
  line-height: 3.4rem;
  display: inline-block;
}
html body .footer .region-footer #block-footer4 .field--name-body a .fontawesome-icon-inline {
  vertical-align: middle;
  display: inline-block;
  text-decoration: none;
}
html body .footer-bottom {
  background: #083854;
  padding: 20px;
}
html body .footer-bottom .region-footer-bottom #block-copyright {
  border-right: none;
}
html body .footer-bottom .region-footer-bottom #block-copyright .field--name-body p {
  color: #fff;
  text-align: center;
  font-weight: 300;
  margin-bottom: 0;
}
html body .footer-bottom .region-footer-bottom #block-copyright .field--name-body a {
  color: #fff;
  border-bottom: 0.5pt dotted #5b9abe;
  font-size: 1em;
  font-weight: 300;
}
html body .footer-bottom .region-footer-bottom #block-copyright .field--name-body a:hover {
  color: #f9f9a5;
  border-bottom: none;
  text-decoration: none;
}
html body.enforcement-case-view h1 {
  font-size: 3rem;
  line-height: 3.2rem;
  margin-top: 0;
}
html body.enforcement-case-view h2 {
  margin-bottom: 0;
  font-size: 2.4rem !important;
  line-height: 2.6rem !important;
}
html body.enforcement-case-view.page-node-166 h1 {
  font-size: 5.6rem;
  line-height: 7.3rem;
  margin-top: 10px;
}
html body.page-node-222 h2 {
  font-size: 2.4rem !important;
  line-height: 2.6rem !important;
}
html body.page-node-222 .views-row {
  margin-bottom: 35px;
}
html body.page-node-114 .field--name-body p a {
  font-weight: 400 !important;
}
html body.path-frontpage section .page-header {
  padding: 0;
  margin: 0;
  border-bottom: none;
}
html body.path-frontpage .wrapper-content-top {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  background-image: url("/themes/drupalbase_custom/assets/images/homepageStateCapitol.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
html body.path-frontpage .wrapper-content-top #block-homepageblock1 h1 {
  margin-top: 0;
}
html body.path-frontpage .wrapper-content-top #block-homepageblock1 h1::after {
  display: none;
}
html body.path-frontpage .wrapper-content-top #block-homepageblock1 .field--name-body {
  font-size: 2rem;
  font-weight: 500;
}
html body.path-frontpage .wrapper-content-top #block-homepageblock1 .field--name-body a {
  color: #fff;
  text-decoration: underline;
}
html body.path-frontpage .wrapper-content-top #block-homepageblock1 .field--name-body a:hover {
  text-decoration: none;
}
html body.path-frontpage .wrapper-content-top #block-homepageblock1 figure.align-left > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
html body.path-frontpage .wrapper-content-top #block-homepageblock1 figure.align-left > div .field--name-field-media-image {
  margin-right: 20px;
}
html body.path-frontpage .wrapper-content-top #block-homepageblock1 figure.align-left > div .field--name-field-caption {
  max-width: 200px;
  font-size: 1.8rem;
  font-weight: normal;
}
.pdc-mt-2 {
  margin-top: 10px;
}
.pdc-date {
  color: #000000;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
  display: flex;
  gap: 5px;
}
.view-contribution-limits .form-required:after {
  display: none;
}
/* Do NOT mess with the admin toolbar's auto margin/padding */
@media screen and (min-width: 992px) {
  html body.adminimal-admin-toolbar {
    margin-top: initial;
  }
  html body.adminimal-admin-toolbar.toolbar-tray-open {
    margin-top: initial;
  }
}
/**
 * PDC has always extended .contaienr to 1260px, but BS3 only caps at xl with
 * 1200px (container width 1170px). It wasn't until BS4 that it gained an xxl.
 * This adds that xxl breakpoint (1400px) but capped at 1260px.
 */
@media (min-width: 1400px) {
  .container {
    width: var(--pdc-grid-max);
  }
}
ul.dropdown-menu {
  width: 100%;
  padding: 0;
  min-width: 300px;
  overflow-x: hidden;
}
ul.dropdown-menu > li {
  padding-bottom: 0 !important;
}
ul.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400 !important;
  line-height: 1.42857143;
  color: #333 !important;
  white-space: nowrap;
  padding-left: 40px !important;
  text-decoration: none !important;
}
@media (min-width: 768px) {
  .form-inline .input-group {
    width: calc(100% + 8px);
  }
  .dropdown-menu > li > a {
    padding-left: 20px !important;
  }
}
.input-group .form-control:not(:first-child):not(:last-child),
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  height: 38.5px;
}
