//font-family: 'Open Sans', sans-serif;
//font-family: 'Roboto', sans-serif;
//font-family: 'Gayathri', sans-serif;
//font-family: 'Alegreya Sans', sans-serif;
//font-family: 'Quattrocento Sans', sans-serif;

@import "global.less";
@import (reference) "mixins.less";

@max1440: ~"screen and (max-width: 1440px)";
@max1366: ~"screen and (max-width: 1366px)";
@min1200: ~"screen and (min-width: 1200px)";
@max1199: ~"screen and (max-width: 1199px)";
@max1024: ~"screen and (max-width: 1024px)";
@min992: ~"screen and (min-width: 992px)";
@max991: ~"screen and (max-width: 991px)";
@max800: ~"screen and (max-width: 800px)";
@max767: ~"screen and (max-width: 767px)";
@max600: ~"screen and (max-width: 600px)";
@max425: ~"screen and (max-width: 425px)";
@max375: ~"screen and (max-width: 375px)";
@max320: ~"screen and (max-width: 320px)";

html {
  font-size: 62.5%;

  body {
    margin-top: 0;
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000;

    .dialog-off-canvas-main-canvas {
      overflow: hidden;
    }

    .word-break-styles {
      overflow-wrap: break-word;
      word-break: break-word; /* for older browsers */
      white-space: normal;
    }

    h1 {
      position: relative;
      font-weight: bold;
      color: var(--pdc-color-secondary);
      font-size: 4.8rem;
      line-height: 5.4rem;
      padding-bottom: 15px;
      margin-bottom: 10px !important;
      border-bottom: none !important;
      .word-break-styles();
    }

    h2,
    h3,
    h4,
    h5 {
      font-weight: bold;
      color: var(--pdc-color-secondary);
      .word-break-styles();
    }

    h2 {
      font-size: 4rem;
      line-height: 4.5rem;
      position: relative;
      padding-bottom: 15px;
      margin-bottom: 10px;

      &::after {
        .heading-border();
        bottom: 0;
      }
    }

    h3 {
      position: relative;
      font-size: 2.8rem;
      line-height: 3.5rem;
      margin: 5px 0 10px 0;
      padding: 15px 0 0 0;

      &::before {
        .heading-border();
        top: 0;
      }
    }

    h4 {
      font-size: 2.4rem;
      line-height: 3.1rem;
    }

    h5 {
      font-size: 2rem;
      line-height: 2.6rem;
    }

    h6 {
      font-size: 1.8rem;
      line-height: 2.4rem;
    }

    @media @max767 {
      font-size: 1.6rem;
      line-height: 2.6rem;

      h1 {
        font-size: 4rem;
        line-height: 4.5rem;
      }

      h2 {
        font-size: 3.2rem;
        line-height: 3.6rem;
      }

      h3 {
        font-size: 2.4rem;
        line-height: 2.8rem;
      }

      h4 {
        font-size: 2rem;
        line-height: 2.6rem;
      }

      h5 {
        font-size: 1.8rem;
        line-height: 2.4rem;
      }

      h6 {
        font-size: 1.6rem;
        line-height: 2.2rem;
      }
    }

    p {
      margin-bottom: 20px;
    }

    ol.breadcrumb {
      background: none;
      padding: 8px 15px 8px 0;
      margin-bottom: 0;

      @media @max1024 {
        margin-left: 10px;
        padding-right: 10px;
      }

      @media @max800 {
        margin-left: 0px;
      }

      li {
        font-size: 1.4rem;
        padding-bottom: 0;
        margin-bottom: 0;

        &.active {
          color: var(--pdc-color-active);
        }

        a {
          border-bottom: none;
          color: var(--pdc-color-secondary);
          font-weight: 700;

          &:hover {
            border-bottom: 1px dotted var(--pdc-color-secondary);
            text-decoration: none;
          }
        }
      }

      li + li {
        &:before {
          content: "\f054";
          font-family: "Font Awesome 6 Free";
          font-weight: 900;
          color: var(--pdc-color-secondary);
        }
      }
    }

    .main-container {
        .field--name-field-event-date {
          font-weight: 600 !important;
          font-style: italic;
          color: var(--pdc-color-6) !important;
          margin-bottom: 10px;
        }

        aside {
          .region-sidebar-left {
            margin-top: 60px;
          }

          .region-sidebar-right {
            background: none !important;

            #block-relatedtopics {
              .bordered-box();
              margin-bottom: 20px;

              .field--label {
                display: none;
              }

              h2 {
                font-size: 1.6rem;
                line-height: 2rem;
                padding: 16px;
                margin: 0;
                border-bottom: 1px solid #dddddd;

                &:after {
                  display: none;
                  content: "";
                }
              }

              a {
                color: var(--pdc-color-secondary);
                text-decoration: none;
                border-bottom: 1px dotted;
                font-size: 1.4rem;
                line-height: 1.4rem;

                &:hover {
                  border-bottom: none;
                }
              }

              p {
                padding: 0 16px 0 16px;
                margin-bottom: 8px;
                font-size: 1.4rem;
              }
            }
          }
        }

        section {
          .region-content {
            margin-bottom: 20px;

            figcaption {
              font-size: 1.5rem;
              text-align: left;
              line-height: 1.2;
              padding-top: 5px;
            }

            h2 {
              padding: 0;
              font-size: 3.6rem;
              line-height: 4.2rem;
              .word-break-styles();

              &::after {
                display: none;
              }
            }

            h3 {
              padding: 0;
              margin-top: 20px;
              margin-bottom: 10px;
              font-size: 3rem;
              line-height: 3.4rem;

              &::before {
                display: none;
              }
            }

            a.btn {
              color: #fff !important;
              font-size: 2.2rem;
              font-weight: 700 !important;
              text-decoration: none;
              background: var(--pdc-color-primary);
              border-radius: 4px;
              padding: 17px 28px;
              border-bottom: none !important;
              transition: all 0.5s ease;

              &:hover {
                background: #0b354d;
                text-decoration: none;
                border-bottom: none;
              }
            }

            .pagination > li {

              a {
                border: 1px solid #ddd ;
                color: #383F59;
                font-size: 15px;
                text-decoration: none;
                padding: 4px 8px;

                @media (min-width: 420px) {
                  padding: 4px 10px;
                  font-size: 18px;
                }
              }

              &.active {
                a,span {
                  color: #006800;
                  border:1px solid #006800 ;
                }
              }

              &.pager__item--next, &.pager__item--last {
                span {
                  border: 0;
                  padding: 0;
                }

              }

              > span {
                padding: 4px 7px;
                font-size: 15px;

                @media (min-width: 420px) {
                  padding: 4px 10px;
                  font-size: 18px;
                }
              }
            }

            .field--label > h2 {
              font-size: 2rem;
              line-height: 2.6rem;
            }

            .field--name-field-contact-information
            > .field--items
            > .field--item {
              margin-bottom: 20px;

              &:last-of-type {
                margin-bottom: 0;
              }
            }

            /******* Images margins ********/
            .align-left {
              margin-right: 10px;
            }

            .align-center {
              width: 100%;

              img {
                margin: 0 auto;
              }
            }

            .align-right {
              margin-left: 10px;
            }

            .field--name-field-page-section {
              @media @max991 {
                order: 2;
                float: none;
                clear: both;
                width: 100%;
                padding-bottom: 15px;
              }

              .paragraph--type--callout {
                width: 30%;
                float: right;
                margin-left: 10px;
                background: #f8fbfc;
                margin-bottom: 20px;

                @media @max991 {
                  width: 100%;
                  float: none;
                  margin-top: 20px;
                }

                h2 {
                  font-size: 1.3em;
                  color: #fff;
                  background: #266c6c;
                  padding: 10px;
                  margin-top: 0;
                  text-transform: uppercase;

                  @media @max991 {
                    margin-bottom: 5px;
                  }
                }

                p {
                  margin-bottom: 15px;
                  padding-left: 10px;
                  padding-right: 10px;
                }

                ul {
                  li {
                    line-height: 1.5;
                    padding-bottom: 10px;
                  }
                }

                .block-field-blockparagraphcalloutfield-body {
                  padding-left: 15px;
                  padding-right: 10px;
                }
              }

              .paragraph--type--contact-information {
                width: 30%;
                float: right;
                clear: right;
                margin-left: 10px;
                background: #f8fbfc;
                padding-bottom: 15px;

                @media @max991 {
                  width: 100%;
                  float: none;
                }

                h2 {
                  font-size: 1.3em;
                  background: #ddf5fe;
                  padding: 10px;
                  margin-top: 0;

                  @media @max991 {
                    margin-bottom: 5px;
                  }
                }

                .field--label {
                  padding-left: 15px;
                  display: inline;

                  &:after {
                    content: ": ";
                  }
                }

                .field--item {
                  display: inline;
                }
              }
            }

            .field--name-body,
            .field-content {
              @media @max991 {
                order: 1;
                float: none;
                clear: both;
                width: 100%;
                padding-bottom: 15px;
              }

              ul {
                li {
                  list-style-type: none;
                  padding-left: 5px;
                  position: relative;

                  &::before {
                    content: "\f45c";
                    font-family: "Font Awesome 6 Free";
                    width: 5px;
                    height: 5px;
                    color: var(--pdc-color-tertiary);
                    font-weight: 700;
                    font-size: 0.8rem;
                    position: absolute;
                    top: 2px;
                    left: -10px;
                  }

                  ul {
                    li {
                      list-style-type: circle;

                      &::before {
                        display: none;
                      }
                  }
                }
              }
            }
          }

          // Search results entity view modes for nodes and media respectively.
          .search-result h3,
          .search-results-highlighting-excerpt h3 {
            font-size: 2rem;
          }
        }
      }
    }

    .wrapper-content-bottom {
      background: #383f59;
      padding-bottom: 70px;

        .block {
          color: #fff !important;
          margin-top: 40px;

          h2 {
            color: #fff;
            font-size: 2.8rem;
            font-weight: 600;
            line-height: 3.6rem;
            margin: 5px 0 10px 0;
            padding: 15px 0 0 0;

            &::before {
              .heading-border();
              top: 0;
            }

            &::after {
              display: none;
            }
          }

          .field--item {
            p {
              font-weight: 600;

              a {
                color: #fff;
                text-decoration: underline;


                &:hover {
                  text-decoration: none;
                  border-bottom: none;
                  color: #f9f9a5;
                }
              }
            }
          }
        }
    }

    .wrapper-content-middle,
    .wrapper-content-middle-second {
      padding-bottom: 40px;
    }

    .wrapper-content-middle-second {
      background: var(--pdc-color-7);
      padding-top: 20px;
      padding-bottom: 40px;
    }

    .wrapper-content-middle-third {
      padding-bottom: 40px;
    }

    .footer {
      width: 100%;
      background: var(--pdc-color-primary);
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 45px;
      margin-top: 0;
      border-top: none;

      .region-footer {
          @media @max991 {
            display: block;
          }

          .contextual-region .contextual ul li a {
            color: #333;
          }

          .block {
            margin-right: 15px;
            padding-left: 0;
            padding-right: 0;

            &:last-child {
              border-right: none;
            }

            @media @max1199 {
              border-right: none;
              width: 47%;
              padding-bottom: 20px;
            }

            @media @max425 {
              width: 100%;
            }

            &#block-footer1 {
              width: 20%;

              @media @max1199 {
                width: 47%;
              }

              @media @max425 {
                width: 100%;
              }
            }

            h2 {
              color: #fff;
              font-size: 1.4em;
              font-weight: 300;
              margin-top: 0;
            }

            .field--name-body {
              ul {
                padding-left: 0;

                li {
                  list-style-type: none;
                  display: block;
                  padding-right: 8px;
                  padding-left: 3px;

                  &:last-child {
                    border-right: none;
                  }

                  a {
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: #fff;
                    line-height: 2.82rem;
                    border-bottom: none;

                    &:hover {
                      color: #F9F9A5;
                      border-bottom: none;
                      text-decoration: underline;
                      border-bottom: 0;
                    }
                  }
                }
              }
            }
          }

          #block-footer4 {
            .field--name-body {
              a {
                font-size: 1.8rem;
                line-height: 3.4rem;
                display: inline-block;

                .fontawesome-icon-inline {
                  vertical-align: middle;
                  display: inline-block;
                  text-decoration: none;
                }
              }
            }
          }
        }
    }

    .footer-bottom {
      background: #083854;
      padding: 20px;

        .region-footer-bottom {
          #block-copyright {
            border-right: none;

            .field--name-body {
              p {
                color: #fff;
                text-align: center;
                font-weight: 300;
                margin-bottom: 0;
              }

              a {
                color: #fff;
                border-bottom: 0.5pt dotted #5b9abe;
                font-size: 1em;
                font-weight: 300;

                &:hover {
                  color: #f9f9a5;
                  border-bottom: none;
                  text-decoration: none;
                }
              }
            }
          }
        }
    }
    &.enforcement-case-view {
      h1 {
        font-size: 3rem;
        line-height: 3.2rem;
        margin-top: 0;
      }
      h2 {
        margin-bottom: 0;
        font-size: 2.4rem !important;
        line-height: 2.6rem !important;
      }
      &.page-node-166 {
        h1 {
          font-size: 5.6rem;
          line-height: 7.3rem;
          margin-top: 10px;
        }
      }
    }
    &.page-node-222 {
      h2 {
        font-size: 2.4rem !important;
        line-height: 2.6rem !important;
      }
      .views-row {
        margin-bottom: 35px;
      }
    }
    &.page-node-114 {
      .field--name-body {
        p {
          a {
            font-weight: 400 !important;
          }
        }
      }
    }
    /* front page styles */
    &.path-frontpage {
      section {
        .page-header {
          padding: 0;
          margin: 0;
          border-bottom: none;
        }
      }

      .wrapper-content-top {
        padding-top: 40px;
        padding-bottom: 40px;
        margin-bottom: 40px;
        background-image: url("/themes/drupalbase_custom/assets/images/homepageStateCapitol.jpg");
        background-size: 100%;
        background-repeat: no-repeat;

            #block-homepageblock1 {

              h1 {
                margin-top: 0;

                &::after {
                  display: none;
                }
              }

              .field--name-body {
                font-size: 2rem;
                font-weight: 500;
                a {
                  color: #fff;
                  text-decoration: underline;
                  &:hover {
                    text-decoration: none;
                  }
                }
              }

              figure.align-left > div {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 20px;

                .field--name-field-media-image {
                  margin-right: 20px;
                }

                .field--name-field-caption {
                  max-width: 200px;
                  font-size: 1.8rem;
                  font-weight: normal;
                }
              }
            }
      }
    }
  }
}

// custom classes
.pdc-mt-2 {
  margin-top: 10px;
}
.pdc-date {
  color: #000000;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
  display: flex;
  gap: 5px;
}

.view-contribution-limits {
  .form-required {
    &:after {
      display: none;
    }
  }
}

/* Do NOT mess with the admin toolbar's auto margin/padding */
@media @min992 {
  html body.adminimal-admin-toolbar {
    margin-top: initial;
  }
  html body.adminimal-admin-toolbar.toolbar-tray-open {
    margin-top: initial;
  }
}

/**
 * PDC has always extended .contaienr to 1260px, but BS3 only caps at xl with
 * 1200px (container width 1170px). It wasn't until BS4 that it gained an xxl.
 * This adds that xxl breakpoint (1400px) but capped at 1260px.
 */
@media (min-width: 1400px) {
  .container {
    width: var(--pdc-grid-max)
  }
}

ul.dropdown-menu {
  width: 100%;
  padding: 0;
  min-width: 300px;
  overflow-x: hidden;

  > li {
    padding-bottom: 0 !important;

    > a {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: 400 !important;
      line-height: 1.42857143;
      color: #333 !important;
      white-space: nowrap;
      padding-left: 40px !important;
      text-decoration: none !important;
    }
  }
}

@media (min-width: 768px) {
  .form-inline .input-group {
    width: calc(100% + 8px);
  }
  .dropdown-menu > li > a {
    padding-left: 20px !important;
  }
}

.input-group .form-control:not(:first-child):not(:last-child), .input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child),
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
  height: 38.5px;
}
