:root {

  --pdc-color-1: #006800;
  --pdc-color-2: #38853C;
  --pdc-color-3: #E49600;
  --pdc-color-4: #B11E2C;
  --pdc-color-5: #383F59;
  --pdc-color-6: #767676;
  --pdc-color-7: #EAEAEA;
  --pdc-color-8: #2B2B2B;
  --pdc-color-9: #014F02;
  --pdc-color-10: #72AB72;
  --pdc-color-11: #C7C8CB;
  --pdc-color-12: #EFEFEF;
  --pdc-color-13: #DDDDDD;
  --pdc-color-14: #174EA6;
  --pdc-color-15: #BEDDC0;
  --pdc-color-black: #000;
  --pdc-color-gray-87: #222;
  --pdc-color-gray-80: #333;
  --pdc-color-gray-77: #363636;
  --pdc-color-gray-75: #404040;
  --pdc-color-gray-73: #444;
  --pdc-color-gray-67: #555;
  --pdc-color-gray-60: #666;
  --pdc-color-gray-50: #808080;
  --pdc-color-gray-40: #999;
  --pdc-color-gray-30: #aaa;
  --pdc-color-gray-20: #ccc;
  --pdc-color-gray-15: #d8d8d8;
  --pdc-color-white: #fff;
  --pdc-color-primary: var(--pdc-color-1);
  --pdc-color-secondary: var(--pdc-color-5);
  --pdc-color-tertiary: var(--pdc-color-3);
  --pdc-color-success: var(--pdc-color-10);
  --pdc-color-info: var(--pdc-color-14);
  --pdc-color-warning: var(--pdc-color-3);
  --pdc-color-danger: var(--pdc-color-4);
  --pdc-color-active: var(--pdc-color-6);

  /* Icons */
  --pdc-font-sans: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --pdc-font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --pdc-font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  --pdc-font-primary: var(--pdc-font-sans);
  --pdc-font-secondary: var(--pdc-font-sans);
  --pdc-font-icons: 'Font Awesome 6 Free', sans-serif;
  --pdc-font-icons-regular: 400;
  --pdc-font-icons-solid: 900;

  /* Font weights */
  --pdc-font-weight-thin: 100;
  --pdc-font-weight-extra-light: 200;
  --pdc-font-weight-light: 300;
  --pdc-font-weight-normal: 400;
  --pdc-font-weight-medium: 500;
  --pdc-font-weight-semi-bold: 600;
  --pdc-font-weight-bold: 700;
  --pdc-font-weight-extra-bold: 800;
  --pdc-font-weight-black: 900;

  /* Line heights */
  --pdc-line-height-1: 1;
  --pdc-line-height-sm: 1.25;
  --pdc-line-height-base: 1.5;
  --pdc-line-height-lg: 2;

  /* Font scale, modified because Bootstrap 3 defaults to 10px instead of 16px. */
  --pdc-font-size-1: 5.0rem;
  --pdc-font-size-2: 3.8rem;
  --pdc-font-size-3: 2.8rem;
  --pdc-font-size-4: 2.2rem;
  --pdc-font-size-5: 1.8rem;
  --pdc-font-size-6: 1.6rem;
  --pdc-font-size-sm: 1.2rem;

  /* Space, modified because Bootstrap 3 defaults to 10px instead of 16px. */
  --pdc-spacer-base: 1.6rem;
  --pdc-spacer-multiplier-0: 0;
  --pdc-spacer-multiplier-1: 0.25;
  --pdc-spacer-multiplier-2: 0.5;
  --pdc-spacer-multiplier-3: 1;
  --pdc-spacer-multiplier-4: 1.5;
  --pdc-spacer-multiplier-5: 3;
  --pdc-spacer-0: calc(var(--pdc-spacer-base) * var(--pdc-spacer-multiplier-0));
  --pdc-spacer-1: calc(var(--pdc-spacer-base) * var(--pdc-spacer-multiplier-1));
  --pdc-spacer-2: calc(var(--pdc-spacer-base) * var(--pdc-spacer-multiplier-2));
  --pdc-spacer-3: calc(var(--pdc-spacer-base) * var(--pdc-spacer-multiplier-3));
  --pdc-spacer-4: calc(var(--pdc-spacer-base) * var(--pdc-spacer-multiplier-4));
  --pdc-spacer-5: calc(var(--pdc-spacer-base) * var(--pdc-spacer-multiplier-5));
  --pdc-spacer-n1: calc(var(--pdc-spacer-1) * -1);
  --pdc-spacer-n2: calc(var(--pdc-spacer-2) * -1);
  --pdc-spacer-n3: calc(var(--pdc-spacer-3) * -1);
  --pdc-spacer-n4: calc(var(--pdc-spacer-4) * -1);
  --pdc-spacer-n5: calc(var(--pdc-spacer-5) * -1);

  /* Grid */
  --pdc-grid-gutter-x: var(--pdc-spacer-base);
  --pdc-grid-gutter-y: 0;
  --pdc-grid-breakpoint-xs: 0;
  --pdc-grid-breakpoint-sm: 576px;
  --pdc-grid-breakpoint-md: 768px;
  --pdc-grid-breakpoint-lg: 992px;
  --pdc-grid-breakpoint-xl: 1200px;
  --pdc-grid-breakpoint-xxl: 1400px;
  /* Based on the many hardcoded max-widths in style.less */
  --pdc-grid-max: 1260px;

  /* Text colors */
  --pdc-text-dark: var(--pdc-color-black);
  --pdc-text-dark-muted: var(--pdc-color-gray-80);
  --pdc-text-light: var(--pdc-color-white);
  --pdc-text-light-muted: var(--pdc-color-gray-20);

  /* Default text */
  --pdc-font-base-size: 16px;
  --pdc-font-base-family: var(--pdc-font-primary);
  --pdc-font-base-weight: var(--pdc-font-weight-normal);
  --pdc-font-base-line-height: 1.5;
  --pdc-font-base-color: var(--pdc-text-dark);
  --pdc-font-base-color-inverted: var(--pdc-text-light);

  /* z-index */
  --pdc-z-index-dropdown: 300;
  --pdc-z-index-sticky: 320;
  --pdc-z-index-fixed: 330;
  --pdc-z-index-offcanvas-backdrop: 340;
  --pdc-z-index-offcanvas: 345;
  --pdc-z-index-modal-backdrop: 350;
  --pdc-z-index-modal: 355;
  --pdc-z-index-popover: 370;
  --pdc-z-index-tooltip: 380;

  /* Alert */
  --pdc-alert-icon-size: 5.0rem;
  --pdc-alert-content-spacing: 1.6rem;
  --pdc-alert-bg-warning: #fdf7ed;
  --pdc-alert-bg-danger: #f6e7e7;
  --pdc-alert-fg-color: #575757;
  --pdc-alert-icon-warning: "\f071";
  --pdc-alert-icon-danger: "\f06a";

  /* Links */
  --pdc-link-color: var(--pdc-color-secondary);
  --pdc-link-color-inverted: var(--pdc-text-light);
  --pdc-link-decoration: underline;
  --pdc-link-hover-color: var(--pdc-color-secondary);
  --pdc-link-hover-color-inverted: var(--pdc-text-light-muted);
  --pdc-link-hover-decoration: none;
  --pdc-link-visited-color: var(--pdc-color-secondary);
  --pdc-link-visited-color-inverted: var(--pdc-text-light-muted);
  --pdc-link-visited-decoration: underline;
  --pdc-link-active-color: var(--pdc-color-secondary);
  --pdc-link-active-color-inverted: var(--pdc-text-light-muted);
  --pdc-link-active-decoration: underline;
}
