/* Global Mobile Breakpoints */
html body {
  /**** Pills/chiclets ****/
  /**** Bios Nodes ****/
  /**** end Bios nodes ****/
  /**** Audience Landing Page ****/
  /**** Front Page View Blocks ****/
  /* Guidelines and Restrictions Landing Page */
  /* FAQ accordion blocks inbetween spacing */
}
html body #block-summary {
  font-style: italic;
  font-size: 20px;
  line-height: 31px;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  color: #383F59;
}
html body #block-summary::after {
  content: "";
  position: absolute;
  left: 0;
  width: 40px;
  border-top: 5px solid var(--pdc-color-tertiary);
  bottom: 0;
}
html body:not(:has(#block-summary)) h1::after {
  content: "";
  position: absolute;
  left: 0;
  width: 40px;
  border-top: 5px solid var(--pdc-color-tertiary);
  bottom: 0;
}
html body .main-container .row section .region-content {
  /*.field--name-field-media-image {
              float: right;
              margin-left: 10px;
            }

            .views-field-field-media-image {
              float: right;
              margin-left: 10px;
            }*/
  /*.field--label {
              h2 {
                font-size: 1.4em;
                font-weight: 400;
                margin-bottom: 1px;
              }
            }*/
  /**** Events Nodes ****/
  /**** News Node ****/
}
html body .main-container .row section .region-content .chosen-container {
  padding: 2px;
}
html body .main-container .row section .region-content .chosen-container .chosen-choices {
  border: none;
  box-shadow: none;
  background-image: none;
}
html body .main-container .row section .region-content .view-filters.form-group .views-exposed-form .form-inline {
  /*display: flex;
                  justify-content: flex-start;*/
}
@media screen and (max-width: 1199px) {
  html body .main-container .row section .region-content .view-filters.form-group .views-exposed-form .form-inline {
    display: block;
  }
}
html body .main-container .row section .region-content .view-filters.form-group .views-exposed-form .form-inline .form-item {
  padding-right: 10px;
  float: none;
}
@media screen and (max-width: 1199px) {
  html body .main-container .row section .region-content .view-filters.form-group .views-exposed-form .form-inline .form-item {
    padding-bottom: 10px;
    margin-bottom: 0;
  }
}
html body .main-container .row section .region-content .view-filters.form-group .views-exposed-form .form-inline .form-item .control-label {
  color: #575757;
  font-size: 1.6rem;
  display: block;
}
html body .main-container .row section .region-content .view-filters.form-group .views-exposed-form .form-inline .form-item .select-wrapper:after {
  color: var(--pdc-color-secondary);
  content: '\f078';
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
}
html body .main-container .row section .region-content .view-filters.form-group .views-exposed-form .form-inline .form-item .multiselect.dropdown-toggle {
  padding-right: 30px;
  overflow: auto !important;
  text-overflow: unset !important;
  white-space: normal !important;
}
html body .main-container .row section .region-content .view-filters.form-group .views-exposed-form .form-inline .form-item .multiselect.dropdown-toggle b.caret {
  border: none;
}
html body .main-container .row section .region-content .view-filters.form-group .views-exposed-form .form-inline .form-item .multiselect.dropdown-toggle b.caret:after {
  color: #383F59;
  content: '\f078';
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  position: absolute;
  top: 3px;
  right: 5px;
  font-size: 1.8rem;
}
html body .main-container .row section .region-content .view-filters.form-group .views-exposed-form .form-inline .form-item .multiselect .multiselect-item li a {
  font-weight: 400;
}
html body .main-container .row section .region-content .view-filters.form-group .views-exposed-form .form-inline .form-actions .btn-info {
  background-color: var(--pdc-color-primary);
  transition: background 0.5s ease;
  border-color: var(--pdc-color-primary);
  margin-top: 25px;
  color: #fff;
}
html body .main-container .row section .region-content .view-filters.form-group .views-exposed-form .form-inline .form-actions .btn-info:hover {
  background-color: var(--pdc-color-secondary);
  color: #fff;
}
@media screen and (max-width: 1199px) {
  html body .main-container .row section .region-content .view-filters.form-group .views-exposed-form .form-inline .form-actions .btn-info {
    margin-top: -5px;
  }
}
html body .main-container .row section .region-content .view-filters.form-group .views-exposed-form .form-inline .form-actions .btn-danger {
  background-color: var(--pdc-color-primary);
  transition: background 0.5s ease;
  border-color: var(--pdc-color-primary);
  margin-top: 25px;
  color: #fff;
}
html body .main-container .row section .region-content .view-filters.form-group .views-exposed-form .form-inline .form-actions .btn-danger:hover {
  background-color: var(--pdc-color-secondary);
  color: #fff;
}
@media screen and (max-width: 1199px) {
  html body .main-container .row section .region-content .view-filters.form-group .views-exposed-form .form-inline .form-actions .btn-danger {
    margin-top: -5px;
  }
}
html body .main-container .row section .region-content .view {
  /* JL disabling to test if needed
              h2 {
                font-size: 1.4em;
                font-weight: 400;
                margin-bottom: 1px;
                margin-top: 0;
              }*/
}
html body .main-container .row section .region-content .view nav.pager-nav .pagination > .active > a {
  border: 1px solid var(--pdc-color-active);
  color: var(--pdc-color-active);
}
html body .main-container .row section .region-content .view nav.pager-nav a {
  color: #000;
  font-weight: 600;
  border: 1px solid #767676;
  background-color: transparent;
}
html body .main-container .row section .region-content .view nav.pager-nav li:before {
  display: none;
  content: '';
}
html body .main-container .row section .region-content .view-id-commission_meetings .views-field {
  /*margin-bottom: 20px;*/
}
html body .main-container .row section .region-content .view-id-commission_meetings .views-field > h2 {
  font-size: 2rem;
  line-height: 2.6rem;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
}
html body .main-container .row section .region-content .view-id-commission_meetings .views-field.views-field-field-event-date {
  margin-bottom: 10px;
}
html body .main-container .row section .region-content .view-id-commission_meetings.view-display-id-block_1 {
  margin-top: 20px;
}
html body .main-container .row section .region-content .view-display-id-filtered_list .views-row {
  margin: 10px 0;
}
html body .main-container .row section .region-content .view-display-id-filtered_list .views-row .views-field-field-event-date {
  font-weight: 600;
  font-style: italic;
  color: #767676;
}
html body .main-container .row section .region-content .view-bios .views-row {
  display: flex;
}
html body .main-container .row section .region-content .view-bios .views-row:last-child {
  border-bottom: none;
}
html body .main-container .row section .region-content .view-bios .views-row:first-child {
  padding-top: 0;
}
html body .main-container .row section .region-content .view-bios .views-row .views-field-nothing {
  float: none;
  clear: left;
}
html body .main-container .row section .region-content .view-bios .views-row .views-field-nothing h2 {
  font-size: 2rem !important;
  margin-top: 20px;
  overflow-wrap: break-word;
  word-break: break-word;
  /* for older browsers */
  white-space: normal;
}
html body .main-container .row section .region-content .view-bios .views-row .views-field-nothing .col-lg-9 {
  padding-left: 0;
}
html body .main-container .row section .region-content .view-bios.view-display-id-page_2 {
  text-align: center;
}
html body .main-container .row section .region-content .view-bios.view-display-id-page_2 .col {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}
html body .main-container .row section .region-content .view-bios.view-display-id-page_2 .col .views-field-nothing {
  background: #fff;
  border-radius: 4px;
  min-width: 285px;
  margin-left: 10px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.59);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.59);
}
@media screen and (max-width: 767px) {
  html body .main-container .row section .region-content .view-bios.view-display-id-page_2 .col .views-field-nothing {
    margin-left: 0;
  }
}
html body .main-container .row section .region-content .view-bios.view-display-id-page_2 .col .views-field-nothing .bio-wrapper {
  min-height: 380px;
}
html body .main-container .row section .region-content .view-bios.view-display-id-page_2 .col .views-field-nothing .bio-wrapper .bio-img {
  padding-top: 20px;
  margin-bottom: 15px;
}
html body .main-container .row section .region-content .view-bios.view-display-id-page_2 .col .views-field-nothing .bio-wrapper .bio-img img {
  width: 111px;
  margin: auto;
}
html body .main-container .row section .region-content .view-bios.view-display-id-page_2 .col .views-field-nothing .bio-wrapper h2 {
  font-size: 1.2em;
  line-height: 1.2;
  margin-top: 10px;
  margin-bottom: 5px;
}
html body .main-container .row section .region-content .view-bios.view-display-id-page_2 .col .views-field-nothing .bio-wrapper h2 a {
  border-bottom: none;
}
html body .main-container .row section .region-content .view-bios.view-display-id-page_2 .col .views-field-nothing .bio-wrapper h3 {
  font-size: 1.1em;
  margin-top: 3px;
}
html body .main-container .row section .region-content .view-bios.view-display-id-page_2 .col .views-field-nothing .bio-wrapper .text p {
  line-height: 1.3;
  padding: 5px;
}
html body .main-container .row section .region-content .view-bios.view-display-id-page_2 .col .views-field-nothing .bio-wrapper .info {
  margin-top: 12px;
  line-height: 1.2;
}
html body .main-container .row section .region-content .view-bios.view-display-id-page_2 .col .views-field-nothing .bio-wrapper .info a {
  border-bottom: none;
}
html body .main-container .row section .region-content .view-events .views-exposed-form {
  float: right;
}
html body .main-container .row section .region-content .view-events .views-exposed-form .form-item-field-calendar-category-target-id {
  margin-top: -15px;
}
html body .main-container .row section .region-content .view-events .views-exposed-form .form-control {
  line-height: 2rem;
}
html body .main-container .row section .region-content .view-events .view-content .fc-right {
  display: none;
}
html body .main-container .row section .region-content .view-events .view-content .fc-month-view .fc-scroller {
  height: 100% !important;
  overflow: visible !important;
}
html body .main-container .row section .region-content .view-events .view-content .fc-month-view .fc-row {
  min-height: 7em;
}
html body .main-container .row section .region-content .view-events .view-content .fc-month-view .fc-row td {
  border-right: 1px solid #ccc;
}
html body .main-container .row section .region-content .view-events .view-content .fc-month-view .fc-head .fc-row {
  min-height: initial;
}
html body .main-container .row section .region-content .view-events .view-content .fc-month-view .fc-head th {
  border: none;
}
html body .main-container .row section .region-content .field--name-field-event-date {
  font-weight: 500;
  color: #575757;
}
html body .main-container .row section .region-content .field--name-field-date {
  font-weight: 500;
  color: #575757;
}
html body .main-container .row section .region-content .field--name-field-date.pdc-date {
  font-weight: normal;
  color: #000;
}
html body .main-container .row section .region-content .view-news .views-row:last-child {
  border-bottom: none;
}
html body .main-container .row section .region-content .view-news .views-row .views-field-views-conditional-field a {
  font-size: 1.2em;
}
html body .main-container .row section .region-content .view-news .views-row .views-field-body a.views-more-link {
  font-size: 1em;
}
html body .main-container .row section .view-forms-reporting-directory- {
  display: block;
  font-size: 1.6rem;
}
html body .main-container .row section .view-forms-reporting-directory- .views-field-nothing {
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px rgba(56, 63, 89, 0.25);
  margin: 0 0 20px 0;
  padding: 20px;
}
html body .main-container .row section .view-forms-reporting-directory- .views-field-nothing h2 {
  font-size: 2.8rem;
  line-height: 3.4rem;
}
html body .main-container .row section .view-forms-reporting-directory- .views-field-nothing h3 {
  font-size: 1.6rem;
  line-height: 1.8rem;
}
html body .main-container .row section .view-forms-reporting-directory- .views-field-nothing .field-content {
  display: flex;
  height: auto;
}
@media screen and (max-width: 767px) {
  html body .main-container .row section .view-forms-reporting-directory- .views-field-nothing .field-content {
    flex-direction: column;
  }
}
html body .main-container .row section .view-forms-reporting-directory- .views-field-nothing .field-content .box-body h2 {
  font-size: 1.6rem;
  line-height: 1.8rem;
}
html body .main-container .row section .multiselect-container li.hover {
  background-color: #EEE;
}
html body .main-container .row section .multiselect-container li.active a {
  background-color: #EEE;
}
html body .wrapper-content-middle-second .block-views-blockenforcement-cases-block-1 .views-row {
  margin-bottom: 30px;
}
html body .wrapper-content-middle-second .block-views-blockenforcement-cases-block-1 .views-row:last-of-type {
  margin-bottom: 0;
}
html body .wrapper-content-middle-second .block-views-blockenforcement-cases-block-1 .views-row .views-field-field-enf-case-id,
html body .wrapper-content-middle-second .block-views-blockenforcement-cases-block-1 .views-row .views-field-field-enf-case-date-open,
html body .wrapper-content-middle-second .block-views-blockenforcement-cases-block-1 .views-row .views-field-field-enf-case-status,
html body .wrapper-content-middle-second .block-views-blockenforcement-cases-block-1 .views-row .views-field-field-enf-case-respondent {
  font-weight: 600;
}
html body .wrapper-content-middle-second .block-views-blockenforcement-cases-block-1 .views-row .views-field-field-enf-case-id {
  color: var(--pdc-color-secondary);
}
html body .wrapper-content-middle-second .block-views-blockenforcement-cases-block-1 .views-row .views-field-field-enf-case-date-open {
  font-style: italic;
  color: var(--pdc-color-6);
}
html body .wrapper-content-middle-second .block-views-blockenforcement-cases-block-1 .views-row .views-field-field-enf-case-respondent {
  margin-top: 10px;
}
html body .wrapper-content-middle-second .block-views-blockenforcement-cases-block-1 .views-row .views-field-field-enf-case-description {
  margin-bottom: 10px;
}
html body .pill-tip {
  font-weight: 600;
  font-size: 1.4rem;
  display: inline;
  color: #000 !important;
  border-radius: 5px;
  padding: 8px 12px;
  background: rgba(228, 150, 0, 0.2);
  border: 2px solid var(--pdc-color-tertiary);
}
html body .pill-news {
  font-weight: 600;
  font-size: 1.4rem;
  display: inline;
  color: #000 !important;
  border-radius: 5px;
  padding: 8px 12px;
  background: rgba(0, 104, 0, 0.2);
  border: 2px solid var(--pdc-color-2);
}
html body .pill-event {
  font-weight: 600;
  font-size: 1.4rem;
  display: inline;
  color: #000 !important;
  border-radius: 5px;
  padding: 8px 12px;
  background: rgba(56, 63, 89, 0.2);
  border: 2px solid var(--pdc-color-secondary);
}
html body.page-node-type-bios .field--name-field-position {
  font-size: 1.5em;
}
html body.page-node-type-bios .field--name-field-media-image {
  float: right;
  padding-left: 25px;
  margin-bottom: 25px;
}
html body.page-node-type-bios h2.contact {
  font-size: 1.4em;
  font-weight: 400;
  margin-bottom: 2px;
  margin-top: 0;
}
html body .region-content-top {
  position: relative;
}
html body .region-content-top .block-views-blockevents-block-6 {
  font-size: 1.6rem;
  border: 1px solid #DDDDDD;
  background: #fff;
  padding: 0 0 20px 0;
}
html body .region-content-top .block-views-blockevents-block-6 h2 {
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: 600;
  color: #2B2B2B;
  text-align: center;
  border-bottom: 1px solid #DDDDDD;
  margin-top: 10px;
  padding-bottom: 5px;
}
html body .region-content-top .block-views-blockevents-block-6 h2::after {
  content: "";
  position: absolute;
  left: 0;
  width: 40px;
  border-top: 5px solid var(--pdc-color-tertiary);
  display: none;
}
html body .region-content-top .block-views-blockevents-block-6 a {
  color: #174EA6;
  text-decoration: underline;
  border-bottom: 0 !important;
}
html body .region-content-top .block-views-blockevents-block-6 a:hover {
  border-bottom: 0 !important;
  text-decoration: none;
  color: #383F59;
}
html body .region-content-top .block-views-blockevents-block-6 .views-row {
  margin-bottom: 10px;
}
html body .region-content-top .block-views-blockevents-block-6 .views-row:last-of-type {
  margin-bottom: 0;
}
html body .region-content-top .block-views-blockevents-block-6 .view-content {
  padding: 8px 20px;
}
@media screen and (max-width: 800px) {
  html body .region-content-top .block-views-blockevents-block-6 .view-content {
    padding: 8px 15px;
  }
}
html body .region-content-top .block-views-blockevents-block-6 .views-field-field-date,
html body .region-content-top .block-views-blockevents-block-6 .views-field-field-event-date {
  font-weight: 600;
  font-style: italic;
  color: var(--pdc-color-6);
}
html body .region-content-top .block-views-blockevents-block-6 .more-link {
  padding: 8px 20px;
  margin-right: 0;
  margin-top: 0;
  background-color: transparent;
}
html body .region-content-top .block-views-blockevents-block-6 .more-link a {
  position: relative;
  color: #174EA6 !important;
  font-size: 1.8rem;
  background: none;
  border-radius: 0;
  padding: 0;
  transition: none;
  text-decoration: underline;
  display: inline-block;
  outline-offset: 2px;
  overflow: hidden;
}
@media screen and (max-width: 425px) {
  html body .region-content-top .block-views-blockevents-block-6 .more-link a {
    display: block;
  }
}
html body .region-content-top .block-views-blockevents-block-6 .more-link a:after {
  position: relative;
  content: "\f178";
  font-family: "Font Awesome 6 Free";
  display: inline-block;
  top: 3px;
  padding-left: 10px;
  transition: padding 250ms ease-out;
}
html body .region-content-top .block-views-blockevents-block-6 .more-link a:hover {
  color: #383F59 !important;
  text-decoration: none;
}
html body .region-content-top .block-views-blockevents-block-6 .more-link a:hover:after {
  padding-left: 15px;
}
html body .wrapper-content-top .block-views-blocknews-block-3 {
  margin-bottom: 20px;
}
html body .wrapper-content-top .block-views-blocknews-block-3 .views-field-title > .field-content > a {
  font-weight: 600;
}
html body .wrapper-content-top .block-views-blockevents-block-2 .views-row:first-of-type {
  margin-bottom: 10px;
}
html body .wrapper-content-top .block-views-blocknews-block-3,
html body .wrapper-content-top .block-views-blockevents-block-2 {
  font-size: 1.6rem;
  border: 1px solid #DDDDDD;
  background: #fff;
  padding: 0 0 20px 0;
}
html body .wrapper-content-top .block-views-blocknews-block-3 h2,
html body .wrapper-content-top .block-views-blockevents-block-2 h2 {
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: 600;
  color: #2B2B2B;
  text-align: center;
  border-bottom: 1px solid #DDDDDD;
  margin-top: 10px;
  padding-bottom: 5px;
}
html body .wrapper-content-top .block-views-blocknews-block-3 h2::after,
html body .wrapper-content-top .block-views-blockevents-block-2 h2::after {
  content: "";
  position: absolute;
  left: 0;
  width: 40px;
  border-top: 5px solid var(--pdc-color-tertiary);
  display: none;
}
html body .wrapper-content-top .block-views-blocknews-block-3 a,
html body .wrapper-content-top .block-views-blockevents-block-2 a {
  font-weight: 600;
}
html body .wrapper-content-top .block-views-blocknews-block-3 .view-content,
html body .wrapper-content-top .block-views-blockevents-block-2 .view-content {
  padding: 8px 20px;
}
html body .wrapper-content-top .block-views-blocknews-block-3 .views-field-field-date,
html body .wrapper-content-top .block-views-blockevents-block-2 .views-field-field-date,
html body .wrapper-content-top .block-views-blocknews-block-3 .views-field-field-event-date,
html body .wrapper-content-top .block-views-blockevents-block-2 .views-field-field-event-date {
  font-weight: 600;
  font-style: italic;
  color: var(--pdc-color-6);
}
html body .wrapper-content-top .block-views-blocknews-block-3 .more-link,
html body .wrapper-content-top .block-views-blockevents-block-2 .more-link {
  padding: 8px 20px;
  margin-right: 0;
  margin-top: 0;
  background-color: transparent;
}
html body .wrapper-content-top .block-views-blocknews-block-3 .more-link a,
html body .wrapper-content-top .block-views-blockevents-block-2 .more-link a {
  position: relative;
  display: inline-block;
  font-weight: 600;
  text-decoration: underline;
  color: #174EA6 !important;
  font-size: 1.8rem;
  background: none;
  border-radius: 0;
  padding: 0;
  transition: none;
  border-bottom: 0;
  outline-offset: 2px;
  overflow: hidden;
}
html body .wrapper-content-top .block-views-blocknews-block-3 .more-link a:after,
html body .wrapper-content-top .block-views-blockevents-block-2 .more-link a:after {
  position: relative;
  content: "\f178";
  font-family: "Font Awesome 6 Free";
  display: inline-block;
  top: 3px;
  padding-left: 10px;
  transition: padding 250ms ease-out;
}
html body .wrapper-content-top .block-views-blocknews-block-3 .more-link a:hover,
html body .wrapper-content-top .block-views-blockevents-block-2 .more-link a:hover {
  color: #383F59 !important;
  text-decoration: none;
}
html body .wrapper-content-top .block-views-blocknews-block-3 .more-link a:hover:after,
html body .wrapper-content-top .block-views-blockevents-block-2 .more-link a:hover:after {
  padding-left: 15px;
}
html body #block-newshomeblockheading h2::after {
  content: "";
  position: absolute;
  left: 0;
  width: 40px;
  border-top: 5px solid var(--pdc-color-tertiary);
  bottom: 0;
}
html body #block-views-block-news-block-1 {
  margin-bottom: 30px;
}
html body .block-views-blocknews-block-1 .view-content,
html body .block-views-blocknews-block-2 .view-content,
html body .block-views-blocknews-block-4 .view-content,
html body .block-views-blocknews-block-5 .view-content,
html body .block-views-blocknews-block-6 .view-content,
html body .block-views-blocknews-block-7 .view-content,
html body .block-views-blockevents-block-3 .view-content,
html body .block-views-blockevents-block-4 .view-content,
html body .block-views-blockevents-block-1 .view-content,
html body .view-display-id-block_8 .view-content,
html body .view-commission-meetings .view-content {
  display: flex;
  flex-flow: column;
}
html body .block-views-blocknews-block-1 .view-footer,
html body .block-views-blocknews-block-2 .view-footer,
html body .block-views-blocknews-block-4 .view-footer,
html body .block-views-blocknews-block-5 .view-footer,
html body .block-views-blocknews-block-6 .view-footer,
html body .block-views-blocknews-block-7 .view-footer,
html body .block-views-blockevents-block-3 .view-footer,
html body .block-views-blockevents-block-4 .view-footer,
html body .block-views-blockevents-block-1 .view-footer,
html body .view-display-id-block_8 .view-footer,
html body .view-commission-meetings .view-footer {
  display: flex;
  flex-flow: column;
}
html body .block-views-blocknews-block-1 .views-row,
html body .block-views-blocknews-block-2 .views-row,
html body .block-views-blocknews-block-4 .views-row,
html body .block-views-blocknews-block-5 .views-row,
html body .block-views-blocknews-block-6 .views-row,
html body .block-views-blocknews-block-7 .views-row,
html body .block-views-blockevents-block-3 .views-row,
html body .block-views-blockevents-block-4 .views-row,
html body .block-views-blockevents-block-1 .views-row,
html body .view-display-id-block_8 .views-row,
html body .view-commission-meetings .views-row {
  margin-bottom: 30px;
}
@media screen and (max-width: 1024px) {
  html body .block-views-blocknews-block-1 .views-row,
  html body .block-views-blocknews-block-2 .views-row,
  html body .block-views-blocknews-block-4 .views-row,
  html body .block-views-blocknews-block-5 .views-row,
  html body .block-views-blocknews-block-6 .views-row,
  html body .block-views-blocknews-block-7 .views-row,
  html body .block-views-blockevents-block-3 .views-row,
  html body .block-views-blockevents-block-4 .views-row,
  html body .block-views-blockevents-block-1 .views-row,
  html body .view-display-id-block_8 .views-row,
  html body .view-commission-meetings .views-row {
    border-top: 1px solid #ddd;
    padding-top: 30px;
  }
}
html body .block-views-blocknews-block-1 .views-row:last-of-type,
html body .block-views-blocknews-block-2 .views-row:last-of-type,
html body .block-views-blocknews-block-4 .views-row:last-of-type,
html body .block-views-blocknews-block-5 .views-row:last-of-type,
html body .block-views-blocknews-block-6 .views-row:last-of-type,
html body .block-views-blocknews-block-7 .views-row:last-of-type,
html body .block-views-blockevents-block-3 .views-row:last-of-type,
html body .block-views-blockevents-block-4 .views-row:last-of-type,
html body .block-views-blockevents-block-1 .views-row:last-of-type,
html body .view-display-id-block_8 .views-row:last-of-type,
html body .view-commission-meetings .views-row:last-of-type {
  margin-bottom: 0;
}
html body .block-views-blocknews-block-1 .views-row .views-field-title,
html body .block-views-blocknews-block-2 .views-row .views-field-title,
html body .block-views-blocknews-block-4 .views-row .views-field-title,
html body .block-views-blocknews-block-5 .views-row .views-field-title,
html body .block-views-blocknews-block-6 .views-row .views-field-title,
html body .block-views-blocknews-block-7 .views-row .views-field-title,
html body .block-views-blockevents-block-3 .views-row .views-field-title,
html body .block-views-blockevents-block-4 .views-row .views-field-title,
html body .block-views-blockevents-block-1 .views-row .views-field-title,
html body .view-display-id-block_8 .views-row .views-field-title,
html body .view-commission-meetings .views-row .views-field-title,
html body .block-views-blocknews-block-1 .views-row .views-field-title-1,
html body .block-views-blocknews-block-2 .views-row .views-field-title-1,
html body .block-views-blocknews-block-4 .views-row .views-field-title-1,
html body .block-views-blocknews-block-5 .views-row .views-field-title-1,
html body .block-views-blocknews-block-6 .views-row .views-field-title-1,
html body .block-views-blocknews-block-7 .views-row .views-field-title-1,
html body .block-views-blockevents-block-3 .views-row .views-field-title-1,
html body .block-views-blockevents-block-4 .views-row .views-field-title-1,
html body .block-views-blockevents-block-1 .views-row .views-field-title-1,
html body .view-display-id-block_8 .views-row .views-field-title-1,
html body .view-commission-meetings .views-row .views-field-title-1 {
  font-weight: 600;
}
html body .block-views-blocknews-block-1 .views-row .views-field-title h3,
html body .block-views-blocknews-block-2 .views-row .views-field-title h3,
html body .block-views-blocknews-block-4 .views-row .views-field-title h3,
html body .block-views-blocknews-block-5 .views-row .views-field-title h3,
html body .block-views-blocknews-block-6 .views-row .views-field-title h3,
html body .block-views-blocknews-block-7 .views-row .views-field-title h3,
html body .block-views-blockevents-block-3 .views-row .views-field-title h3,
html body .block-views-blockevents-block-4 .views-row .views-field-title h3,
html body .block-views-blockevents-block-1 .views-row .views-field-title h3,
html body .view-display-id-block_8 .views-row .views-field-title h3,
html body .view-commission-meetings .views-row .views-field-title h3,
html body .block-views-blocknews-block-1 .views-row .views-field-title-1 h3,
html body .block-views-blocknews-block-2 .views-row .views-field-title-1 h3,
html body .block-views-blocknews-block-4 .views-row .views-field-title-1 h3,
html body .block-views-blocknews-block-5 .views-row .views-field-title-1 h3,
html body .block-views-blocknews-block-6 .views-row .views-field-title-1 h3,
html body .block-views-blocknews-block-7 .views-row .views-field-title-1 h3,
html body .block-views-blockevents-block-3 .views-row .views-field-title-1 h3,
html body .block-views-blockevents-block-4 .views-row .views-field-title-1 h3,
html body .block-views-blockevents-block-1 .views-row .views-field-title-1 h3,
html body .view-display-id-block_8 .views-row .views-field-title-1 h3,
html body .view-commission-meetings .views-row .views-field-title-1 h3 {
  font-size: 1.8rem;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 0;
  line-height: 2.5rem;
}
html body .block-views-blocknews-block-1 .views-row .views-field-title h3:before,
html body .block-views-blocknews-block-2 .views-row .views-field-title h3:before,
html body .block-views-blocknews-block-4 .views-row .views-field-title h3:before,
html body .block-views-blocknews-block-5 .views-row .views-field-title h3:before,
html body .block-views-blocknews-block-6 .views-row .views-field-title h3:before,
html body .block-views-blocknews-block-7 .views-row .views-field-title h3:before,
html body .block-views-blockevents-block-3 .views-row .views-field-title h3:before,
html body .block-views-blockevents-block-4 .views-row .views-field-title h3:before,
html body .block-views-blockevents-block-1 .views-row .views-field-title h3:before,
html body .view-display-id-block_8 .views-row .views-field-title h3:before,
html body .view-commission-meetings .views-row .views-field-title h3:before,
html body .block-views-blocknews-block-1 .views-row .views-field-title-1 h3:before,
html body .block-views-blocknews-block-2 .views-row .views-field-title-1 h3:before,
html body .block-views-blocknews-block-4 .views-row .views-field-title-1 h3:before,
html body .block-views-blocknews-block-5 .views-row .views-field-title-1 h3:before,
html body .block-views-blocknews-block-6 .views-row .views-field-title-1 h3:before,
html body .block-views-blocknews-block-7 .views-row .views-field-title-1 h3:before,
html body .block-views-blockevents-block-3 .views-row .views-field-title-1 h3:before,
html body .block-views-blockevents-block-4 .views-row .views-field-title-1 h3:before,
html body .block-views-blockevents-block-1 .views-row .views-field-title-1 h3:before,
html body .view-display-id-block_8 .views-row .views-field-title-1 h3:before,
html body .view-commission-meetings .views-row .views-field-title-1 h3:before {
  display: none;
  content: '';
}
html body .block-views-blocknews-block-1 .views-row .views-field-title a,
html body .block-views-blocknews-block-2 .views-row .views-field-title a,
html body .block-views-blocknews-block-4 .views-row .views-field-title a,
html body .block-views-blocknews-block-5 .views-row .views-field-title a,
html body .block-views-blocknews-block-6 .views-row .views-field-title a,
html body .block-views-blocknews-block-7 .views-row .views-field-title a,
html body .block-views-blockevents-block-3 .views-row .views-field-title a,
html body .block-views-blockevents-block-4 .views-row .views-field-title a,
html body .block-views-blockevents-block-1 .views-row .views-field-title a,
html body .view-display-id-block_8 .views-row .views-field-title a,
html body .view-commission-meetings .views-row .views-field-title a,
html body .block-views-blocknews-block-1 .views-row .views-field-title-1 a,
html body .block-views-blocknews-block-2 .views-row .views-field-title-1 a,
html body .block-views-blocknews-block-4 .views-row .views-field-title-1 a,
html body .block-views-blocknews-block-5 .views-row .views-field-title-1 a,
html body .block-views-blocknews-block-6 .views-row .views-field-title-1 a,
html body .block-views-blocknews-block-7 .views-row .views-field-title-1 a,
html body .block-views-blockevents-block-3 .views-row .views-field-title-1 a,
html body .block-views-blockevents-block-4 .views-row .views-field-title-1 a,
html body .block-views-blockevents-block-1 .views-row .views-field-title-1 a,
html body .view-display-id-block_8 .views-row .views-field-title-1 a,
html body .view-commission-meetings .views-row .views-field-title-1 a {
  font-weight: 600;
  text-decoration: underline;
  border-bottom: none;
  color: #174EA6;
}
html body .block-views-blocknews-block-1 .views-row .views-field-title a:hover,
html body .block-views-blocknews-block-2 .views-row .views-field-title a:hover,
html body .block-views-blocknews-block-4 .views-row .views-field-title a:hover,
html body .block-views-blocknews-block-5 .views-row .views-field-title a:hover,
html body .block-views-blocknews-block-6 .views-row .views-field-title a:hover,
html body .block-views-blocknews-block-7 .views-row .views-field-title a:hover,
html body .block-views-blockevents-block-3 .views-row .views-field-title a:hover,
html body .block-views-blockevents-block-4 .views-row .views-field-title a:hover,
html body .block-views-blockevents-block-1 .views-row .views-field-title a:hover,
html body .view-display-id-block_8 .views-row .views-field-title a:hover,
html body .view-commission-meetings .views-row .views-field-title a:hover,
html body .block-views-blocknews-block-1 .views-row .views-field-title-1 a:hover,
html body .block-views-blocknews-block-2 .views-row .views-field-title-1 a:hover,
html body .block-views-blocknews-block-4 .views-row .views-field-title-1 a:hover,
html body .block-views-blocknews-block-5 .views-row .views-field-title-1 a:hover,
html body .block-views-blocknews-block-6 .views-row .views-field-title-1 a:hover,
html body .block-views-blocknews-block-7 .views-row .views-field-title-1 a:hover,
html body .block-views-blockevents-block-3 .views-row .views-field-title-1 a:hover,
html body .block-views-blockevents-block-4 .views-row .views-field-title-1 a:hover,
html body .block-views-blockevents-block-1 .views-row .views-field-title-1 a:hover,
html body .view-display-id-block_8 .views-row .views-field-title-1 a:hover,
html body .view-commission-meetings .views-row .views-field-title-1 a:hover {
  border-bottom: 0 !important;
  text-decoration: none;
  color: #383F59;
}
html body .block-views-blocknews-block-1 .views-row .views-field-field-date,
html body .block-views-blocknews-block-2 .views-row .views-field-field-date,
html body .block-views-blocknews-block-4 .views-row .views-field-field-date,
html body .block-views-blocknews-block-5 .views-row .views-field-field-date,
html body .block-views-blocknews-block-6 .views-row .views-field-field-date,
html body .block-views-blocknews-block-7 .views-row .views-field-field-date,
html body .block-views-blockevents-block-3 .views-row .views-field-field-date,
html body .block-views-blockevents-block-4 .views-row .views-field-field-date,
html body .block-views-blockevents-block-1 .views-row .views-field-field-date,
html body .view-display-id-block_8 .views-row .views-field-field-date,
html body .view-commission-meetings .views-row .views-field-field-date,
html body .block-views-blocknews-block-1 .views-row .views-field-field-event-date,
html body .block-views-blocknews-block-2 .views-row .views-field-field-event-date,
html body .block-views-blocknews-block-4 .views-row .views-field-field-event-date,
html body .block-views-blocknews-block-5 .views-row .views-field-field-event-date,
html body .block-views-blocknews-block-6 .views-row .views-field-field-event-date,
html body .block-views-blocknews-block-7 .views-row .views-field-field-event-date,
html body .block-views-blockevents-block-3 .views-row .views-field-field-event-date,
html body .block-views-blockevents-block-4 .views-row .views-field-field-event-date,
html body .block-views-blockevents-block-1 .views-row .views-field-field-event-date,
html body .view-display-id-block_8 .views-row .views-field-field-event-date,
html body .view-commission-meetings .views-row .views-field-field-event-date {
  font-weight: 600;
  font-style: italic;
  color: var(--pdc-color-6);
}
html body .block-views-blocknews-block-1 .views-row .views-field-body,
html body .block-views-blocknews-block-2 .views-row .views-field-body,
html body .block-views-blocknews-block-4 .views-row .views-field-body,
html body .block-views-blocknews-block-5 .views-row .views-field-body,
html body .block-views-blocknews-block-6 .views-row .views-field-body,
html body .block-views-blocknews-block-7 .views-row .views-field-body,
html body .block-views-blockevents-block-3 .views-row .views-field-body,
html body .block-views-blockevents-block-4 .views-row .views-field-body,
html body .block-views-blockevents-block-1 .views-row .views-field-body,
html body .view-display-id-block_8 .views-row .views-field-body,
html body .view-commission-meetings .views-row .views-field-body {
  margin: 12px 0 0 0;
}
html body .block-views-blocknews-block-1 .views-row .views-field-views-conditional-field,
html body .block-views-blocknews-block-2 .views-row .views-field-views-conditional-field,
html body .block-views-blocknews-block-4 .views-row .views-field-views-conditional-field,
html body .block-views-blocknews-block-5 .views-row .views-field-views-conditional-field,
html body .block-views-blocknews-block-6 .views-row .views-field-views-conditional-field,
html body .block-views-blocknews-block-7 .views-row .views-field-views-conditional-field,
html body .block-views-blockevents-block-3 .views-row .views-field-views-conditional-field,
html body .block-views-blockevents-block-4 .views-row .views-field-views-conditional-field,
html body .block-views-blockevents-block-1 .views-row .views-field-views-conditional-field,
html body .view-display-id-block_8 .views-row .views-field-views-conditional-field,
html body .view-commission-meetings .views-row .views-field-views-conditional-field,
html body .block-views-blocknews-block-1 .views-row .views-field-views-conditional-field,
html body .block-views-blocknews-block-2 .views-row .views-field-views-conditional-field,
html body .block-views-blocknews-block-4 .views-row .views-field-views-conditional-field,
html body .block-views-blocknews-block-5 .views-row .views-field-views-conditional-field,
html body .block-views-blocknews-block-6 .views-row .views-field-views-conditional-field,
html body .block-views-blocknews-block-7 .views-row .views-field-views-conditional-field,
html body .block-views-blockevents-block-3 .views-row .views-field-views-conditional-field,
html body .block-views-blockevents-block-4 .views-row .views-field-views-conditional-field,
html body .block-views-blockevents-block-1 .views-row .views-field-views-conditional-field,
html body .view-display-id-block_8 .views-row .views-field-views-conditional-field,
html body .view-commission-meetings .views-row .views-field-views-conditional-field,
html body .block-views-blocknews-block-1 .views-row .views-field-field-event-type,
html body .block-views-blocknews-block-2 .views-row .views-field-field-event-type,
html body .block-views-blocknews-block-4 .views-row .views-field-field-event-type,
html body .block-views-blocknews-block-5 .views-row .views-field-field-event-type,
html body .block-views-blocknews-block-6 .views-row .views-field-field-event-type,
html body .block-views-blocknews-block-7 .views-row .views-field-field-event-type,
html body .block-views-blockevents-block-3 .views-row .views-field-field-event-type,
html body .block-views-blockevents-block-4 .views-row .views-field-field-event-type,
html body .block-views-blockevents-block-1 .views-row .views-field-field-event-type,
html body .view-display-id-block_8 .views-row .views-field-field-event-type,
html body .view-commission-meetings .views-row .views-field-field-event-type,
html body .block-views-blocknews-block-1 .views-row .views-field-nothing,
html body .block-views-blocknews-block-2 .views-row .views-field-nothing,
html body .block-views-blocknews-block-4 .views-row .views-field-nothing,
html body .block-views-blocknews-block-5 .views-row .views-field-nothing,
html body .block-views-blocknews-block-6 .views-row .views-field-nothing,
html body .block-views-blocknews-block-7 .views-row .views-field-nothing,
html body .block-views-blockevents-block-3 .views-row .views-field-nothing,
html body .block-views-blockevents-block-4 .views-row .views-field-nothing,
html body .block-views-blockevents-block-1 .views-row .views-field-nothing,
html body .view-display-id-block_8 .views-row .views-field-nothing,
html body .view-commission-meetings .views-row .views-field-nothing,
html body .block-views-blocknews-block-1 .views-row .views-field-field-calendar-category,
html body .block-views-blocknews-block-2 .views-row .views-field-field-calendar-category,
html body .block-views-blocknews-block-4 .views-row .views-field-field-calendar-category,
html body .block-views-blocknews-block-5 .views-row .views-field-field-calendar-category,
html body .block-views-blocknews-block-6 .views-row .views-field-field-calendar-category,
html body .block-views-blocknews-block-7 .views-row .views-field-field-calendar-category,
html body .block-views-blockevents-block-3 .views-row .views-field-field-calendar-category,
html body .block-views-blockevents-block-4 .views-row .views-field-field-calendar-category,
html body .block-views-blockevents-block-1 .views-row .views-field-field-calendar-category,
html body .view-display-id-block_8 .views-row .views-field-field-calendar-category,
html body .view-commission-meetings .views-row .views-field-field-calendar-category {
  margin-bottom: 10px;
}
html body .block-views-blocknews-block-1 .view-display-id-attachment_1 .views-row,
html body .block-views-blocknews-block-2 .view-display-id-attachment_1 .views-row,
html body .block-views-blocknews-block-4 .view-display-id-attachment_1 .views-row,
html body .block-views-blocknews-block-5 .view-display-id-attachment_1 .views-row,
html body .block-views-blocknews-block-6 .view-display-id-attachment_1 .views-row,
html body .block-views-blocknews-block-7 .view-display-id-attachment_1 .views-row,
html body .block-views-blockevents-block-3 .view-display-id-attachment_1 .views-row,
html body .block-views-blockevents-block-4 .view-display-id-attachment_1 .views-row,
html body .block-views-blockevents-block-1 .view-display-id-attachment_1 .views-row,
html body .view-display-id-block_8 .view-display-id-attachment_1 .views-row,
html body .view-commission-meetings .view-display-id-attachment_1 .views-row {
  margin-bottom: 0;
}
html body .block-views-blocknews-block-2 .view-footer {
  margin-top: 30px;
}
html body .more-link {
  margin-top: 30px;
  margin-bottom: 30px;
}
html body .more-link a {
  clear: both;
  background-color: var(--pdc-color-primary);
  padding: 17px 28px;
  border-radius: 4px;
  width: fit-content;
  color: #fff !important;
  font-size: 2.2rem;
  font-weight: 700 !important;
  text-decoration: none !important;
  border-bottom: none !important;
}
html body .more-link a:hover {
  background: #0b354d;
  transition: 0.5s ease;
}
html body.page-node-type-guidelines_restrictions .field--name-field-recommended-reading,
html body.page-node-type-page .field--name-field-recommended-reading {
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px rgba(56, 63, 89, 0.25);
  padding: 30px;
  margin: 30px 0;
  background-image: url(/themes/drupalbase_custom/assets/images/octopus.png);
  background-repeat: repeat-x;
}
html body.page-node-type-guidelines_restrictions .field--name-field-recommended-reading h2,
html body.page-node-type-page .field--name-field-recommended-reading h2 {
  font-size: 4rem;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
}
html body.page-node-type-guidelines_restrictions .field--name-field-recommended-reading h2:after,
html body.page-node-type-page .field--name-field-recommended-reading h2:after {
  display: none;
  content: '';
}
html body.page-node-type-guidelines_restrictions .field--name-field-recommended-reading ul,
html body.page-node-type-page .field--name-field-recommended-reading ul {
  columns: 1;
  padding: 0;
}
html body.page-node-type-guidelines_restrictions .field--name-field-recommended-reading ul li,
html body.page-node-type-page .field--name-field-recommended-reading ul li {
  list-style-type: none;
  font-weight: 600;
  line-height: 26px;
  padding-bottom: 0.5em;
}
html body.page-node-type-guidelines_restrictions .field--name-field-recommended-reading a,
html body.page-node-type-page .field--name-field-recommended-reading a {
  font-weight: 600;
}
html body.page-node-type-guidelines_restrictions .main-container h2 {
  display: inline-block;
  font-size: 2rem!important;
}
html body.page-node-type-guidelines_restrictions .field--name-field-issue-date,
html body.page-node-type-guidelines_restrictions .field--name-field-declaratory-order-n {
  display: inline-block;
}
html body.page-node-type-guidelines_restrictions .field--name-field-declaratory-order-pdf {
  margin-top: 20px;
}
html body.page-node-type-guidelines_restrictions .region-sidebar-right {
  background: none !important;
}
html body.page-node-type-guidelines_restrictions .region-sidebar-right .block {
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px rgba(56, 63, 89, 0.25);
  margin-bottom: 20px;
}
html body.page-node-type-guidelines_restrictions .region-sidebar-right .block h2 {
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 16px;
  margin: 0;
  border-bottom: 1px solid #DDDDDD;
}
html body.page-node-type-guidelines_restrictions .region-sidebar-right .block h2:after {
  display: none;
  content: '';
}
html body.page-node-type-guidelines_restrictions .region-sidebar-right .block .view-content {
  margin-top: 10px;
}
html body.page-node-type-guidelines_restrictions .region-sidebar-right .block .views-row {
  padding: 0 16px 8px 16px;
}
html body.page-node-type-guidelines_restrictions .region-sidebar-right .block .views-field-title a,
html body.page-node-type-guidelines_restrictions .region-sidebar-right .block .field--name-body a {
  font-size: 1.4rem;
  line-height: 1.4rem;
}
html body.page-node-type-guidelines_restrictions .region-sidebar-right .block .views-field-title p,
html body.page-node-type-guidelines_restrictions .region-sidebar-right .block .field--name-body p {
  padding: 0 16px 0 16px;
  margin-bottom: 8px;
}
html body.page-node-224 #edit_field_target_audiences_target_id_chosen {
  max-width: 250px;
}
html body.page-node-type-commission-meeting .field--name-field-agenda-text-notes,
html body.page-node-type-commission-meeting .field--name-field-wrap-up-summary,
html body.page-node-type-commission-meeting .field--name-field-meeting-minutes {
  margin-bottom: 20px;
}
html body .view-id-faqs.view-display-id-block_1 .ckeditor-accordion-container {
  margin-bottom: 30px;
}
