@import "global.less";
@import (reference) "mixins.less";

@max1440: ~"screen and (max-width: 1440px)";
@max1366: ~"screen and (max-width: 1366px)";
@min1200: ~"screen and (min-width: 1200px)";
@max1199: ~"screen and (max-width: 1199px)";
@max1024: ~"screen and (max-width: 1024px)";
@min992: ~"screen and (min-width: 992px)";
@max991: ~"screen and (max-width: 991px)";
@max800: ~"screen and (max-width: 800px)";
@max767: ~"screen and (max-width: 767px)";
@max600: ~"screen and (max-width: 600px)";
@max425: ~"screen and (max-width: 425px)";

html {
  body {
    #block-summary {
      font-style: italic;
      font-size: 20px;
      line-height: 31px;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      color: #383F59;
      &::after {
        .heading-border();
        bottom: 0;
      }
    }
    &:not(:has(#block-summary)) {
      h1::after {
        .heading-border();
        bottom: 0;
      }
    }
    .main-container {
      .row {
        section {
          .region-content {
            .chosen-container {
              padding: 2px;

              .chosen-choices {
                border: none;
                box-shadow: none;
                background-image: none;
              }
            }

            .view-filters.form-group {
              .views-exposed-form {
                .form-inline {
                  /*display: flex;
                  justify-content: flex-start;*/

                  @media @max1199 {
                    display: block;
                  }

                  .form-item {
                    padding-right: 10px;
                    float: none;

                    @media @max1199 {
                      padding-bottom: 10px;
                      margin-bottom: 0;
                    }

                    .control-label {
                      color: #575757;
                      font-size: 1.6rem;
                      display: block;
                    }

                    .select-wrapper:after {
                      color: var(--pdc-color-secondary);
                      content: '\f078';
                      font-weight: 900;
                      font-family: "Font Awesome 6 Free";
                    }
                    .multiselect {
                      &.dropdown-toggle {
                        padding-right: 30px;
                        overflow: auto !important;
                        text-overflow: unset !important;
                        white-space: normal !important;

                        b {
                      &.caret {
                                       border: none;
                        &:after {
                          color: #383F59;
                          content: '\f078';
                          font-weight: 900;
                          font-family: "Font Awesome 6 Free";

                          position: absolute;
                          top: 3px;
                          right: 5px;
                          font-size: 1.8rem;
                      }
                    }
                  }
                      }
                      .multiselect-item {
                        li {
                          a {
                            font-weight: 400;
                          }
                        }
                      }
                    }

                  }

                  .form-actions {
                    .btn-info {
                      background-color: var(--pdc-color-primary);
                      transition: background .5s ease;
                      border-color: var(--pdc-color-primary);
                      margin-top: 25px;
                      color: #fff;

                      &:hover {
                        background-color: var(--pdc-color-secondary);
                        color: #fff;
                      }

                      @media @max1199 {
                        margin-top: -5px;
                      }
                    }

                    .btn-danger {
                      background-color: var(--pdc-color-primary);
                      transition: background .5s ease;
                      border-color: var(--pdc-color-primary);
                      margin-top: 25px;
                      color: #fff;

                      &:hover {
                        background-color: var(--pdc-color-secondary);
                        color: #fff;
                      }

                      @media @max1199 {
                        margin-top: -5px;
                      }
                    }
                  }
                }
              }
            }

            /*.field--name-field-media-image {
              float: right;
              margin-left: 10px;
            }

            .views-field-field-media-image {
              float: right;
              margin-left: 10px;
            }*/

            /*.field--label {
              h2 {
                font-size: 1.4em;
                font-weight: 400;
                margin-bottom: 1px;
              }
            }*/

            .view {
              /* JL disabling to test if needed
              h2 {
                font-size: 1.4em;
                font-weight: 400;
                margin-bottom: 1px;
                margin-top: 0;
              }*/

              nav.pager-nav {
                .pagination {
                  >.active>a {
                    border: 1px solid var(--pdc-color-active);
                    color: var(--pdc-color-active);
                  }
                }

                a {
                  color: #000;
                  font-weight: 600;
                  border: 1px solid #767676;
                  background-color: transparent;
                }

                li {
                  &:before {
                    display: none;
                    content: '';
                  }
                }
              }
            }

            .view-id-commission_meetings {

              .views-field {
                /*margin-bottom: 20px;*/

                &>h2 {
                  font-size: 2rem;
                  line-height: 2.6rem;
                  font-weight: 700;
                  margin-top: 20px;
                  margin-bottom: 10px;
                }

                &.views-field-field-event-date {
                  margin-bottom: 10px;
                }
              }
              &.view-display-id-block_1 {
                margin-top: 20px;
              }
            }

            .view-display-id-filtered_list {
              .views-row {
                margin: 10px 0;

                .views-field-field-event-date {
                  font-weight: 600;
                  font-style: italic;
                  color: #767676;
                }
              }
            }

            .view-bios {
              .views-row {
                display: flex;

                &:last-child {
                  border-bottom: none;
                }

                &:first-child {
                  padding-top: 0;
                }

                .views-field-field-position {}

                .views-field-nothing {
                  float: none;
                  clear: left;

                  h2 {
                    font-size: 2rem !important;
                    margin-top: 20px;
                    overflow-wrap: break-word;
                    word-break: break-word; /* for older browsers */
                    white-space: normal;
                  }

                  .col-lg-9 {
                    padding-left: 0;

                  }
                }
              }
            }

            .view-bios.view-display-id-page_2 {
              text-align: center;

              .col {
                padding-left: 0;
                padding-right: 0;
                position: relative;

                .views-field-nothing {
                  background: #fff;
                  border-radius: 4px;
                  min-width: 285px;
                  margin-left: 10px;
                  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.59);
                  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.59);
                  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.59);

                  @media @max767 {
                    margin-left: 0;
                  }

                  .bio-wrapper {
                    min-height: 380px;

                    .bio-img {
                      padding-top: 20px;
                      margin-bottom: 15px;

                      img {
                        width: 111px;
                        margin: auto;
                      }
                    }

                    h2 {
                      font-size: 1.2em;
                      line-height: 1.2;
                      margin-top: 10px;
                      margin-bottom: 5px;

                      a {
                        border-bottom: none;
                      }
                    }

                    h3 {
                      font-size: 1.1em;
                      margin-top: 3px;
                    }

                    .text {
                      p {
                        line-height: 1.3;
                        padding: 5px;
                      }
                    }

                    .info {
                      margin-top: 12px;
                      line-height: 1.2;

                      a {
                        border-bottom: none;
                      }
                    }
                  }
                }
              }
            }

            .view-events {
              .views-exposed-form {
                float: right;

                .form-item-field-calendar-category-target-id {
                  margin-top: -15px;
                }

                .form-control {
                  line-height: 2rem;
                }
              }

              .view-content {
                .fc-right {
                  display: none;
                }

                .fc-month-view {
                  .fc-scroller {
                    height: 100% !important;
                    overflow: visible !important;
                  }

                  .fc-row {
                    min-height: 7em;

                    td {
                      border-right: 1px solid #ccc;
                    }
                  }

                  .fc-head {
                    .fc-row {
                      min-height: initial;
                    }

                    th {
                      border: none;
                    }
                  }
                }
              }
            }

            /**** Events Nodes ****/
            .field--name-field-event-date {
              font-weight: 500;
              color: #575757;
            }

            /**** News Node ****/
            .field--name-field-date {
              font-weight: 500;
              color: #575757;

              &.pdc-date {
                font-weight: normal;
                color: #000;
              }
            }

            .view-news {
              .views-row {

                &:last-child {
                  border-bottom: none;
                }

                .views-field-views-conditional-field {
                  a {
                    font-size: 1.2em;
                  }
                }

                .views-field-body {

                  a.views-more-link {
                    font-size: 1em;
                  }
                }
              }
            }
          }

          .view-forms-reporting-directory- {
            display: block;
            font-size: 1.6rem;

            .views-field-nothing {
              .bordered-box();
              margin: 0 0 20px 0;
              padding: 20px;

              h2 {
                font-size: 2.8rem;
                line-height: 3.4rem;
              }

              h3 {
                font-size: 1.6rem;
                line-height: 1.8rem;
              }

              .field-content {
                display: flex;
                height: auto;

                @media @max767 {
                  flex-direction: column;
                }

                .box-body {
                  h2 {
                    font-size: 1.6rem;
                    line-height: 1.8rem;
                  }
                }
              }
            }
          }

          .multiselect-container {
            li {
              &.hover {
                background-color: #EEE;
              }

              &.active {
                a {
                  background-color: #EEE;
                }
              }
            }
          }
        }
      }
    }

    .wrapper-content-middle-second {
      .block-views-blockenforcement-cases-block-1 {

        .views-row {
          margin-bottom: 30px;

          &:last-of-type {
            margin-bottom: 0;
          }

          .views-field-field-enf-case-id,
          .views-field-field-enf-case-date-open,
          .views-field-field-enf-case-status,
          .views-field-field-enf-case-respondent {
            font-weight: 600;
          }

          .views-field-field-enf-case-id {
            color: var(--pdc-color-secondary);
          }

          .views-field-field-enf-case-date-open {
            font-style: italic;
            color: var(--pdc-color-6);
          }

          .views-field-field-enf-case-respondent {
            margin-top: 10px;
          }

          .views-field-field-enf-case-description {
            margin-bottom: 10px;
          }
        }
      }
    }

    /**** Pills/chiclets ****/

    .pill-tip {
      .pill-box();
      background: rgba(228, 150, 0, 0.2);
      border: 2px solid var(--pdc-color-tertiary);
    }

    .pill-news {
      .pill-box();
      background: rgba(0, 104, 0, 0.2);
      border: 2px solid var(--pdc-color-2);
    }

    .pill-event {
      .pill-box();
      background: rgba(56, 63, 89, 0.2);
      border: 2px solid var(--pdc-color-secondary);
    }

    /**** Bios Nodes ****/
    &.page-node-type-bios {
      .field--name-field-position {
        font-size: 1.5em;
      }

      .field--name-field-media-image {
        float: right;
        padding-left: 25px;
        margin-bottom: 25px;
      }

      h2.contact {
        font-size: 1.4em;
        font-weight: 400;
        margin-bottom: 2px;
        margin-top: 0;
      }
    }

    /**** end Bios nodes ****/

    /**** Audience Landing Page ****/

    .region-content-top {
      position: relative;

      .block-views-blockevents-block-6 {
        font-size: 1.6rem;
        border: 1px solid #DDDDDD;
        background: #fff;
        padding: 0 0 20px 0;

        h2 {
          font-size: 1.8rem;
          line-height: 2.3rem;
          font-weight: 600;
          color: #2B2B2B;
          text-align: center;
          border-bottom: 1px solid #DDDDDD;
          margin-top: 10px;
          padding-bottom: 5px;

          &::after {
            .heading-border();
            display: none;
          }
        }

        a {
          color: #174EA6;
          text-decoration: underline;
          border-bottom: 0 !important;

          &:hover {
            border-bottom: 0 !important;
            text-decoration: none;
            color: #383F59;
          }
        }

        .views-row {
          margin-bottom: 10px;

          &:last-of-type {
            margin-bottom: 0;
          }
        }

        .view-content {
          padding: 8px 20px;
          @media @max800 {
            padding: 8px 15px;
          }
        }

        .views-field-field-date,
        .views-field-field-event-date {
          font-weight: 600;
          font-style: italic;
          color: var(--pdc-color-6);
        }

        .more-link {
          padding: 8px 20px;
          margin-right: 0;
          margin-top: 0;
          background-color: transparent;

          a {
            position: relative;
            color: #174EA6  !important;
            font-size: 1.8rem;
            background: none;
            border-radius: 0;
            padding: 0;
            transition: none;
            text-decoration: underline;
            display: inline-block;
            outline-offset: 2px;
            // Fixes the outline overflow.
            overflow: hidden;

            @media @max425 {
              display: block;
            }

            &:after {
              position: relative;
              content: "\f178";
              font-family: "Font Awesome 6 Free";
              display: inline-block;
              top: 3px;
              padding-left: 10px;
              transition: padding 250ms ease-out;
            }
            &:hover {
              color: #383F59  !important;
              text-decoration: none;

              &:after {
                padding-left: 15px;
              }
            }
          }
        }
      }
    }

    /**** Front Page View Blocks ****/
    .wrapper-content-top {

      .block-views-blocknews-block-3 {
        margin-bottom: 20px;

        .views-field-title>.field-content>a {
          font-weight: 600;
        }
      }

      .block-views-blockevents-block-2 {
        .views-row:first-of-type {
          margin-bottom: 10px;
        }
      }

      .block-views-blocknews-block-3,
      .block-views-blockevents-block-2 {
        font-size: 1.6rem;
        border: 1px solid #DDDDDD;
        background: #fff;
        padding: 0 0 20px 0;

        h2 {
          font-size: 1.8rem;
          line-height: 2.3rem;
          font-weight: 600;
          color: #2B2B2B;
          text-align: center;
          border-bottom: 1px solid #DDDDDD;
          margin-top: 10px;
          padding-bottom: 5px;

          &::after {
            .heading-border();
            display: none;
          }
        }

        a {
          font-weight: 600;
        }

        .view-content {
          padding: 8px 20px;
        }

        .views-field-field-date,
        .views-field-field-event-date {
          font-weight: 600;
          font-style: italic;
          color: var(--pdc-color-6);
        }

        .more-link {
          padding: 8px 20px;
          margin-right: 0;
          margin-top: 0;
          background-color: transparent;

          a {
            position: relative;
            display: inline-block;
            font-weight: 600;
            text-decoration: underline;
            color: #174EA6 !important;
            font-size: 1.8rem;
            background: none;
            border-radius: 0;
            padding: 0;
            transition: none;
            border-bottom: 0;
            outline-offset: 2px;
            // Fixes the outline overflow.
            overflow: hidden;

            &:after {
              position: relative;
              content: "\f178";
              font-family: "Font Awesome 6 Free";
              display: inline-block;
              top: 3px;
              padding-left: 10px;
              transition: padding 250ms ease-out;
            }
            &:hover {
              color: #383F59  !important;
              text-decoration: none;

              &:after {
                padding-left: 15px;
              }
            }

          }
        }
      }
    }

    #block-newshomeblockheading {

      h2 {
        &::after {
          .heading-border();
          bottom: 0;
        }
      }
    }

    #block-views-block-news-block-1 {
      margin-bottom: 30px;
    }

    .block-views-blocknews-block-1,
    .block-views-blocknews-block-2,
    .block-views-blocknews-block-4,
    .block-views-blocknews-block-5,
    .block-views-blocknews-block-6,
    .block-views-blocknews-block-7,
    .block-views-blockevents-block-3,
    .block-views-blockevents-block-4,
    .block-views-blockevents-block-1,
    .view-display-id-block_8,
    .view-commission-meetings {
      .view-content {
        display: flex;
        flex-flow: column;

      }

      .view-footer {
        display: flex;
        flex-flow: column;
      }

      .views-row {
        margin-bottom: 30px;
        @media @max1024 {
          border-top: 1px solid #ddd;
          padding-top: 30px;
        }
        &:last-of-type {
          margin-bottom: 0;
        }

        .views-field-title,
        .views-field-title-1 {
          font-weight: 600;

          h3 {
            font-size: 1.8rem;
            margin-bottom: 0;
            padding-bottom: 0;
            padding-top: 0;
            margin-top: 0;
            line-height: 2.5rem;

            &:before {
              display: none;
              content: '';
            }
          }

          a {
            font-weight: 600;
            text-decoration: underline;
            border-bottom: none;
            color: #174EA6;

            &:hover {
              border-bottom: 0 !important;
              text-decoration: none;
              color: #383F59;
            }
          }
        }

        .views-field-field-date,
        .views-field-field-event-date {
          font-weight: 600;
          font-style: italic;
          color: var(--pdc-color-6);
        }

        .views-field-body {
          margin: 12px 0 0 0;
        }

        .views-field-views-conditional-field,
        .views-field-views-conditional-field,
        .views-field-field-event-type,
        .views-field-nothing,
        .views-field-field-calendar-category {
          margin-bottom: 10px;
        }
      }

      .view-display-id-attachment_1 {
        .views-row {
          margin-bottom: 0;
        }
      }

    }

    .block-views-blocknews-block-2 {
      .view-footer {
        margin-top: 30px;
      }
    }

    .more-link {
      margin-top: 30px;
      margin-bottom: 30px;
      a {
        clear: both;
        background-color: var(--pdc-color-primary);
        padding: 17px 28px;
        border-radius: 4px;
        width: fit-content;
        color: #fff !important;
        font-size: 2.2rem;
        font-weight: 700 !important;
        text-decoration: none !important;
        border-bottom: none !important;

        &:hover {
            background: #0b354d;
            transition: 0.5s ease;
          }
      }

    }

    &.page-node-type-guidelines_restrictions,
    &.page-node-type-page {
      .field--name-field-recommended-reading {
        .bordered-box();
        padding: 30px;
        margin: 30px 0;
        background-image: url(/themes/drupalbase_custom/assets/images/octopus.png);
        background-repeat: repeat-x;

        h2 {
          font-size: 4rem;
          margin-bottom: 0;
          margin-top: 0;
          padding-bottom: 0;

          &:after {
            display: none;
            content: '';
          }
        }

        ul {
          columns: 1;
          padding: 0;

          li {
            list-style-type: none;
            font-weight: 600;
            line-height: 26px;
            padding-bottom: 0.5em;
          }
        }

        a {
          font-weight: 600;
        }
      }
    }

    &.page-node-type-guidelines_restrictions {
      .main-container h2 {
        display: inline-block;
        font-size: 2rem!important;
      }
      .field--name-field-issue-date, .field--name-field-declaratory-order-n {
        display: inline-block;
      }
      .field--name-field-declaratory-order-pdf {
        margin-top: 20px;
      }
      .region-sidebar-right {
        background: none !important;

        .block {
          .bordered-box();
          margin-bottom: 20px;


          h2 {
            font-size: 1.6rem;
            line-height: 2rem;
            padding: 16px;
            margin: 0;
            border-bottom: 1px solid #DDDDDD;

            &:after {
              display: none;
              content: '';
            }
          }

          .view-content {
            margin-top: 10px;
          }

          .views-row {
            padding: 0 16px 8px 16px;
          }

          .views-field-title,
          .field--name-body {

            a {
              font-size: 1.4rem;
              line-height: 1.4rem;
            }

            p {
              padding: 0 16px 0 16px;
              margin-bottom: 8px;
            }
          }
        }
      }
    }

    /* Guidelines and Restrictions Landing Page */
    &.page-node-224 {
      #edit_field_target_audiences_target_id_chosen {
        max-width: 250px;
      }
    }
    &.page-node-type-commission-meeting {
      .field--name-field-agenda-text-notes, .field--name-field-wrap-up-summary, .field--name-field-meeting-minutes {
        margin-bottom: 20px;
      }
    }
    /* FAQ accordion blocks inbetween spacing */
    .view-id-faqs.view-display-id-block_1 {
      .ckeditor-accordion-container {
        margin-bottom: 30px;
      }
    }
  }
}
