<div data-pdc-chart-id="{{ chart_id }}" data-chart-type="{{ chart_type }}"{{ attributes }}>
  <table class="pdc-chart-table">
    <caption class="pdc-chart-title campaign-data-value" data-format="token">{{ title }}</caption>
    <thead>
      <tr>
        {% for heading in headings %}
          {% if heading is not empty %}
            <th class="pdc-chart-heading">{{ heading }}</th>
          {% endif %}
        {% endfor %}
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <div class="pdc-chart-empty-message">
    <p><strong>{{ empty_message }}</strong></p>
  </div>
</div>
