<div id="address-search" data-yadcf-style_class="form-control" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	<label for="address-search-input">
		Search Candidates in Your District
	</label>
	<input aria-describedby="helpertext" name="address-search-input" class="form-control" id="address-search-input" placeholder="Enter your address" type="text" />
	<{{ filter.tag }} id="{{ filter.id }}" {% if filter.classes %}class="{{ filter.classes }}" for="{{ filter.id }}" {% endif %}></{{ filter.tag}}>
	<div id="address-error-msg" style="display:none;">
		<i aria-hidden="true" class="fa fa-exclamation-triangle fa-1x "></i>
		Sorry, no jurisdictions exist for this address. Please try again with an address near you.
	</div>
	<div id="address-no-results" style="display:none;">
		<i aria-hidden="true" class="fa fa-exclamation-triangle fa-1x "></i>
		No voter registration found for this address. Try typing just street and state.
	</div>
	<div id="address-progress" style="display:none;"></div>
</div>