<div id="table-top-nav">
	<ul class="nav nav-tabs" role="navigation">
		<li class="{% if current_path == path('pdc_api_tools.contributions_table_page') %}active{% endif %}" role="presentation"><a href="{{ path('pdc_api_tools.contributions_table_page') }}">Contributions</a></li>
		<li class="{% if current_path == path('pdc_api_tools.advanced_search_expenditures_table_page') %}active{% endif %}" role="presentation"><a href="{{ path('pdc_api_tools.advanced_search_expenditures_table_page') }}">Expenditures</a></li>
		<li class="{% if current_path == path('pdc_api_tools.reports_table_page') %}active{% endif %}" role="presentation"><a href="{{ path('pdc_api_tools.reports_table_page') }}">Reports</a></li>
		<li class="{% if current_path == path('pdc_api_tools.financial_affairs_statements_table_page') %}active{% endif %}" role="presentation"><a href="{{ path('pdc_api_tools.financial_affairs_statements_table_page') }}">Financial Affairs Statements</a></li>
		<li class="{% if current_path == path('pdc_api_tools.advanced_search_regitrations_table_page') %}active{% endif %}" role="presentation"><a href="#">Candidate & Committee Registrations</a></li>
	</ul>
</div>