{% set current_path = path("<current>") %}
<div class="floating-tabs">
<div id="table-top-nav">
	<button role="button" class="btn btn-default" id="camp-exp-button"><i class="fas fa-bars"></i><span class="sr-only">Open Campaign Explorer Navigation</span></button>
	<ul class="nav nav-tabs nav-tabs-dropdown" role="navigation">
		<li class="{% if current_path == path('pdc_api_tools.candidates_table_page') %}active{% else %}mobile-hide{% endif %}" role="presentation">
			<a href="{{ path('pdc_api_tools.candidates_table_page') }}">Candidates</a>
		</li>
		<li class="{% if current_path == path('pdc_api_tools.committees_table_page') %}active{% else %}mobile-hide{% endif %}" role="presentation"><a href="{{ path('pdc_api_tools.committees_table_page') }}">Committees</a></li>
		<li class="{% if current_path == path('pdc_api_tools.lobbyists_agents_table_page') %}active{% else %}mobile-hide{% endif %}" role="presentation"><a href="{{ path('pdc_api_tools.lobbyists_agents_table_page') }}">Lobbying</a>
		</li>
		<li class="{% if current_path == path('pdc_api_tools.independent_expenditures_sponsors_table_page') %}active{% else %}mobile-hide{% endif %}" role="presentation"><a href="{{ path('pdc_api_tools.independent_expenditures_sponsors_table_page') }}">Independent Expenditures</a>
		</li>
		<li class="{% if current_path == path('pdc_api_tools.candidates_table_page')~'/surplus-funds' or current_path == path('pdc_api_tools.candidates_table_page')~'/surplus-funds/reports' %}active{% else %}mobile-hide{% endif %}" role="presentation"><a href="{{ path('pdc_api_tools.candidates_table_page') }}/surplus-funds">Surplus Funds</a></li>
		<li class="{% if current_path == path('pdc_api_tools.financial_affairs_statements_table_page') %}active{% else %}mobile-hide{% endif %}" role="presentation"><a href="{{ path('pdc_api_tools.financial_affairs_statements_table_page') }}">Financial Statements</a>
		</li>

	</ul>
</div>
</div>