<form method="GET" action="/political-disclosure-reporting-data/browse-search-data/candidates">
	<div class="form-group">
    	<label for="candidate_filer_name">Candidate Name</label>
    	<input type="text" class="form-control" id="candidate_filer_name" name="filer_name" placeholder="Enter a candidate's name">
  	</div>
  	<button type="submit" class="btn btn-default">Submit</button>
</form>