<div class="row">
	<div class="col-xs-12 col-md-8">
		<div class="subpage-data-block">
			<div class="first">
				<h2>{{ 'Current outstanding debt for this campaign:'|t }}</h2>
				<h3 class="campaign-data-value" data-value-id="debts_amount" data-format="currency"></h3>
			</div>
			<div class="summary-text">
			<p>{{ 'Shown below is the debt reporting history for the campaign as of the date it filed the referenced report. It does not necessarily reflect the current debt of the campaign because it does not account for debt repayment. A particular debt may be shown more than once if that debt was reported on more than one C-4 report.'|t }} </p>
			</div>
		</div>
	</div>
</div>
