<div class="row">
	<div class="col-xs-12 col-md-9">
		<div class="subpage-data-block">
			<div class="first">
				<h2>{{ 'Current unredeemed pledges for this campaign:'|t }}</h2>
				<h3 class="campaign-data-value" data-value-id="pledges_amount" data-format="currency" data-hide-empty="parent"></h3>
			</div>
			<div class="summary-text">
				<p>{{ 'Shown below is the amount of pledges to the candidate at the time they were received. Redeemed or cancelled pledges remain on the list.'|t }}</p>
			</div>
		</div>
	</div>
</div>
