<div class="row">
	<div class="subpage-data-block">
		<div class="col-xs-12 col-md-6">
			<div class="first">
				{% for key,amount in subpage_data_block_data %}
					<h2>{{ key }} Contributions</h2>
					${{ amount|number_format(2, '.', ',') }}
				{% endfor %}
			</div>
			<div class="summary-text">
				<p>{{ 'Shown below are contributions made to this campaign. Those reported as "in-kind" represent the contribution of goods and services.'|t }}</p>
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="subpage-info-chart-container">
				{{ subpage_chart }}
			</div>
		</div>
	</div>
</div>
