<div class="row">
	<div class="col-xs-12">
		<div class="subpage-data-block">
			<div class="first">
				<h2>{{ 'Current independent expenditures for this campaign:'|t }}</h2>
				<h3>{{ 'For:'|t }} <span class="campaign-data-value" data-value-id="independent_expenditures_for_amount" data-format="currency"></span> </h3>
				<h3>{{ 'Against:'|t }} <span class="campaign-data-value" data-value-id="independent_expenditures_against_amount" data-format="currency"></span></h3>
			</div>
			<div class="summary-text">
				{{ 'Independent expenditures are made by third parties without the candidate’s approval or collaboration.'|t }}
		  </div>
	  </div>
  </div>	
</div>
