<div class="row">
	<div class="subpage-data-block">
		<div class="col-xs-12 col-md-6">
			<div class="first"></div>
			<div class="summary-text">
				<p>{{ 'Shown below are the campaign’s expenditures. Small expenses may be grouped together and reported as one sum. Donated goods and services (known as in-kind contributions) also appear here as expenditures, with the contributor listed in the recipient column.'|t }}</p>
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="subpage-info-chart-container">
				{{ subpage_chart }}
			</div>
		</div>
	</div>
</div>
