<div class="row">
	<div class="subpage-data-block">
		<div class="first">
			<h2>{{ 'Current loans for this campaign:'|t }}</h2>
			<h3 class="campaign-data-value" data-value-id="loans_amount" data-format="currency"></h3>
		</div>
		<div class="summary-text">
			<p>{{ 'Shown below are loans received, forgiven or paid.'|t }}</p>
		</div>
	</div>
</div>
