<form method="GET" action="/political-disclosure-reporting-data/browse-search-data/committees">
	<div class="form-group">
    	<label for="committee_filer_name">Committee Name</label>
    	<input type="text" class="form-control" id="committee_filer_name" name="filer_name" placeholder="Enter a committee's name">
  	</div>
  	<button type="submit" class="btn btn-default">Submit</button>
</form>