{% set current_path = path("<current>") %}
<div class="floating-tabs">
	<div id="table-top-nav">
		<button role="button" class="btn btn-default" id="camp-exp-button"><i class="fas fa-bars"></i><span class="sr-only">Open Campaign Explorer Navigation</span></button>
		<ul class="nav nav-tabs nav-tabs-dropdown" role="navigation">
			<li class="{% if current_path == path('pdc_api_tools.candidates_table_page') %}active{% else %}mobile-hide{% endif %}" role="presentation"><a href="{{ path('pdc_api_tools.candidates_table_page') }}">Candidates</a></li>
			<li class="{% if current_path == path('pdc_api_tools.committees_table_page') %}active{% else %}mobile-hide{% endif %}" role="presentation"><a href="{{ path('pdc_api_tools.committees_table_page') }}">Committees</a></li>
			<li class="active" role="presentation"><a href="{{ path('pdc_api_tools.lobbyists_agents_table_page') }}">Lobbying</a>
			</li>
			<li class="{% if current_path == path('pdc_api_tools.independent_expenditures_sponsors_table_page') %}active{% else %}mobile-hide{% endif %}" role="presentation"><a href="{{ path('pdc_api_tools.independent_expenditures_sponsors_table_page') }}">Independent Expenditures</a>
			</li>
			<li class="{% if current_path == path('pdc_api_tools.candidates_table_page')~'/surplus-funds' %}active{% else %}mobile-hide{% endif %}" role="presentation"><a href="{{ path('pdc_api_tools.candidates_table_page') }}/surplus-funds">Surplus Funds</a></li>
			<li class="{% if current_path == path('pdc_api_tools.financial_affairs_statements_table_page') %}active{% else %}mobile-hide{% endif %}" role="presentation"><a href="{{ path('pdc_api_tools.financial_affairs_statements_table_page') }}">Financial Statements</a>
			</li>
		</ul>
	</div>
</div>
<div class="table-top-subnav">
	<ul>
		<li class="{% if current_path == path('pdc_api_tools.lobbyists_agents_table_page') %}active{% endif %}" role="presentation">{% if current_path == path('pdc_api_tools.lobbyists_agents_table_page') %}Lobbyists {% else %}
		<a href="{{ path('pdc_api_tools.lobbyists_agents_table_page') }}">Lobbyists</a>
		{% endif %}
		</li>
		<li class="{% if current_path == path('pdc_api_tools.lobbyists_firms_table_page') %}active{% endif %}" role="presentation">{% if current_path == path('pdc_api_tools.lobbyists_firms_table_page') %}Lobbyist Reporting
		{% else %}
		<a href="{{ path('pdc_api_tools.lobbyists_firms_table_page') }}">Lobbyist Reporting</a>
		{% endif %}
		</li>
		<li class="{% if current_path == path('pdc_api_tools.lobbyists_employers_table_page') %}active{% endif %}" role="presentation">{% if current_path == path('pdc_api_tools.lobbyists_employers_table_page') %}Lobbyist Clients
		{% else %}
		<a href="{{ path('pdc_api_tools.lobbyists_employers_table_page') }}">Lobbyist Clients</a>
		{% endif %}
		</li>
		<li class="{% if current_path == path('pdc_api_tools.lobbyists_public_agency_table_page') %}active{% endif %}" role="presentation">{% if current_path == path('pdc_api_tools.lobbyists_public_agency_table_page') %}Public Agency Lobbying
		{% else %}
			<a href="{{ path('pdc_api_tools.lobbyists_public_agency_table_page') }}">Public Agency Lobbying</a>
		{% endif %}
		</li>
	</ul>
</div>
