.callout-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid #d8d8d8;
  padding: 16px;
}

.callout-card-content {
  margin-bottom: 10px;

  .callout-card-title {
    color: var(--pdc-color-secondary);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 3.2rem;
    padding: revert;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: capitalize;
  }
  
  .callout-card-title::before {
    content: revert;
  }
  
  .callout-card-text {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 4px;
  }
  
  .callout-card-jurisdiction {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 32px;
  }
}

.callout-card-type {
  display: inline-block;
  padding: 0 14px;
  border-radius: 30px;
  border: 2px solid var(--pdc-color-secondary);
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: capitalize;
  background: var(--pdc-color-gray-15);
}

@media screen and (min-width: 1200px) {
  .callout-card {
    flex-wrap: nowrap;
  }
  .callout-card-content {
    margin-bottom: 0;
  }
}