.pdc-chart-legend {
  line-height: 1.5;
}

.pdc-chart-legend .pdc-chart-legend-link {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.pdc-chart-legend .pdc-chart-legend-value {
  flex: 1 1 100%;
}
