/* pdc_api_tools overrides */
.views-exposed-form select,
.views-exposed-form .btn.dropdown-toggle span {
    color: var(--pdc-color-gray-80);
}

.data-table-container .all-the-filters select::placeholder,
.data-table-container .all-the-filters input::placeholder,
.data-table-container .all-the-filters .chosen-container .chosen-choices input {
    color: var(--pdc-color-gray-80) !important;
}

.form-control::-webkit-input-placeholder {
    color: var(--pdc-color-gray-80);
}

.dropdown-menu label {
    text-wrap: initial;
}