.fc-day-number {
  font-weight: 600;
}

.fc-event {
  font-weight: 600;
  padding: 3px;
  color: #000000;
  margin: 0 4px 4px;

  /* Undo default fullcalendar styles using em, causing subpixel inaccuracy. */
  /* We also can't "revert" because the default font size is 18px. */
  font-size: 1.5rem;
}

.fc-event:visited,
.fc-event:hover,
.fc-event:focus-visible,
.fc-event:active {
  color: #000000;
}

.fc-day-grid-event .fc-content {
  white-space: unset;
  overflow: initial;
}

.fc-event .fc-content::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 0.5rem;
}

:is(.event-category-20, .event-category-140, .event-category-141) .fc-content::before {
  content: "\f0c0";
}

.event-category-142 .fc-content::before {
  content: "\f056";
}

.event-category-21 .fc-content::before {
  content: "\f772"; /* Unicode for fa-check-to-slot */
}

.event-category-22 .fc-content::before {
  content: "\f071"; 
}

.event-category-23 .fc-content::before {
  content: "\f017"; 
}

.event-category-24 .fc-content::before {
  content: "\f0c0"; 
}

.event-category-25 .fc-content::before {
  content: "\f51b"; 
}
