.pdc-heading-state {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

.pdc-heading-toggles {
  margin: 0 auto;
  max-width: var(--pdc-grid-max);
  padding-left: var(--pdc-spacer-3);
  padding-right: var(--pdc-spacer-3);
  position: relative;
}

.pdc-heading-toggles-wrapper {
  position: absolute;
  top: var(--pdc-spacer-4);
  right: 0;
  z-index: var(--pdc-z-index-fixed);
}

.pdc-heading-toggle {
  cursor: pointer;
  margin: 0;
  padding: var(--pdc-spacer-2);
  font-weight: normal;
}


.pdc-heading-toggle-open {
  display: inline-block;
}

.pdc-heading-toggle-close {
  display: none;
}

.pdc-heading-state-search:checked ~ .pdc-heading-toggle-search .pdc-heading-toggle-open,
.pdc-heading-state-menus:checked ~ .pdc-heading-toggle-menus .pdc-heading-toggle-open {
  display: none;
}

.pdc-heading-state-search:checked ~ .pdc-heading-toggle-search .pdc-heading-toggle-close,
.pdc-heading-state-menus:checked ~ .pdc-heading-toggle-menus .pdc-heading-toggle-close {
  display: inline-block;
}

.pdc-branding {
  padding-top: var(--pdc-spacer-3);
  padding-bottom: var(--pdc-spacer-3);
}

.pdc-branding .block-content {
  margin: 0 auto;
  max-width: var(--pdc-grid-max);
  padding-left: var(--pdc-spacer-3);
  padding-right: var(--pdc-spacer-3);
}

.pdc-branding-logo-image {
  height: 50px;
}

.pdc-site-search {
  display: none;
  background-color: var(--pdc-color-9);
  padding-top: var(--pdc-spacer-3);
  padding-bottom: var(--pdc-spacer-3);
}

.pdc-heading-state-search:checked ~ .region .pdc-site-search {
  display: block;
}

.pdc-site-search .block-content {
  /* display:block needed because Drupal Bootstrap turns this block inline */
  display: block;
  margin: 0 auto;
  max-width: var(--pdc-grid-breakpoint-md);
  padding-left: var(--pdc-spacer-3);
  padding-right: var(--pdc-spacer-3);
}

.pdc-site-search .block-content form {
  display: flex;
  align-items: center;
}

.pdc-site-search .block-content .form-item{
  display: flex;
  flex-grow: 1;
  margin-bottom: 0;
  align-items: center;
}

.pdc-site-search .block-content input[type="search"] {
  flex-grow: 1;
  box-shadow: none;
  max-width: 100%;
  display: block;
}

.pdc-site-search .block-content button[type="submit"] {
  background-color: transparent;
  border: none;
  font-size: 2.4rem;
  padding-left: var(--pdc-spacer-3);
  padding-right: var(--pdc-spacer-3);
  margin: 0;
}

.pdc-site-search .block-content button[type="submit"] .icon {
  margin: 0;
}

.pdc-menu-header {
  display: none;
  font-size: 1.8rem;
  line-height: 1.75;
  font-weight: var(--pdc-font-weight-bold);
}

.pdc-heading-state-menus:checked ~ .region .pdc-menu-header {
  display: block;
}

.pdc-menu-header li {
  margin-left: var(--pdc-spacer-4);
}

.pdc-menu-header .nav > li > a {
  border-bottom: 1px solid black;
  text-decoration: none;
  display: block;
  padding: var(--pdc-spacer-2) var(--pdc-spacer-2) var(--pdc-spacer-2) 0;
  /* Unsets Bootstrap's grey nav link background */
  background-color: revert;
}

.pdc-menu-header li:last-child a {
  border: none;
}

.pdc-menu-header .nav > li > a:visited,
.pdc-menu-header .nav > li > a:active {
  text-decoration: none;
}

.pdc-menu-header .nav > li > a:hover {
  text-decoration: underline;
}

.pdc-menu-audience .nav > li > a:hover {
  color: #F9F9A5;
}

.pdc-menu-audience {
  background-color: var(--pdc-color-1)
}

.pdc-menu-audience .nav > li > a {
  border-color: var(--pdc-color-10);
  color: white;
}

.pdc-menu-main {}

.pdc-menu-main .nav > li > a {
  border-color: var(--pdc-color-11);
}

.pdc-menu-main .nav > li > a {
  color: black;
}

.pdc-page-subnav {
  padding: 30px 15px;
}

.pdc-page-subnav__title {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.pdc-page-subnav .menu {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  align-items: baseline;
  margin: 0;
  padding: 0;
  gap: 0.5em 0;
}

.pdc-page-subnav .menu > li {
  padding: 0 0.5em;
  border-right: 1px solid var(--pdc-color-gray-87);
  line-height: 1;
}

.pdc-page-subnav .menu > li:last-child {
  border: none;
}

@media screen and (min-width: 992px) {

  /* Menus always stay visible in desktop */
  .pdc-menu-header {
    display: block;
  }
	.pdc-menu-main .nav > li > a {
		color: var(--pdc-color-5);
	}
	.pdc-menu-main .nav > li > a:hover {
		color: var(--pdc-color-2);
	}

  .pdc-heading-toggles {
    color: white;
    font-size: 1.5rem;
  }

  .pdc-heading-toggle {
    padding: var(--pdc-spacer-3) var(--pdc-spacer-2);
  }

  .pdc-heading-toggle-search span {
    background-color: var(--pdc-color-1);
  }

  .pdc-heading-toggles-wrapper {
    top: var(--pdc-spacer-1);
    right: var(--pdc-spacer-3);
  }

  /** Mobile menu trigger input should be hidden on desktop */
  #pdc-heading-state-menus,
  .pdc-heading-toggle-menus {
    display: none;
  }

  .region-header {
    display: flex;
    flex-wrap: wrap;
  }

  .pdc-branding {
    order: 2;
    flex-grow: 1;
    flex-basis: 100%;
    margin: 0 auto;
    max-width: var(--pdc-grid-max);
    position: relative;
    padding: 0 var(--pdc-spacer-3);
  }

  .pdc-branding .block-content {
    position: absolute;
    z-index: var(--pdc-z-index-fixed);
    padding: 0;
  }

  .pdc-branding-logo-link {
    display: block;
    padding-top: var(--pdc-spacer-2);
    padding-bottom: var(--pdc-spacer-2);
  }

  .pdc-branding-logo-image {
    display: block;
    height: 67px;
  }

  .pdc-site-search {
    order: 1;
    flex-grow: 1;
    flex-basis: 100%;
  }

  .pdc-menu-audience {
    order: 0;
    flex-grow: 1;
    flex-basis: 100%;
    min-height: 64px;
  }

  .pdc-menu-audience .nav {
    display: flex;
    margin: 0 auto;
    align-items: baseline;
    max-width: var(--pdc-grid-max);
    padding: var(--pdc-spacer-3) calc(var(--pdc-spacer-2) + 100px) var(--pdc-spacer-3) var(--pdc-spacer-2);
  }

  .pdc-menu-audience .nav > li {
    margin: 0;
  }

  .pdc-menu-audience .nav > li > a {
    font-size: 1.5rem;
    border-bottom: none;
    border-right: 1px solid white;
    padding: 0 var(--pdc-spacer-2);
    line-height: 1.1;
    overflow: hidden;
  }

  .pdc-menu-audience .nav > li:last-child > a {
    border: none;
    margin-left: var(--pdc-spacer-3);
    color: var(--pdc-color-1);
    background-color: white;
    padding: var(--pdc-spacer-2) var(--pdc-spacer-3) ;
    border-radius: 2px;
  }

  .pdc-menu-main {
    order: 3;
    flex-grow: 1;
    flex-basis: 100%;
  }

  .pdc-menu-main .nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: var(--pdc-grid-max);
    padding-left: calc((var(--pdc-spacer-3) * 2) + 158px);
    padding-right: var(--pdc-spacer-3);
    padding-top: var(--pdc-spacer-4);
    padding-bottom: var(--pdc-spacer-4);
  }

  .pdc-menu-main .nav > li > a {
    border: none;
    white-space: nowrap;
    padding: var(--pdc-spacer-2) var(--pdc-spacer-1);
  }

  .pdc-page-subnav {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5em 0;
    align-items: baseline;
    justify-content: center;
  }
}

#scrollTopButton-link {
  content-visibility: hidden;
  background-image: url("../../images/top.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 38px;
  height: 38px;
}