/* Page-level */
.path-search .region-sidebar-left {
  margin-top: 0 !important;
}

.path-search h2 {
  font-size: 2.4rem !important;
  line-height: 2.8rem !important;
}

/* The view */
.pdc-site-search-page form {
  display: flex;
  column-gap: var(--pdc-spacer-2);
}

.pdc-site-search-page .form-type-textfield {
  flex-basis: 400px;
}

/* Get rid of form-group margins. */
.pdc-site-search-page form > *,
/* Undo the margin added by drupal-bootstrap */
.pdc-site-search-page form .btn {
  margin: 0
}

.pdc-site-search-page .btn-primary {
  background-color: var(--pdc-color-primary);
}

.pdc-site-search-page p:last-child,
.pdc-site-search-page .form-group:last-child,
.pdc-site-search-page .panel:last-child {
  margin-bottom: revert;
}

.pdc-site-search-page .pagination .active a {
  background-color: #fff;
  border-color: #006800;
  border-bottom: 1px solid;
}

/* Facets */
.pdc-site-search-facets h3:before {
  display: none;
}

.pdc-site-search-facets .facets-widget-links ul {
  list-style-type: none;
  padding-left: 5px;
}

.pdc-site-search-facets .facets-widget-links .facet-item {
  font-size: 1.4rem !important;
  padding-bottom: 3px;
  overflow-wrap: break-word;
}

.pdc-site-search-facets .facets-widget-links .facet-item__value {
  color: var(--pdc-color-gray-60);
  text-decoration: underline;
}

.pdc-site-search-facets .facets-widget-links .facet-item__count {
  color: var(--pdc-text-dark);
  font-weight: bold;
}

@media screen and (max-width: 991px) {
  .pdc-site-search-facets h3 {
    font-size: 1.8rem !important;
    line-height: 2.2rem !important;
  }
  .pdc-site-search-facets h3 a {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
