{#
/**
 * Revert back to media's original template.
 *
 * This is because the drupalbase theme defines a media display template called
 * media--file--link-text-to-file.html.twig which hardcodes field_media_file
 * and field_link_text and renders a link to the file - which is not really a
 * good way to do this because it prevents configurability.
 *
 * Ideally, I would delete that file, but who knows where else drupalbase is
 * used. Instead, this template reverts back link_text_to_display to the plain
 * media template. Then we let media_entity_download turn the file into a link.
 */
#}
<div{{ attributes }}>
  {{ title_suffix.contextual_links }}
  {{ content }}
</div>
