[data-pdc-chart="expenditures"] .pdc-chart-legend-item {
  display: inline-block;
}

[data-pdc-chart="expenditures"] .pdc-chart-legend {
  margin: 0 14px;
}

[data-pdc-chart="expenditures"] .pdc-chart-legend-text {
  font-size: 1.2rem;
}

[data-pdc-chart="expenditures"] .pdc-chart-legend-item {
  margin-bottom: 0;
}

[data-pdc-chart="expenditures"] .pdc-chart-canvas-container {
  height: 500px;
}

[data-pdc-chart="expenditures"] .pdc-chart-legend-link::before {
  width: 16px;
  height: 16px;
}
