:root {
  --pdc-chart-legend-color: '#000';
}

.pdc-chart-container {
  margin-bottom: 30px;
}

.pdc-chart {
  display: block;
  container-type: inline-size;
}

.pdc-chart-title {
  font-size: 1.6rem !important;
  text-align: center;
  padding-bottom: 0;
  margin: 0 0 8px;
  line-height: 2rem;
}

.pdc-chart-title::before,
.pdc-chart-title::after {
  /* Remove the orange underline applied to all h2 and h3. */
  content: "";
  display: none;
}

.pdc-chart-table {
  width: 100%;
}

.pdc-chart-legend {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pdc-chart-legend-item{
  cursor: pointer;
  margin-right: 1em;
  margin-bottom: 16px;
}

.pdc-chart-legend-link {
  display: block;
  color: inherit;
  text-decoration: none;
  padding-left: 28px;
  padding-right: 15px;
  position: relative;
}

.pdc-chart-legend-link:hover,
.pdc-chart-legend-link:focus-within {
  text-decoration: underline;
}

.pdc-chart-legend-link::before {
  content: ' ';
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background-color: var(--pdc-chart-legend-color);
}

.pdc-chart-legend-text {
  font-size: 1.6rem;
  font-weight: 500;
}

.pdc-chart-legend-value {
  font-size: 1.4rem;
}

@media (min-width: 992px) {
  .pdc-chart-container {
    padding-top: 88px;
  }
}
