.campaign-title {
  padding: 16px 0;

  .campaign-year {
    display: none;
    background: var(--pdc-color-white);
    margin-left: 0.25em;
    margin-top: 0.8rem;
    width: 80px;
    padding: 1.2rem 1rem;
    border-radius: 100px;
    border: 1px solid var(--pdc-color-black);
    font-size: 1.4rem;
    line-height: 1.4rem;
    vertical-align: top;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../images/caret-down-solid.svg") 84% / 15% no-repeat #FFFFFF;
    background-size: 12px;

    @media screen and (max-width: 767px) {
      margin-top: 0.5rem;
      vertical-align: top;
    }
  }
}

// Navigational tabs
#campaign-data-navigation {
  padding-left: 0;
  padding-right: 0;

  .nav-tabs {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    margin-left: 10px;
    padding-right: 10px;
  }

  .tab {
    position: relative;
    display: block;
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom: none;
    border-radius: 0;
    color: var(--pdc-color-14);
    line-height: 1.25;
    text-decoration: underline;

    &:hover {
      background: #eee;
      color: var(--pdc-color-5);
      text-decoration: none;
    }
  }

  .tab--active {
    margin: -5px 0 -1px;
    color: var(--pdc-color-1);
    border-color: var(--pdc-color-1);
    border-top-width: 7px;
    font-weight: 700;
    z-index: 200;

    &:hover {
      background: #fff;
      color: var(--pdc-color-1);
    }
  }

  .campaign-finance__tab-switcher {
    display: none;
    padding: 10px;

    label { padding-right: 0.5em; }
    select { padding: 4px 8px; }
  }

  // Use the tab switcher "select" element for smaller screen sizes but
  // prefer the tab controls for screen readers and desktop sizes.
  @media screen and (max-width: 1024px) {
    .nav-tabs { display: none; }
    .campaign-finance__tab-switcher { display: block; }
  }
}

.campaign-data-wrapper {
  position: relative;
}

.campaign-info {
  margin: 16px 0 32px;

  &,
  .col {
    display: flex;
    flex-flow: column nowrap;
    gap: 16px 24px;
  }

  .callout {
    background-color: #fff;
    border: 1px #ddd solid;
    padding: 16px 0;
    box-shadow: 4px 4px 4px 0px rgba(56, 63, 89, 0.25);

    .callout-title {
      display: flex;
      flex-direction: row nowrap;
      justify-content: space-between;
      border-bottom: 1px solid #ddd;

      .callout-tooltip {
        padding: 0 16px;

        .tooltip-text {
          display: none;
        }

        &::after {
          position: relative;
          top: 4px;
          margin-left: 0.25em;
          content: url("../images/info.svg");
        }
      }

      h2 {
        font-size: 1.8rem;
        line-height: 3rem;
        padding: 0 16px;
        margin: 0;
        text-align: left;
        color: #000;

        &::after {
          display: none;
        }
      }
    }

    .callout-content {
      padding: 24px 16px 8px;

      .callout-tooltip {
        padding: 0 8px;

        .tooltip-text {
          display: none;
        }

        &::after {
          background: url("../images/info.svg") no-repeat;
          background-size: cover;
          display: inline-block;
          position: relative;
          top: 4px;
          content: "";
          height: 18px;
          width: 18px;
        }
      }
    }

    // Last child in the column fills the remaining space.
    &:last-child { flex-grow: 1; }
  }

  .campaign-overview-callout ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;

    li {
      position: relative;
      display: flex;
      flex-flow: row wrap;
      align-content: center;

      &::before {
        display: block;
        background: #E49600;
        content: '';
        height: 8px;
        width: 8px;
        margin: 10px 16px 0 6px;
      }
    }
  }

  .campaign-status-callout ul {
    list-style: none;
    padding: 0;

    li {
      display: flex;
      flex-flow: row nowrap;
      gap: 8px;

      &::before {
        content: url("../images/right-arrow-bend.svg");
        height: 20px;
        width: auto;
      }
    }
  }

  .reports-callout ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 8px;
    }

    @media  screen and (min-width: 768px) {
      column-count: 2;
    }
  }

  .campaign-info-field {
    display: flex;
    flex-flow: row nowrap;

    i {
      display: inline-block;
      width: 20px;
      margin: 8px 8px 0 0;
      text-align: center;
    }
  }

  .campaign-info--email {
    text-transform: lowercase;
  }

  .finance-row {
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    justify-content: stretch;
    margin: 0 0 10px;
    gap: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    .finance-value,
    .finance-operand,
    .finance-total {
      position: relative;
      flex: 1 1 auto;
      background-color: #eee;
      padding: 16px;
      font-weight: bold;
      line-height: 3.3rem;
    }

    .finance-value-label {
      font-size: 1.4rem;
      font-weight: normal;
      line-height: 1.25;
    }
  }

  .finance-row--calculated {
    background-color: #eee;
    gap: 10px 0;

    .finance-operand,
    .finance-total {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      flex-grow: 0;
      padding-left: 8px;

      &::before {
        display: inline-block;
        flex: 0 0 auto;
        padding: 0 24px 0 0;
        margin: auto 0;
        content: '+';
        font-size: 2.8rem;
        font-weight: normal;
        text-align: center;
      }

      &:first-child {
        padding-left: 16px;

        &::before { content: none; }
      }
    }

    .finance-total {
      &:last-child::before { content: '='; }
    }
  }
}

.campaign-subpage {
  .subpage-header {
    background-color: #fff;
    border: 1px #ddd solid;
    margin: 16px 0;
    padding: 24px 33px;
    box-shadow: 4px 4px 4px 0px rgba(56, 63, 89, 0.25);

    h2 {
      font-size: 2.4rem;
      line-height: 3rem;
      margin: 0;
      padding: 0;
      color: #000;

      &::after { display: none; }
    }

    h3 {
      padding: 0;
      margin: 16px 0;
      font-size: 1.8rem;
      line-height: 2.4rem;
      color: #000;

      &::before { display: none; }
    }

    .first {
      margin-bottom: 16px;
    }
  }
}

// Allows independent expenditure block to grow when debts block is not there.
.campaign-data-blocks .flex-row {
  display: flex;
  flex-flow: row nowrap;

  .flex-grow { flex-grow: 1; }
}

@media screen and (min-width: 768px) {
  .campaign-finance__panels .container {
    padding: 0;
  }

  .campaign-info .campaign-status-col {
    flex: 1 0 auto;
    flex-flow: row nowrap;
  }

  .campaign-info .callout {
    .callout-title {
      h2, .callout-tooltip {
        padding: 0 32px;

        .tooltip-text { display: inline; }
      }
    }

    .callout-content { padding: 24px 32px 8px; }
  }
}

@media screen and (min-width: 1200px) {
  .campaign-info {
    flex-flow: row nowrap;

    .col {
      flex-flow: column nowrap;
      align-items: stretch;
    }

    .campaign-status-col { flex: 0 0 420px; }
    .campaign-reports-col { flex: 1 1 auto; }
  }
}
