[data-pdc-chart="pie"] .pdc-chart-legend {
  display: flex;
  flex-wrap: wrap;
}

[data-pdc-chart="pie"] .pdc-chart-legend-item{
  width: 50%;
}

@container (min-width: 400px) {
  [data-pdc-chart="pie"] .pdc-chart-widget {
    display: flex;
    align-items: center;
  }

  [data-pdc-chart="pie"] .pdc-chart-widget > * {
    width: 50%;
  }

  [data-pdc-chart="pie"] .pdc-chart-legend {
    display: block;
  }

  [data-pdc-chart="pie"] .pdc-chart-legend-item {
    display: block;
    width: 100%;
  }
}
