@max1440: ~"screen and (max-width: 1440px)";
@max1366: ~"screen and (max-width: 1366px)";
@min1200: ~"screen and (min-width: 1200px)";
@max1199: ~"screen and (max-width: 1199px)";
@max1024: ~"screen and (max-width: 1024px)";
@min992: ~"screen and (min-width: 992px)";
@max991: ~"screen and (max-width: 991px)";
@max800: ~"screen and (max-width: 800px)";
@max767: ~"screen and (max-width: 767px)";
@max600: ~"screen and (max-width: 600px)";
@max425: ~"screen and (max-width: 425px)";
@max375: ~"screen and (max-width: 375px)";
@max320: ~"screen and (max-width: 320px)";

body {
  .wrapper-content-top-api-tools {
    /*background-color: #EEE;*/
    padding-bottom: 20px;
    margin-right: 15px;
    margin-left: 15px;

    .breadcrumb {
      margin-bottom: 0;
    }

    #block-candidatesdatapagesummary {
      padding-bottom: 20px;
    }
  }

  &.data-table-page {
    .main-container-api-tools {
      padding-bottom: 40px;

      .row {
        @media @min1200 {
          margin: 0 auto;
        }

        .region-content {
          max-width: 1260px;
          margin: 0 auto;
        }
      }
    }
  }

  &.page-node-220 {
    #block-politicaldisclosurelandingpagecommitteesblockwithform,
    #block-politicaldisclosurelandingpagecandidatesblockwithform {
      .form-group {
        margin-top: 15px;
        width: 60%;
        display: inline-block;

        .form-control {}
      }
      .more-link {
        margin-top: 43px;
      }
    }
  }
  &.page-node-214 {
    #views-bootstrap-bios-block-1 {
      .field-subsection-link {
        position: initial;
        width: 300px;
        margin-top: 0;
      }
    }
  }
}

#block-lobbyistsnavigationblock,
#block-campaignexplorernavigationblock,
#block-independentexpendituresnavigationblock {
  margin-bottom: 20px;
  margin-top: 20px;
  @media @max991 {
    margin: 0;
  }

  .floating-tabs {
    width: 100%;

    #table-top-nav {
      margin: 0;
      /*border-bottom: 1px solid var(--pdc-color-secondary);*/
      height: 56px;
      border-bottom: 1px solid #DDD;

      .nav-tabs {
        float: right;
        border-bottom: 1px solid #DDD;
        z-index: -100;

        li {
          border-top: 1px solid #DDD;
          border-right: 1px solid #DDD;
          border-left: 1px solid #DDD;
          border-bottom: 1px solid #DDD;
          margin-right: 8px;
          background-color: #fff;

          &.active {
            border-top: 7px solid #006800;
            border-right: 1px solid #006800;
            border-left: 1px solid #006800;
            margin-top: -5px;
            border-bottom: none;
            z-index: 200;
            background-color: #fff;

            @media @max600 {
              border-bottom: 1px solid #006800;
              z-index: -2000;

            }

            a {
              color: #006800;
              font-weight: 700;
            }
          }
        }
      }
    }
  }

  .table-top-subnav {
    padding-top: 8px;
    background-color: #F1F7F1;
    height: 38px;

    @media @max1024 {
      background-color: #fff;
    }

    ul {
      list-style-type: none;
      float: right;
      margin-bottom: 0;

      li {
        float: left;
        border: none;
        margin-right: 25px;
        font-size: 1.7rem;
        padding-bottom: 0;

        &.active {
          border-bottom: 5px solid #E49600;
        }
      }
    }
  }
}

#jurisdiction.disabled::before {
  content:"";
  display: block;
  height: 105%;
  position: absolute;
  top: 0;
  left: -15px;
  width: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, .5);
  background-image: url("../images/info.svg");
  background-repeat: no-repeat;
}

.data-table-container {
  @media @max991 {
    margin-top: 20px;
  }

  .cover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #fff;
    z-index: 9999;
    visibility: visible;
    opacity: .75;
    transition: all 0.3s;

    &.remove {
      opacity: 0;
      visibility: hidden;
    }

    .loader {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      text-align: center;

      i {
        &.fas {
          margin-top: 10%;
        }
      }
    }
  }

  .all-the-filters {
    border: 1px solid #999;
    min-height: 60px;
    margin-bottom: 10px;
    clear: right;

    .filters > div {
      margin-top: 20px;
    }

    .search-switcher-container {
      display: flex;
      flex-flow: row wrap;
      gap: 0.5em 1.5em;

      input[type='radio'] {
        margin: 0;
      }
    }

    h2 {
      font-size: 1.4rem !important;
      line-height: 1.4rem !important;
      font-weight: 400 !important;
      display: inline-block;
      padding: 0;

      &:after {
        display: none;
        content: '';
      }
    }

    h3 {
      font-size: 1.8rem;
      line-height: 1.8rem;
      font-weight: 700;
      display: inline-block;
      padding-top: 10px;
      margin-top: 0;

      &:after {
        display: none;
        content: '';
      }

      &:before {
        display: none;
        content: '';
      }
    }
    .never {
      display: none;
    }

    .my-cam-content {
      padding-left: 15px;
      padding-bottom: 20px;
    }

    .helpertext {
      font-size: 1.2rem;
    }
    .ui-dialog-titlebar-close {
      height: 40px;
      width: 40px;
      color: #fff;
      border-radius: 0;
      background: #006800 100%!important;
      opacity: initial;
      span {
        color: #fff;
        font-size: 4rem;
      }
    }

    label {
      font-size: 1.5rem;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    .chosen-container {
      width: 85% !important;
      min-height: 30px;

      .chosen-choices {
        box-shadow: none;
        -webkit-box-shadow: none;
        border: 1px solid #999!important;
        border-radius: 2px;
        background-image: none;


        input {
          color: var(--pdc-color-gray-30) !important;
          font-size: 1.4rem !important;
          font-family: 'IBM PLEX SANS' !important;
                  padding: 12px 6px!important;
        }
      }
    }
    .form-control {
      display: inline-block;
      border: 1px solid #999;
      border-radius: 2px;
      box-shadow: none;
      width: 85%;
    }
    .no-borders {
      .form-control {
        border: none;
        padding-left: 0;
        padding-right: 22px;
        padding-top: 0;
        input {
          padding-left: 12px;
          border: 1px solid #999;
          border-radius: 2px;
          height: 32px;
        }
        button {
          position: absolute;
          top: 22px;
        }
      }
    }
    #jurisdiction_code {
      display: inline-block;
      width: auto !important;
      margin: 0 !important;
      padding: 0 !important;
      float: none !important;
    }
    select,
    input {
      width: 90%;
      color: var(--pdc-color-black) !important;
      &::placeholder {
        color: var(--pdc-color-gray-30) !important;
      }
      .select2-container {
        height: 30px;
        width: 90%;
        border: 1px solid #999;
        border-radius: 2px;
        font-size: 1.6rem !important;
        font-family: 'IBM PLEX SANS' !important;

        .select2-choices {
          min-height: 40px;
        }
      }
    }

    input[type='radio'] {
      width: auto;
      margin: 0 0.5em 15px -26px;
    }

    .yadcf-filter-range-number,
    .yadcf-filter-range-date {
      width: 44%;
      float: left;
      text-align: left;

      &:first-of-type {
        margin-right: 10px;
      }

      input {
        text-align: left;
      }
    }

    .my-cam-remember {
      input {
        width: auto;
        height: auto;
        font-size: 1.2rem;
      }

      label {
        font-size: 1.2rem;
      }

      i {
        font-size: 1.6rem;
      }
    }

    .filter-top {
      background-color: #EEE;
      padding: 7px;
    }

    .stop-floats {
      padding-bottom: 5px;
    }

    .current-filters {
      display: inline-block;
      padding-top: 3px;
      padding-left: 0;

      .filter-tag {
        display: inline-block;
        padding: 5px 10px;
        border-radius: 25px;
        margin: 5px;
        background: #fff;
        border: 1px solid #E49600;
        color: #000;
        font-size: 1.4rem;
        .filter-tag-close {
          background: transparent;
          color: #000;
          border: none;
        }
      }
    }

    button {
      background-color: var(--pdc-color-primary);
      color: #fff;

      &.btn-success {
        background-color: #fff;
        border-color: #000;

        .caret {
          color: #000;
        }
      }

      &.yadcf-filter-reset-button {
        background-color: #fff;
        color: #000;
        border: none;
        font-size: 2.7rem;
      }
    }

    #filter-colapse-control,
    .filter-collapse-control {
      background-color: transparent;
      color: #000;
      border: none;
      margin-top: 10px;
      font-weight: 700;
      &[aria-expanded="true"] {
        &:before {
          content: '\f077';
          font-family: "Font Awesome 6 Free";
          margin-right: 5px;
          font-weight: 900;
        }
      }
      &[aria-expanded="false"] {
        &:before {
          content: '\f078';
          font-family: "Font Awesome 6 Free";
          margin-right: 5px;
          font-weight: 900;
        }
      }
      &:active {
        /*padding: 6px;*/
      }

    }
    .search-tips-button {
      background-color: transparent;
      color: #000;
      border: none;
      margin-top: 10px;
      font-weight: 700;
      &:before {
        content: '\f002';
        font-family: "Font Awesome 6 Free";
        margin-right: 5px;
        font-weight: 900;
      }
      &:focus {
        background-color: transparent;
        color: #000;
        border: none;
      }
    }

    .current-filter-container {
      .no-results {
        font-size: 1.6rem;
        margin-top: 15px;
        padding-left: 3px;
        font-weight: 700;
      }
    }
  }

  .btn-group {
    padding: 30px;
  }

  .filters,
  .keyword-filter {
    display: flow-root;
    width: 100%;
    overflow: visible;
    padding: 0 30px 0 40px;
    margin: 30px 0;
  }

  .ui-widget-header {
    background-color: transparent;
    border: none;
  }

  .table-wrapper {
    width: 100%;
  }
  .dataTables_wrapper {
    box-sizing: border-box;
  }
  .dataTables_info {
    white-space: normal;
  }

  .datatable__caption {
    color: var(--pdc-color-black);
    margin: 0.5em 0;
    text-align: right;

    i.fa {
      color: var(--pdc-color-1);
    }
  }

  .dataTable, .dataTableAlt {
    border-collapse: collapse;

    a {
      font-weight: 500;
    }

    thead {
      .sorting {
        background-image: none;

        &:after {
          content: '';
        }
      }


      th {
        background-color: transparent !important;
        border: none;
        font-size: 1.4rem;
        line-height: 1.6rem;

        &.right-align {
          text-align: right;
        }


        &.ui-state-default {
          /*.ui-icon {
            background-image: none;
            display: initial;
            text-indent: initial;
            overflow: initial;
            top: 38%; */

            &:after {
              content: '\f0dc';
              font-family: "Font Awesome 6 Free";
              font-size: 1.5rem;
              opacity: 100%;
              top: 50%;
              transform: translateY(-50%);
              right: 8px;
            }
          /*}*/

          &.sorting_asc {
            background-image: none !important;



              &:after {
                content: '\f0de';
                font-family: "Font Awesome 6 Free";
                font-size: 1.5rem;
                opacity: 100%;
            }
          }

          &.sorting_desc {
            background-image: none !important;
              &:after {
                content: '\f0dd';
                font-family: "Font Awesome 6 Free";
                font-size: 1.5rem;
                opacity: 100%;
            }
          }

          .DataTables_sort_wrapper {
            span {
              position: initial;
              margin-left: 8px;
            }
          }
        }
      }
    }

    tbody {
      tr {
        td {
          font-size: 1.4rem;
          border-top: 1px solid #2B2B2B;
          height: max-content;
          background-clip: padding-box;
          span {
            &.amended-strikethrough {
              text-decoration: line-through;
            }
          }
        }

        & + .child td {
          border-top: none;
        }
      }
    }
  }

  .dataTables_paginate {
    .previous {
      color: #000;
    }

    .ui-state-default {
      color: #000;
      font-weight: 600;
      border: 1px solid #767676;
      background-color: transparent;

      &.disabled, &.active {
        border: 1px solid #C4C4C4;
        color: #C4C4C4;
        a {
          color: #C4C4C4;
        }
      }

      a {
        border: none;
        padding: 0;
        background-color: transparent;
        &:hover {
          background-color: transparent;
        }
      }
    }
    .pagination {
      width: 80%;
      display: block;
      margin-left: 5px;
      padding-left: 5px;
      @media @max991 {
              white-space: pre-wrap;
      }
    }
  }

  .dataTables_wrapper {
    .dt-buttons {
      button {
        background: transparent;
        text-decoration: underline;
        color: var(--pdc-color-primary);
        border: none;
        font-size: 1.4rem;

        &:hover {
          text-decoration: none;
        }

        i {
          &:before {
            margin-right: 5px;
            color: #000;
          }
        }
      }
    }
  }
}

.campaign-data-top,
.campaign-data-top,
.committee-data-top {
  background: #EEE;
  border: none;
  margin-bottom: 20px;

  h1 {
    margin-top: 0;
  }

  .candidate-info,
  .committee-info {
    padding-bottom: 20px;

    h2 {
      font-size: 2.4rem;
      line-height: 3rem !important;
      margin: 0;
      padding: 0;
      color: #000;

      &:after {
        display: none !important;
        content: '';
      }
    }

    h3 {
      font-size: 1.8rem !important;
      margin: 16px 0 0 0;
      padding: 0;
      line-height: 2.4rem !important;
      color: #000;

      &:after {
        display: none !important;
        content: '';
      }

      &:before {
        display: none;
        content: '';
      }
    }

    .subpage-info-chart-container {
      padding: 15px;
      background: white;
    }

    .first, .summary-text {
      margin-bottom: 15px;
    }

    .campaign-callouts,
    .candidate-callouts,
    .committee-callouts {
      .callout {
        background-color: #fff;
        border: 1px #ddd solid;
        padding: 16px 0;
        margin-bottom: 16px;
        box-shadow: 4px 4px 4px 0px rgba(56, 63, 89, 0.25);

        h2 {
          font-size: 1.8rem;
          line-height: 2.4rem;
          margin: 0;
          padding: 0;
          text-align: center;
          border-bottom: 1px solid #ddd;
          color: #000;
        }

        h3 {
          padding: 0 37px;
          font-size: 1.8rem;
          line-height: 2.4rem;
          color: #000;
        }

        p {
          padding: 0 37px;
          font-size: 1.6rem;
        }

        img {
          margin-top: 15px;
          /*margin-left: 25px;*/
        }
        &.center {
          text-align: center;
        }
        ul {
          margin: 10px 37px 10px 10px;

          li {
            list-style-type: none;
            font-size: 1.6rem;
          }
        }
      }
    }

    .candidate-info-buttons,
    .committee-info-buttons {
      ul {
        width: 100%;

        li {
          width: 100%;
          list-style: none;

          a {
            &.btn {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

#candidates-table,
#opponents-datatable {
  .candidacy-icon {
    color: var(--pdc-color-1);
    padding-left: 0.25em;
  }
}

.campaign-data-blocks,
.candidate-data-blocks,
.committee-data-blocks {
  margin-top: 20px;

  .number {
    font-size: 1.3em;
    font-weight: 700;
  }

  .inner {
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    box-shadow: 4px 4px 4px rgba(56, 63, 89, 0.25);
    padding: 15px;
    margin-bottom: 30px;
  }

  h2 {
    margin-top: 0;
    margin-bottom: revert;
    padding: revert;
    line-height: 4rem;

    &::after {
      display: none;
      content: '';
    }
  }

  #contributions-chart-legend, #expenditures-chart-legend, #independent-expenditures-chart-legend {
    float: left;
    width: 140px;
    @media @max991 {
      float: none;
      width: 100%;
    }

    ul {
      li {
        list-style-type: none;
        font-size: 1.2rem;
        font-weight: 500;

        span {
          width: 12px !important;
          height: 12px !important;
          margin-right: 4px !important;
          vertical-align: top;
        }

        p {
          display: inline-block;
          width: 85%;
        }
      }
    }
  }

  #independent-expenditures-chart-legend {
    clear: left;
    width: 100%;

    ul {
      li {
        float: left;
        width: fit-content;
        margin-right: 10px;

        p {
          width: initial;
        }
      }
    }
  }

  .opposing-candidates {
    overflow: hidden;

    .candidate {
      .inner {
        min-height: 100px;
        margin: 15px;
        padding: 15px !important;
        background: #1c5c88 !important;
        overflow: hidden;
        color: #fff;
        text-align: center;

        a {
          color: #fff;

          &.hover {
            color: #fff;
            text-decoration: underline;
          }
        }
      }
    }

    .opposing-candidates-table {
      margin: 0;

      table {
        margin-top: 30px;
      }

    }
  }
}

@nav-link-hover-bg: #eeeeee;
@nav-tabs-border-color: #dddddd;
@border-radius-base: 5px;


//css to add hamburger and create dropdown

#table-top-nav {
  #camp-exp-button {
    display: none;
    background: none;
    border: none;
    z-index: 99999;
  }
  @media @max991 {
    position: relative;
    #camp-exp-button {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 20px;
    }
    ul.nav-tabs.nav-tabs-dropdown,
    ul.nav-tabs-dropdown {
      border: 1px solid @nav-tabs-border-color;
      border-radius: @border-radius-base;
      overflow: hidden;
      position: relative;
      width: 100%;
      float: none;
      display: block;
      width: 100% !important;
      margin: 20px auto;
      border: 1px solid #ededed;
      z-index: 999 !important;
      li {
        width: 100% !important;
        text-align: center;
        border: 0 !important;
        &.mobile-hide {
          display: none;
        }
      }
    }
  }
}
