body .wrapper-content-top-api-tools {
  /*background-color: #EEE;*/
  padding-bottom: 20px;
  margin-right: 15px;
  margin-left: 15px;
}
body .wrapper-content-top-api-tools .breadcrumb {
  margin-bottom: 0;
}
body .wrapper-content-top-api-tools #block-candidatesdatapagesummary {
  padding-bottom: 20px;
}
body.data-table-page .main-container-api-tools {
  padding-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  body.data-table-page .main-container-api-tools .row {
    margin: 0 auto;
  }
}
body.data-table-page .main-container-api-tools .row .region-content {
  max-width: 1260px;
  margin: 0 auto;
}
body.page-node-220 #block-politicaldisclosurelandingpagecommitteesblockwithform .form-group,
body.page-node-220 #block-politicaldisclosurelandingpagecandidatesblockwithform .form-group {
  margin-top: 15px;
  width: 60%;
  display: inline-block;
}
body.page-node-220 #block-politicaldisclosurelandingpagecommitteesblockwithform .more-link,
body.page-node-220 #block-politicaldisclosurelandingpagecandidatesblockwithform .more-link {
  margin-top: 43px;
}
body.page-node-214 #views-bootstrap-bios-block-1 .field-subsection-link {
  position: initial;
  width: 300px;
  margin-top: 0;
}
#block-lobbyistsnavigationblock,
#block-campaignexplorernavigationblock,
#block-independentexpendituresnavigationblock {
  margin-bottom: 20px;
  margin-top: 20px;
}
@media screen and (max-width: 991px) {
  #block-lobbyistsnavigationblock,
  #block-campaignexplorernavigationblock,
  #block-independentexpendituresnavigationblock {
    margin: 0;
  }
}
#block-lobbyistsnavigationblock .floating-tabs,
#block-campaignexplorernavigationblock .floating-tabs,
#block-independentexpendituresnavigationblock .floating-tabs {
  width: 100%;
}
#block-lobbyistsnavigationblock .floating-tabs #table-top-nav,
#block-campaignexplorernavigationblock .floating-tabs #table-top-nav,
#block-independentexpendituresnavigationblock .floating-tabs #table-top-nav {
  margin: 0;
  /*border-bottom: 1px solid var(--pdc-color-secondary);*/
  height: 56px;
  border-bottom: 1px solid #DDD;
}
#block-lobbyistsnavigationblock .floating-tabs #table-top-nav .nav-tabs,
#block-campaignexplorernavigationblock .floating-tabs #table-top-nav .nav-tabs,
#block-independentexpendituresnavigationblock .floating-tabs #table-top-nav .nav-tabs {
  float: right;
  border-bottom: 1px solid #DDD;
  z-index: -100;
}
#block-lobbyistsnavigationblock .floating-tabs #table-top-nav .nav-tabs li,
#block-campaignexplorernavigationblock .floating-tabs #table-top-nav .nav-tabs li,
#block-independentexpendituresnavigationblock .floating-tabs #table-top-nav .nav-tabs li {
  border-top: 1px solid #DDD;
  border-right: 1px solid #DDD;
  border-left: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  margin-right: 8px;
  background-color: #fff;
}
#block-lobbyistsnavigationblock .floating-tabs #table-top-nav .nav-tabs li.active,
#block-campaignexplorernavigationblock .floating-tabs #table-top-nav .nav-tabs li.active,
#block-independentexpendituresnavigationblock .floating-tabs #table-top-nav .nav-tabs li.active {
  border-top: 7px solid #006800;
  border-right: 1px solid #006800;
  border-left: 1px solid #006800;
  margin-top: -5px;
  border-bottom: none;
  z-index: 200;
  background-color: #fff;
}
@media screen and (max-width: 600px) {
  #block-lobbyistsnavigationblock .floating-tabs #table-top-nav .nav-tabs li.active,
  #block-campaignexplorernavigationblock .floating-tabs #table-top-nav .nav-tabs li.active,
  #block-independentexpendituresnavigationblock .floating-tabs #table-top-nav .nav-tabs li.active {
    border-bottom: 1px solid #006800;
    z-index: -2000;
  }
}
#block-lobbyistsnavigationblock .floating-tabs #table-top-nav .nav-tabs li.active a,
#block-campaignexplorernavigationblock .floating-tabs #table-top-nav .nav-tabs li.active a,
#block-independentexpendituresnavigationblock .floating-tabs #table-top-nav .nav-tabs li.active a {
  color: #006800;
  font-weight: 700;
}
#block-lobbyistsnavigationblock .table-top-subnav,
#block-campaignexplorernavigationblock .table-top-subnav,
#block-independentexpendituresnavigationblock .table-top-subnav {
  padding-top: 8px;
  background-color: #F1F7F1;
  height: 38px;
}
@media screen and (max-width: 1024px) {
  #block-lobbyistsnavigationblock .table-top-subnav,
  #block-campaignexplorernavigationblock .table-top-subnav,
  #block-independentexpendituresnavigationblock .table-top-subnav {
    background-color: #fff;
  }
}
#block-lobbyistsnavigationblock .table-top-subnav ul,
#block-campaignexplorernavigationblock .table-top-subnav ul,
#block-independentexpendituresnavigationblock .table-top-subnav ul {
  list-style-type: none;
  float: right;
  margin-bottom: 0;
}
#block-lobbyistsnavigationblock .table-top-subnav ul li,
#block-campaignexplorernavigationblock .table-top-subnav ul li,
#block-independentexpendituresnavigationblock .table-top-subnav ul li {
  float: left;
  border: none;
  margin-right: 25px;
  font-size: 1.7rem;
  padding-bottom: 0;
}
#block-lobbyistsnavigationblock .table-top-subnav ul li.active,
#block-campaignexplorernavigationblock .table-top-subnav ul li.active,
#block-independentexpendituresnavigationblock .table-top-subnav ul li.active {
  border-bottom: 5px solid #E49600;
}
#jurisdiction.disabled::before {
  content: "";
  display: block;
  height: 105%;
  position: absolute;
  top: 0;
  left: -15px;
  width: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url("../images/info.svg");
  background-repeat: no-repeat;
}
@media screen and (max-width: 991px) {
  .data-table-container {
    margin-top: 20px;
  }
}
.data-table-container .cover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #fff;
  z-index: 9999;
  visibility: visible;
  opacity: 0.75;
  transition: all 0.3s;
}
.data-table-container .cover.remove {
  opacity: 0;
  visibility: hidden;
}
.data-table-container .cover .loader {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
}
.data-table-container .cover .loader i.fas {
  margin-top: 10%;
}
.data-table-container .all-the-filters {
  border: 1px solid #999;
  min-height: 60px;
  margin-bottom: 10px;
  clear: right;
}
.data-table-container .all-the-filters .filters > div {
  margin-top: 20px;
}
.data-table-container .all-the-filters .search-switcher-container {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5em 1.5em;
}
.data-table-container .all-the-filters .search-switcher-container input[type='radio'] {
  margin: 0;
}
.data-table-container .all-the-filters h2 {
  font-size: 1.4rem !important;
  line-height: 1.4rem !important;
  font-weight: 400 !important;
  display: inline-block;
  padding: 0;
}
.data-table-container .all-the-filters h2:after {
  display: none;
  content: '';
}
.data-table-container .all-the-filters h3 {
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 700;
  display: inline-block;
  padding-top: 10px;
  margin-top: 0;
}
.data-table-container .all-the-filters h3:after {
  display: none;
  content: '';
}
.data-table-container .all-the-filters h3:before {
  display: none;
  content: '';
}
.data-table-container .all-the-filters .never {
  display: none;
}
.data-table-container .all-the-filters .my-cam-content {
  padding-left: 15px;
  padding-bottom: 20px;
}
.data-table-container .all-the-filters .helpertext {
  font-size: 1.2rem;
}
.data-table-container .all-the-filters .ui-dialog-titlebar-close {
  height: 40px;
  width: 40px;
  color: #fff;
  border-radius: 0;
  background: #006800 100% !important;
  opacity: initial;
}
.data-table-container .all-the-filters .ui-dialog-titlebar-close span {
  color: #fff;
  font-size: 4rem;
}
.data-table-container .all-the-filters label {
  font-size: 1.5rem;
  padding-bottom: 0;
  margin-bottom: 0;
}
.data-table-container .all-the-filters .chosen-container {
  width: 85% !important;
  min-height: 30px;
}
.data-table-container .all-the-filters .chosen-container .chosen-choices {
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 1px solid #999 !important;
  border-radius: 2px;
  background-image: none;
}
.data-table-container .all-the-filters .chosen-container .chosen-choices input {
  color: var(--pdc-color-gray-30) !important;
  font-size: 1.4rem !important;
  font-family: 'IBM PLEX SANS' !important;
  padding: 12px 6px!important;
}
.data-table-container .all-the-filters .form-control {
  display: inline-block;
  border: 1px solid #999;
  border-radius: 2px;
  box-shadow: none;
  width: 85%;
}
.data-table-container .all-the-filters .no-borders .form-control {
  border: none;
  padding-left: 0;
  padding-right: 22px;
  padding-top: 0;
}
.data-table-container .all-the-filters .no-borders .form-control input {
  padding-left: 12px;
  border: 1px solid #999;
  border-radius: 2px;
  height: 32px;
}
.data-table-container .all-the-filters .no-borders .form-control button {
  position: absolute;
  top: 22px;
}
.data-table-container .all-the-filters #jurisdiction_code {
  display: inline-block;
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  float: none !important;
}
.data-table-container .all-the-filters select,
.data-table-container .all-the-filters input {
  width: 90%;
  color: var(--pdc-color-black) !important;
}
.data-table-container .all-the-filters select::placeholder,
.data-table-container .all-the-filters input::placeholder {
  color: var(--pdc-color-gray-30) !important;
}
.data-table-container .all-the-filters select .select2-container,
.data-table-container .all-the-filters input .select2-container {
  height: 30px;
  width: 90%;
  border: 1px solid #999;
  border-radius: 2px;
  font-size: 1.6rem !important;
  font-family: 'IBM PLEX SANS' !important;
}
.data-table-container .all-the-filters select .select2-container .select2-choices,
.data-table-container .all-the-filters input .select2-container .select2-choices {
  min-height: 40px;
}
.data-table-container .all-the-filters input[type='radio'] {
  width: auto;
  margin: 0 0.5em 15px -26px;
}
.data-table-container .all-the-filters .yadcf-filter-range-number,
.data-table-container .all-the-filters .yadcf-filter-range-date {
  width: 44%;
  float: left;
  text-align: left;
}
.data-table-container .all-the-filters .yadcf-filter-range-number:first-of-type,
.data-table-container .all-the-filters .yadcf-filter-range-date:first-of-type {
  margin-right: 10px;
}
.data-table-container .all-the-filters .yadcf-filter-range-number input,
.data-table-container .all-the-filters .yadcf-filter-range-date input {
  text-align: left;
}
.data-table-container .all-the-filters .my-cam-remember input {
  width: auto;
  height: auto;
  font-size: 1.2rem;
}
.data-table-container .all-the-filters .my-cam-remember label {
  font-size: 1.2rem;
}
.data-table-container .all-the-filters .my-cam-remember i {
  font-size: 1.6rem;
}
.data-table-container .all-the-filters .filter-top {
  background-color: #EEE;
  padding: 7px;
}
.data-table-container .all-the-filters .stop-floats {
  padding-bottom: 5px;
}
.data-table-container .all-the-filters .current-filters {
  display: inline-block;
  padding-top: 3px;
  padding-left: 0;
}
.data-table-container .all-the-filters .current-filters .filter-tag {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 25px;
  margin: 5px;
  background: #fff;
  border: 1px solid #E49600;
  color: #000;
  font-size: 1.4rem;
}
.data-table-container .all-the-filters .current-filters .filter-tag .filter-tag-close {
  background: transparent;
  color: #000;
  border: none;
}
.data-table-container .all-the-filters button {
  background-color: var(--pdc-color-primary);
  color: #fff;
}
.data-table-container .all-the-filters button.btn-success {
  background-color: #fff;
  border-color: #000;
}
.data-table-container .all-the-filters button.btn-success .caret {
  color: #000;
}
.data-table-container .all-the-filters button.yadcf-filter-reset-button {
  background-color: #fff;
  color: #000;
  border: none;
  font-size: 2.7rem;
}
.data-table-container .all-the-filters #filter-colapse-control,
.data-table-container .all-the-filters .filter-collapse-control {
  background-color: transparent;
  color: #000;
  border: none;
  margin-top: 10px;
  font-weight: 700;
}
.data-table-container .all-the-filters #filter-colapse-control[aria-expanded="true"]:before,
.data-table-container .all-the-filters .filter-collapse-control[aria-expanded="true"]:before {
  content: '\f077';
  font-family: "Font Awesome 6 Free";
  margin-right: 5px;
  font-weight: 900;
}
.data-table-container .all-the-filters #filter-colapse-control[aria-expanded="false"]:before,
.data-table-container .all-the-filters .filter-collapse-control[aria-expanded="false"]:before {
  content: '\f078';
  font-family: "Font Awesome 6 Free";
  margin-right: 5px;
  font-weight: 900;
}
.data-table-container .all-the-filters #filter-colapse-control:active,
.data-table-container .all-the-filters .filter-collapse-control:active {
  /*padding: 6px;*/
}
.data-table-container .all-the-filters .search-tips-button {
  background-color: transparent;
  color: #000;
  border: none;
  margin-top: 10px;
  font-weight: 700;
}
.data-table-container .all-the-filters .search-tips-button:before {
  content: '\f002';
  font-family: "Font Awesome 6 Free";
  margin-right: 5px;
  font-weight: 900;
}
.data-table-container .all-the-filters .search-tips-button:focus {
  background-color: transparent;
  color: #000;
  border: none;
}
.data-table-container .all-the-filters .current-filter-container .no-results {
  font-size: 1.6rem;
  margin-top: 15px;
  padding-left: 3px;
  font-weight: 700;
}
.data-table-container .btn-group {
  padding: 30px;
}
.data-table-container .filters,
.data-table-container .keyword-filter {
  display: flow-root;
  width: 100%;
  overflow: visible;
  padding: 0 30px 0 40px;
  margin: 30px 0;
}
.data-table-container .ui-widget-header {
  background-color: transparent;
  border: none;
}
.data-table-container .table-wrapper {
  width: 100%;
}
.data-table-container .dataTables_wrapper {
  box-sizing: border-box;
}
.data-table-container .dataTables_info {
  white-space: normal;
}
.data-table-container .datatable__caption {
  color: var(--pdc-color-black);
  margin: 0.5em 0;
  text-align: right;
}
.data-table-container .datatable__caption i.fa {
  color: var(--pdc-color-1);
}
.data-table-container .dataTable,
.data-table-container .dataTableAlt {
  border-collapse: collapse;
}
.data-table-container .dataTable a,
.data-table-container .dataTableAlt a {
  font-weight: 500;
}
.data-table-container .dataTable thead .sorting,
.data-table-container .dataTableAlt thead .sorting {
  background-image: none;
}
.data-table-container .dataTable thead .sorting:after,
.data-table-container .dataTableAlt thead .sorting:after {
  content: '';
}
.data-table-container .dataTable thead th,
.data-table-container .dataTableAlt thead th {
  background-color: transparent !important;
  border: none;
  font-size: 1.4rem;
  line-height: 1.6rem;
}
.data-table-container .dataTable thead th.right-align,
.data-table-container .dataTableAlt thead th.right-align {
  text-align: right;
}
.data-table-container .dataTable thead th.ui-state-default,
.data-table-container .dataTableAlt thead th.ui-state-default {
  /*.ui-icon {
            background-image: none;
            display: initial;
            text-indent: initial;
            overflow: initial;
            top: 38%; */
  /*}*/
}
.data-table-container .dataTable thead th.ui-state-default:after,
.data-table-container .dataTableAlt thead th.ui-state-default:after {
  content: '\f0dc';
  font-family: "Font Awesome 6 Free";
  font-size: 1.5rem;
  opacity: 100%;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
}
.data-table-container .dataTable thead th.ui-state-default.sorting_asc,
.data-table-container .dataTableAlt thead th.ui-state-default.sorting_asc {
  background-image: none !important;
}
.data-table-container .dataTable thead th.ui-state-default.sorting_asc:after,
.data-table-container .dataTableAlt thead th.ui-state-default.sorting_asc:after {
  content: '\f0de';
  font-family: "Font Awesome 6 Free";
  font-size: 1.5rem;
  opacity: 100%;
}
.data-table-container .dataTable thead th.ui-state-default.sorting_desc,
.data-table-container .dataTableAlt thead th.ui-state-default.sorting_desc {
  background-image: none !important;
}
.data-table-container .dataTable thead th.ui-state-default.sorting_desc:after,
.data-table-container .dataTableAlt thead th.ui-state-default.sorting_desc:after {
  content: '\f0dd';
  font-family: "Font Awesome 6 Free";
  font-size: 1.5rem;
  opacity: 100%;
}
.data-table-container .dataTable thead th.ui-state-default .DataTables_sort_wrapper span,
.data-table-container .dataTableAlt thead th.ui-state-default .DataTables_sort_wrapper span {
  position: initial;
  margin-left: 8px;
}
.data-table-container .dataTable tbody tr td,
.data-table-container .dataTableAlt tbody tr td {
  font-size: 1.4rem;
  border-top: 1px solid #2B2B2B;
  height: max-content;
  background-clip: padding-box;
}
.data-table-container .dataTable tbody tr td span.amended-strikethrough,
.data-table-container .dataTableAlt tbody tr td span.amended-strikethrough {
  text-decoration: line-through;
}
.data-table-container .dataTable tbody tr + .child td,
.data-table-container .dataTableAlt tbody tr + .child td {
  border-top: none;
}
.data-table-container .dataTables_paginate .previous {
  color: #000;
}
.data-table-container .dataTables_paginate .ui-state-default {
  color: #000;
  font-weight: 600;
  border: 1px solid #767676;
  background-color: transparent;
}
.data-table-container .dataTables_paginate .ui-state-default.disabled,
.data-table-container .dataTables_paginate .ui-state-default.active {
  border: 1px solid #C4C4C4;
  color: #C4C4C4;
}
.data-table-container .dataTables_paginate .ui-state-default.disabled a,
.data-table-container .dataTables_paginate .ui-state-default.active a {
  color: #C4C4C4;
}
.data-table-container .dataTables_paginate .ui-state-default a {
  border: none;
  padding: 0;
  background-color: transparent;
}
.data-table-container .dataTables_paginate .ui-state-default a:hover {
  background-color: transparent;
}
.data-table-container .dataTables_paginate .pagination {
  width: 80%;
  display: block;
  margin-left: 5px;
  padding-left: 5px;
}
@media screen and (max-width: 991px) {
  .data-table-container .dataTables_paginate .pagination {
    white-space: pre-wrap;
  }
}
.data-table-container .dataTables_wrapper .dt-buttons button {
  background: transparent;
  text-decoration: underline;
  color: var(--pdc-color-primary);
  border: none;
  font-size: 1.4rem;
}
.data-table-container .dataTables_wrapper .dt-buttons button:hover {
  text-decoration: none;
}
.data-table-container .dataTables_wrapper .dt-buttons button i:before {
  margin-right: 5px;
  color: #000;
}
.campaign-data-top,
.campaign-data-top,
.committee-data-top {
  background: #EEE;
  border: none;
  margin-bottom: 20px;
}
.campaign-data-top h1,
.campaign-data-top h1,
.committee-data-top h1 {
  margin-top: 0;
}
.campaign-data-top .candidate-info,
.campaign-data-top .candidate-info,
.committee-data-top .candidate-info,
.campaign-data-top .committee-info,
.campaign-data-top .committee-info,
.committee-data-top .committee-info {
  padding-bottom: 20px;
}
.campaign-data-top .candidate-info h2,
.campaign-data-top .candidate-info h2,
.committee-data-top .candidate-info h2,
.campaign-data-top .committee-info h2,
.campaign-data-top .committee-info h2,
.committee-data-top .committee-info h2 {
  font-size: 2.4rem;
  line-height: 3rem !important;
  margin: 0;
  padding: 0;
  color: #000;
}
.campaign-data-top .candidate-info h2:after,
.campaign-data-top .candidate-info h2:after,
.committee-data-top .candidate-info h2:after,
.campaign-data-top .committee-info h2:after,
.campaign-data-top .committee-info h2:after,
.committee-data-top .committee-info h2:after {
  display: none !important;
  content: '';
}
.campaign-data-top .candidate-info h3,
.campaign-data-top .candidate-info h3,
.committee-data-top .candidate-info h3,
.campaign-data-top .committee-info h3,
.campaign-data-top .committee-info h3,
.committee-data-top .committee-info h3 {
  font-size: 1.8rem !important;
  margin: 16px 0 0 0;
  padding: 0;
  line-height: 2.4rem !important;
  color: #000;
}
.campaign-data-top .candidate-info h3:after,
.campaign-data-top .candidate-info h3:after,
.committee-data-top .candidate-info h3:after,
.campaign-data-top .committee-info h3:after,
.campaign-data-top .committee-info h3:after,
.committee-data-top .committee-info h3:after {
  display: none !important;
  content: '';
}
.campaign-data-top .candidate-info h3:before,
.campaign-data-top .candidate-info h3:before,
.committee-data-top .candidate-info h3:before,
.campaign-data-top .committee-info h3:before,
.campaign-data-top .committee-info h3:before,
.committee-data-top .committee-info h3:before {
  display: none;
  content: '';
}
.campaign-data-top .candidate-info .subpage-info-chart-container,
.campaign-data-top .candidate-info .subpage-info-chart-container,
.committee-data-top .candidate-info .subpage-info-chart-container,
.campaign-data-top .committee-info .subpage-info-chart-container,
.campaign-data-top .committee-info .subpage-info-chart-container,
.committee-data-top .committee-info .subpage-info-chart-container {
  padding: 15px;
  background: white;
}
.campaign-data-top .candidate-info .first,
.campaign-data-top .candidate-info .first,
.committee-data-top .candidate-info .first,
.campaign-data-top .committee-info .first,
.campaign-data-top .committee-info .first,
.committee-data-top .committee-info .first,
.campaign-data-top .candidate-info .summary-text,
.campaign-data-top .candidate-info .summary-text,
.committee-data-top .candidate-info .summary-text,
.campaign-data-top .committee-info .summary-text,
.campaign-data-top .committee-info .summary-text,
.committee-data-top .committee-info .summary-text {
  margin-bottom: 15px;
}
.campaign-data-top .candidate-info .campaign-callouts .callout,
.campaign-data-top .candidate-info .campaign-callouts .callout,
.committee-data-top .candidate-info .campaign-callouts .callout,
.campaign-data-top .committee-info .campaign-callouts .callout,
.campaign-data-top .committee-info .campaign-callouts .callout,
.committee-data-top .committee-info .campaign-callouts .callout,
.campaign-data-top .candidate-info .candidate-callouts .callout,
.campaign-data-top .candidate-info .candidate-callouts .callout,
.committee-data-top .candidate-info .candidate-callouts .callout,
.campaign-data-top .committee-info .candidate-callouts .callout,
.campaign-data-top .committee-info .candidate-callouts .callout,
.committee-data-top .committee-info .candidate-callouts .callout,
.campaign-data-top .candidate-info .committee-callouts .callout,
.campaign-data-top .candidate-info .committee-callouts .callout,
.committee-data-top .candidate-info .committee-callouts .callout,
.campaign-data-top .committee-info .committee-callouts .callout,
.campaign-data-top .committee-info .committee-callouts .callout,
.committee-data-top .committee-info .committee-callouts .callout {
  background-color: #fff;
  border: 1px #ddd solid;
  padding: 16px 0;
  margin-bottom: 16px;
  box-shadow: 4px 4px 4px 0px rgba(56, 63, 89, 0.25);
}
.campaign-data-top .candidate-info .campaign-callouts .callout h2,
.campaign-data-top .candidate-info .campaign-callouts .callout h2,
.committee-data-top .candidate-info .campaign-callouts .callout h2,
.campaign-data-top .committee-info .campaign-callouts .callout h2,
.campaign-data-top .committee-info .campaign-callouts .callout h2,
.committee-data-top .committee-info .campaign-callouts .callout h2,
.campaign-data-top .candidate-info .candidate-callouts .callout h2,
.campaign-data-top .candidate-info .candidate-callouts .callout h2,
.committee-data-top .candidate-info .candidate-callouts .callout h2,
.campaign-data-top .committee-info .candidate-callouts .callout h2,
.campaign-data-top .committee-info .candidate-callouts .callout h2,
.committee-data-top .committee-info .candidate-callouts .callout h2,
.campaign-data-top .candidate-info .committee-callouts .callout h2,
.campaign-data-top .candidate-info .committee-callouts .callout h2,
.committee-data-top .candidate-info .committee-callouts .callout h2,
.campaign-data-top .committee-info .committee-callouts .callout h2,
.campaign-data-top .committee-info .committee-callouts .callout h2,
.committee-data-top .committee-info .committee-callouts .callout h2 {
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin: 0;
  padding: 0;
  text-align: center;
  border-bottom: 1px solid #ddd;
  color: #000;
}
.campaign-data-top .candidate-info .campaign-callouts .callout h3,
.campaign-data-top .candidate-info .campaign-callouts .callout h3,
.committee-data-top .candidate-info .campaign-callouts .callout h3,
.campaign-data-top .committee-info .campaign-callouts .callout h3,
.campaign-data-top .committee-info .campaign-callouts .callout h3,
.committee-data-top .committee-info .campaign-callouts .callout h3,
.campaign-data-top .candidate-info .candidate-callouts .callout h3,
.campaign-data-top .candidate-info .candidate-callouts .callout h3,
.committee-data-top .candidate-info .candidate-callouts .callout h3,
.campaign-data-top .committee-info .candidate-callouts .callout h3,
.campaign-data-top .committee-info .candidate-callouts .callout h3,
.committee-data-top .committee-info .candidate-callouts .callout h3,
.campaign-data-top .candidate-info .committee-callouts .callout h3,
.campaign-data-top .candidate-info .committee-callouts .callout h3,
.committee-data-top .candidate-info .committee-callouts .callout h3,
.campaign-data-top .committee-info .committee-callouts .callout h3,
.campaign-data-top .committee-info .committee-callouts .callout h3,
.committee-data-top .committee-info .committee-callouts .callout h3 {
  padding: 0 37px;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #000;
}
.campaign-data-top .candidate-info .campaign-callouts .callout p,
.campaign-data-top .candidate-info .campaign-callouts .callout p,
.committee-data-top .candidate-info .campaign-callouts .callout p,
.campaign-data-top .committee-info .campaign-callouts .callout p,
.campaign-data-top .committee-info .campaign-callouts .callout p,
.committee-data-top .committee-info .campaign-callouts .callout p,
.campaign-data-top .candidate-info .candidate-callouts .callout p,
.campaign-data-top .candidate-info .candidate-callouts .callout p,
.committee-data-top .candidate-info .candidate-callouts .callout p,
.campaign-data-top .committee-info .candidate-callouts .callout p,
.campaign-data-top .committee-info .candidate-callouts .callout p,
.committee-data-top .committee-info .candidate-callouts .callout p,
.campaign-data-top .candidate-info .committee-callouts .callout p,
.campaign-data-top .candidate-info .committee-callouts .callout p,
.committee-data-top .candidate-info .committee-callouts .callout p,
.campaign-data-top .committee-info .committee-callouts .callout p,
.campaign-data-top .committee-info .committee-callouts .callout p,
.committee-data-top .committee-info .committee-callouts .callout p {
  padding: 0 37px;
  font-size: 1.6rem;
}
.campaign-data-top .candidate-info .campaign-callouts .callout img,
.campaign-data-top .candidate-info .campaign-callouts .callout img,
.committee-data-top .candidate-info .campaign-callouts .callout img,
.campaign-data-top .committee-info .campaign-callouts .callout img,
.campaign-data-top .committee-info .campaign-callouts .callout img,
.committee-data-top .committee-info .campaign-callouts .callout img,
.campaign-data-top .candidate-info .candidate-callouts .callout img,
.campaign-data-top .candidate-info .candidate-callouts .callout img,
.committee-data-top .candidate-info .candidate-callouts .callout img,
.campaign-data-top .committee-info .candidate-callouts .callout img,
.campaign-data-top .committee-info .candidate-callouts .callout img,
.committee-data-top .committee-info .candidate-callouts .callout img,
.campaign-data-top .candidate-info .committee-callouts .callout img,
.campaign-data-top .candidate-info .committee-callouts .callout img,
.committee-data-top .candidate-info .committee-callouts .callout img,
.campaign-data-top .committee-info .committee-callouts .callout img,
.campaign-data-top .committee-info .committee-callouts .callout img,
.committee-data-top .committee-info .committee-callouts .callout img {
  margin-top: 15px;
  /*margin-left: 25px;*/
}
.campaign-data-top .candidate-info .campaign-callouts .callout.center,
.campaign-data-top .candidate-info .campaign-callouts .callout.center,
.committee-data-top .candidate-info .campaign-callouts .callout.center,
.campaign-data-top .committee-info .campaign-callouts .callout.center,
.campaign-data-top .committee-info .campaign-callouts .callout.center,
.committee-data-top .committee-info .campaign-callouts .callout.center,
.campaign-data-top .candidate-info .candidate-callouts .callout.center,
.campaign-data-top .candidate-info .candidate-callouts .callout.center,
.committee-data-top .candidate-info .candidate-callouts .callout.center,
.campaign-data-top .committee-info .candidate-callouts .callout.center,
.campaign-data-top .committee-info .candidate-callouts .callout.center,
.committee-data-top .committee-info .candidate-callouts .callout.center,
.campaign-data-top .candidate-info .committee-callouts .callout.center,
.campaign-data-top .candidate-info .committee-callouts .callout.center,
.committee-data-top .candidate-info .committee-callouts .callout.center,
.campaign-data-top .committee-info .committee-callouts .callout.center,
.campaign-data-top .committee-info .committee-callouts .callout.center,
.committee-data-top .committee-info .committee-callouts .callout.center {
  text-align: center;
}
.campaign-data-top .candidate-info .campaign-callouts .callout ul,
.campaign-data-top .candidate-info .campaign-callouts .callout ul,
.committee-data-top .candidate-info .campaign-callouts .callout ul,
.campaign-data-top .committee-info .campaign-callouts .callout ul,
.campaign-data-top .committee-info .campaign-callouts .callout ul,
.committee-data-top .committee-info .campaign-callouts .callout ul,
.campaign-data-top .candidate-info .candidate-callouts .callout ul,
.campaign-data-top .candidate-info .candidate-callouts .callout ul,
.committee-data-top .candidate-info .candidate-callouts .callout ul,
.campaign-data-top .committee-info .candidate-callouts .callout ul,
.campaign-data-top .committee-info .candidate-callouts .callout ul,
.committee-data-top .committee-info .candidate-callouts .callout ul,
.campaign-data-top .candidate-info .committee-callouts .callout ul,
.campaign-data-top .candidate-info .committee-callouts .callout ul,
.committee-data-top .candidate-info .committee-callouts .callout ul,
.campaign-data-top .committee-info .committee-callouts .callout ul,
.campaign-data-top .committee-info .committee-callouts .callout ul,
.committee-data-top .committee-info .committee-callouts .callout ul {
  margin: 10px 37px 10px 10px;
}
.campaign-data-top .candidate-info .campaign-callouts .callout ul li,
.campaign-data-top .candidate-info .campaign-callouts .callout ul li,
.committee-data-top .candidate-info .campaign-callouts .callout ul li,
.campaign-data-top .committee-info .campaign-callouts .callout ul li,
.campaign-data-top .committee-info .campaign-callouts .callout ul li,
.committee-data-top .committee-info .campaign-callouts .callout ul li,
.campaign-data-top .candidate-info .candidate-callouts .callout ul li,
.campaign-data-top .candidate-info .candidate-callouts .callout ul li,
.committee-data-top .candidate-info .candidate-callouts .callout ul li,
.campaign-data-top .committee-info .candidate-callouts .callout ul li,
.campaign-data-top .committee-info .candidate-callouts .callout ul li,
.committee-data-top .committee-info .candidate-callouts .callout ul li,
.campaign-data-top .candidate-info .committee-callouts .callout ul li,
.campaign-data-top .candidate-info .committee-callouts .callout ul li,
.committee-data-top .candidate-info .committee-callouts .callout ul li,
.campaign-data-top .committee-info .committee-callouts .callout ul li,
.campaign-data-top .committee-info .committee-callouts .callout ul li,
.committee-data-top .committee-info .committee-callouts .callout ul li {
  list-style-type: none;
  font-size: 1.6rem;
}
.campaign-data-top .candidate-info .candidate-info-buttons ul,
.campaign-data-top .candidate-info .candidate-info-buttons ul,
.committee-data-top .candidate-info .candidate-info-buttons ul,
.campaign-data-top .committee-info .candidate-info-buttons ul,
.campaign-data-top .committee-info .candidate-info-buttons ul,
.committee-data-top .committee-info .candidate-info-buttons ul,
.campaign-data-top .candidate-info .committee-info-buttons ul,
.campaign-data-top .candidate-info .committee-info-buttons ul,
.committee-data-top .candidate-info .committee-info-buttons ul,
.campaign-data-top .committee-info .committee-info-buttons ul,
.campaign-data-top .committee-info .committee-info-buttons ul,
.committee-data-top .committee-info .committee-info-buttons ul {
  width: 100%;
}
.campaign-data-top .candidate-info .candidate-info-buttons ul li,
.campaign-data-top .candidate-info .candidate-info-buttons ul li,
.committee-data-top .candidate-info .candidate-info-buttons ul li,
.campaign-data-top .committee-info .candidate-info-buttons ul li,
.campaign-data-top .committee-info .candidate-info-buttons ul li,
.committee-data-top .committee-info .candidate-info-buttons ul li,
.campaign-data-top .candidate-info .committee-info-buttons ul li,
.campaign-data-top .candidate-info .committee-info-buttons ul li,
.committee-data-top .candidate-info .committee-info-buttons ul li,
.campaign-data-top .committee-info .committee-info-buttons ul li,
.campaign-data-top .committee-info .committee-info-buttons ul li,
.committee-data-top .committee-info .committee-info-buttons ul li {
  width: 100%;
  list-style: none;
}
.campaign-data-top .candidate-info .candidate-info-buttons ul li a.btn,
.campaign-data-top .candidate-info .candidate-info-buttons ul li a.btn,
.committee-data-top .candidate-info .candidate-info-buttons ul li a.btn,
.campaign-data-top .committee-info .candidate-info-buttons ul li a.btn,
.campaign-data-top .committee-info .candidate-info-buttons ul li a.btn,
.committee-data-top .committee-info .candidate-info-buttons ul li a.btn,
.campaign-data-top .candidate-info .committee-info-buttons ul li a.btn,
.campaign-data-top .candidate-info .committee-info-buttons ul li a.btn,
.committee-data-top .candidate-info .committee-info-buttons ul li a.btn,
.campaign-data-top .committee-info .committee-info-buttons ul li a.btn,
.campaign-data-top .committee-info .committee-info-buttons ul li a.btn,
.committee-data-top .committee-info .committee-info-buttons ul li a.btn {
  width: 100%;
}
#candidates-table .candidacy-icon,
#opponents-datatable .candidacy-icon {
  color: var(--pdc-color-1);
  padding-left: 0.25em;
}
.campaign-data-blocks,
.candidate-data-blocks,
.committee-data-blocks {
  margin-top: 20px;
}
.campaign-data-blocks .number,
.candidate-data-blocks .number,
.committee-data-blocks .number {
  font-size: 1.3em;
  font-weight: 700;
}
.campaign-data-blocks .inner,
.candidate-data-blocks .inner,
.committee-data-blocks .inner {
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px rgba(56, 63, 89, 0.25);
  padding: 15px;
  margin-bottom: 30px;
}
.campaign-data-blocks h2,
.candidate-data-blocks h2,
.committee-data-blocks h2 {
  margin-top: 0;
  margin-bottom: revert;
  padding: revert;
  line-height: 4rem;
}
.campaign-data-blocks h2::after,
.candidate-data-blocks h2::after,
.committee-data-blocks h2::after {
  display: none;
  content: '';
}
.campaign-data-blocks #contributions-chart-legend,
.candidate-data-blocks #contributions-chart-legend,
.committee-data-blocks #contributions-chart-legend,
.campaign-data-blocks #expenditures-chart-legend,
.candidate-data-blocks #expenditures-chart-legend,
.committee-data-blocks #expenditures-chart-legend,
.campaign-data-blocks #independent-expenditures-chart-legend,
.candidate-data-blocks #independent-expenditures-chart-legend,
.committee-data-blocks #independent-expenditures-chart-legend {
  float: left;
  width: 140px;
}
@media screen and (max-width: 991px) {
  .campaign-data-blocks #contributions-chart-legend,
  .candidate-data-blocks #contributions-chart-legend,
  .committee-data-blocks #contributions-chart-legend,
  .campaign-data-blocks #expenditures-chart-legend,
  .candidate-data-blocks #expenditures-chart-legend,
  .committee-data-blocks #expenditures-chart-legend,
  .campaign-data-blocks #independent-expenditures-chart-legend,
  .candidate-data-blocks #independent-expenditures-chart-legend,
  .committee-data-blocks #independent-expenditures-chart-legend {
    float: none;
    width: 100%;
  }
}
.campaign-data-blocks #contributions-chart-legend ul li,
.candidate-data-blocks #contributions-chart-legend ul li,
.committee-data-blocks #contributions-chart-legend ul li,
.campaign-data-blocks #expenditures-chart-legend ul li,
.candidate-data-blocks #expenditures-chart-legend ul li,
.committee-data-blocks #expenditures-chart-legend ul li,
.campaign-data-blocks #independent-expenditures-chart-legend ul li,
.candidate-data-blocks #independent-expenditures-chart-legend ul li,
.committee-data-blocks #independent-expenditures-chart-legend ul li {
  list-style-type: none;
  font-size: 1.2rem;
  font-weight: 500;
}
.campaign-data-blocks #contributions-chart-legend ul li span,
.candidate-data-blocks #contributions-chart-legend ul li span,
.committee-data-blocks #contributions-chart-legend ul li span,
.campaign-data-blocks #expenditures-chart-legend ul li span,
.candidate-data-blocks #expenditures-chart-legend ul li span,
.committee-data-blocks #expenditures-chart-legend ul li span,
.campaign-data-blocks #independent-expenditures-chart-legend ul li span,
.candidate-data-blocks #independent-expenditures-chart-legend ul li span,
.committee-data-blocks #independent-expenditures-chart-legend ul li span {
  width: 12px !important;
  height: 12px !important;
  margin-right: 4px !important;
  vertical-align: top;
}
.campaign-data-blocks #contributions-chart-legend ul li p,
.candidate-data-blocks #contributions-chart-legend ul li p,
.committee-data-blocks #contributions-chart-legend ul li p,
.campaign-data-blocks #expenditures-chart-legend ul li p,
.candidate-data-blocks #expenditures-chart-legend ul li p,
.committee-data-blocks #expenditures-chart-legend ul li p,
.campaign-data-blocks #independent-expenditures-chart-legend ul li p,
.candidate-data-blocks #independent-expenditures-chart-legend ul li p,
.committee-data-blocks #independent-expenditures-chart-legend ul li p {
  display: inline-block;
  width: 85%;
}
.campaign-data-blocks #independent-expenditures-chart-legend,
.candidate-data-blocks #independent-expenditures-chart-legend,
.committee-data-blocks #independent-expenditures-chart-legend {
  clear: left;
  width: 100%;
}
.campaign-data-blocks #independent-expenditures-chart-legend ul li,
.candidate-data-blocks #independent-expenditures-chart-legend ul li,
.committee-data-blocks #independent-expenditures-chart-legend ul li {
  float: left;
  width: fit-content;
  margin-right: 10px;
}
.campaign-data-blocks #independent-expenditures-chart-legend ul li p,
.candidate-data-blocks #independent-expenditures-chart-legend ul li p,
.committee-data-blocks #independent-expenditures-chart-legend ul li p {
  width: initial;
}
.campaign-data-blocks .opposing-candidates,
.candidate-data-blocks .opposing-candidates,
.committee-data-blocks .opposing-candidates {
  overflow: hidden;
}
.campaign-data-blocks .opposing-candidates .candidate .inner,
.candidate-data-blocks .opposing-candidates .candidate .inner,
.committee-data-blocks .opposing-candidates .candidate .inner {
  min-height: 100px;
  margin: 15px;
  padding: 15px !important;
  background: #1c5c88 !important;
  overflow: hidden;
  color: #fff;
  text-align: center;
}
.campaign-data-blocks .opposing-candidates .candidate .inner a,
.candidate-data-blocks .opposing-candidates .candidate .inner a,
.committee-data-blocks .opposing-candidates .candidate .inner a {
  color: #fff;
}
.campaign-data-blocks .opposing-candidates .candidate .inner a.hover,
.candidate-data-blocks .opposing-candidates .candidate .inner a.hover,
.committee-data-blocks .opposing-candidates .candidate .inner a.hover {
  color: #fff;
  text-decoration: underline;
}
.campaign-data-blocks .opposing-candidates .opposing-candidates-table,
.candidate-data-blocks .opposing-candidates .opposing-candidates-table,
.committee-data-blocks .opposing-candidates .opposing-candidates-table {
  margin: 0;
}
.campaign-data-blocks .opposing-candidates .opposing-candidates-table table,
.candidate-data-blocks .opposing-candidates .opposing-candidates-table table,
.committee-data-blocks .opposing-candidates .opposing-candidates-table table {
  margin-top: 30px;
}
#table-top-nav #camp-exp-button {
  display: none;
  background: none;
  border: none;
  z-index: 99999;
}
@media screen and (max-width: 991px) {
  #table-top-nav {
    position: relative;
  }
  #table-top-nav #camp-exp-button {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 20px;
  }
  #table-top-nav ul.nav-tabs.nav-tabs-dropdown,
  #table-top-nav ul.nav-tabs-dropdown {
    border: 1px solid #dddddd;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    width: 100%;
    float: none;
    display: block;
    width: 100% !important;
    margin: 20px auto;
    border: 1px solid #ededed;
    z-index: 999 !important;
  }
  #table-top-nav ul.nav-tabs.nav-tabs-dropdown li,
  #table-top-nav ul.nav-tabs-dropdown li {
    width: 100% !important;
    text-align: center;
    border: 0 !important;
  }
  #table-top-nav ul.nav-tabs.nav-tabs-dropdown li.mobile-hide,
  #table-top-nav ul.nav-tabs-dropdown li.mobile-hide {
    display: none;
  }
}
