.views-exposed-form select,
.views-exposed-form .btn.dropdown-toggle span {
  color: var(--pdc-color-gray-30);
}
.views-exposed-form select.selected,
.views-exposed-form .btn.dropdown-toggle.selected span {
    color: var(--pdc-color-black);
}
