.pdc-fg-success { color: var(--pdc-color-success); }
.pdc-fg-warning { color: var(--pdc-color-warning); }
.pdc-fg-danger { color: var(--pdc-color-danger); }
.pdc-fg-info { color: var(--pdc-color-info); }
.pdc-fg-dark { color: var(--pdc-text-dark); }
.pdc-fg-dark-muted { color: var(--pdc-text-dark-muted); }
.pdc-fg-light { color: var(--pdc-text-light); }
.pdc-fg-light-muted { color: var(--pdc-text-light-muted); }
.pdc-fg-primary { color: var(--pdc-color-primary); }
.pdc-fg-secondary { color: var(--pdc-color-secondary); }
.pdc-fg-tertiary { color: var(--pdc-color-tertiary); }

.pdc-bg-success { background-color: var(--pdc-color-success); }
.pdc-bg-warning { background-color: var(--pdc-color-warning); }
.pdc-bg-danger { background-color: var(--pdc-color-danger); }
.pdc-bg-info { background-color: var(--pdc-color-info); }
.pdc-bg-dark { background-color: var(--pdc-text-dark); }
.pdc-bg-light { background-color: var(--pdc-text-light); }
.pdc-bg-primary { background-color: var(--pdc-color-primary); }
.pdc-bg-secondary { background-color: var(--pdc-color-secondary); }
.pdc-bg-tertiary { background-color: var(--pdc-color-tertiary); }
