.pdc-d-none { display: none; }
.pdc-d-inline { display: inline; }
.pdc-d-inline-block { display: inline-block; }
.pdc-d-block { display: block; }
.pdc-d-flex { display: flex; }
.pdc-d-inline-flex { display: inline-flex; }
.pdc-d-flow-root { display: flow-root }

@media (min-width: 768px) {
  .pdc-d-sm-none { display: none; }
  .pdc-d-sm-inline { display: inline; }
  .pdc-d-sm-inline-block { display: inline-block; }
  .pdc-d-sm-block { display: block; }
  .pdc-d-sm-flex { display: flex; }
  .pdc-d-sm-inline-flex { display: inline-flex; }
  .pdc-d-sm-flow-root { display: flow-root }
}

@media (min-width: 992px) {
  .pdc-d-md-none { display: none; }
  .pdc-d-md-inline { display: inline; }
  .pdc-d-md-inline-block { display: inline-block; }
  .pdc-d-md-block { display: block; }
  .pdc-d-md-flex { display: flex; }
  .pdc-d-md-inline-flex { display: inline-flex; }
  .pdc-d-md-flow-root { display: flow-root }
}

@media (min-width: 1200px) {
  .pdc-d-lg-none { display: none; }
  .pdc-d-lg-inline { display: inline; }
  .pdc-d-lg-inline-block { display: inline-block; }
  .pdc-d-lg-block { display: block; }
  .pdc-d-lg-flex { display: flex; }
  .pdc-d-lg-inline-flex { display: inline-flex; }
  .pdc-d-lg-flow-root { display: flow-root }
}
