.pdc-list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pdc-list-none { list-style: none; }
.pdc-list-disc { list-style: disc; }
.pdc-list-circle { list-style: circle; }
.pdc-list-square { list-style: square; }
.pdc-list-decimal { list-style: decimal; }
.pdc-list-upper-latin { list-style: upper-latin; }
.pdc-list-lower-latin { list-style: lower-latin; }
.pdc-list-upper-roman { list-style: upper-roman; }
.pdc-list-lower-roman { list-style: lower-roman; }
