.pdc-m-0 { margin: var(--pdc-spacer-0); }
.pdc-m-1 { margin: var(--pdc-spacer-1); }
.pdc-m-2 { margin: var(--pdc-spacer-2); }
.pdc-m-3 { margin: var(--pdc-spacer-3); }
.pdc-m-4 { margin: var(--pdc-spacer-4); }
.pdc-m-5 { margin: var(--pdc-spacer-5); }

.pdc-mx-auto { margin-right: auto; margin-left: auto; }

.pdc-mx-0 { margin-right: var(--pdc-spacer-0); margin-left: var(--pdc-spacer-0); }
.pdc-mx-1 { margin-right: var(--pdc-spacer-1); margin-left: var(--pdc-spacer-1); }
.pdc-mx-2 { margin-right: var(--pdc-spacer-2); margin-left: var(--pdc-spacer-2); }
.pdc-mx-3 { margin-right: var(--pdc-spacer-3); margin-left: var(--pdc-spacer-3); }
.pdc-mx-4 { margin-right: var(--pdc-spacer-4); margin-left: var(--pdc-spacer-4); }
.pdc-mx-5 { margin-right: var(--pdc-spacer-5); margin-left: var(--pdc-spacer-5); }

.pdc-my-0 { margin-top: var(--pdc-spacer-0); margin-bottom: var(--pdc-spacer-0); }
.pdc-my-1 { margin-top: var(--pdc-spacer-1); margin-bottom: var(--pdc-spacer-1); }
.pdc-my-2 { margin-top: var(--pdc-spacer-2); margin-bottom: var(--pdc-spacer-2); }
.pdc-my-3 { margin-top: var(--pdc-spacer-3); margin-bottom: var(--pdc-spacer-3); }
.pdc-my-4 { margin-top: var(--pdc-spacer-4); margin-bottom: var(--pdc-spacer-4); }
.pdc-my-5 { margin-top: var(--pdc-spacer-5); margin-bottom: var(--pdc-spacer-5); }

.pdc-mt-0 { margin-top: var(--pdc-spacer-0); }
.pdc-mt-1 { margin-top: var(--pdc-spacer-1); }
.pdc-mt-2 { margin-top: var(--pdc-spacer-2); }
.pdc-mt-3 { margin-top: var(--pdc-spacer-3); }
.pdc-mt-4 { margin-top: var(--pdc-spacer-4); }
.pdc-mt-5 { margin-top: var(--pdc-spacer-5); }

.pdc-mb-0 { margin-bottom: var(--pdc-spacer-0); }
.pdc-mb-1 { margin-bottom: var(--pdc-spacer-1); }
.pdc-mb-2 { margin-bottom: var(--pdc-spacer-2); }
.pdc-mb-3 { margin-bottom: var(--pdc-spacer-3); }
.pdc-mb-4 { margin-bottom: var(--pdc-spacer-4); }
.pdc-mb-5 { margin-bottom: var(--pdc-spacer-5); }

.pdc-ml-0 { margin-left: var(--pdc-spacer-0); }
.pdc-ml-1 { margin-left: var(--pdc-spacer-1); }
.pdc-ml-2 { margin-left: var(--pdc-spacer-2); }
.pdc-ml-3 { margin-left: var(--pdc-spacer-3); }
.pdc-ml-4 { margin-left: var(--pdc-spacer-4); }
.pdc-ml-5 { margin-left: var(--pdc-spacer-5); }

.pdc-mr-0 { margin-right: var(--pdc-spacer-0); }
.pdc-mr-1 { margin-right: var(--pdc-spacer-1); }
.pdc-mr-2 { margin-right: var(--pdc-spacer-2); }
.pdc-mr-3 { margin-right: var(--pdc-spacer-3); }
.pdc-mr-4 { margin-right: var(--pdc-spacer-4); }
.pdc-mr-5 { margin-right: var(--pdc-spacer-5); }

.pdc-m-n1 { margin: var(--pdc-spacer-n1); }
.pdc-m-n2 { margin: var(--pdc-spacer-n2); }
.pdc-m-n3 { margin: var(--pdc-spacer-n3); }
.pdc-m-n4 { margin: var(--pdc-spacer-n4); }
.pdc-m-n5 { margin: var(--pdc-spacer-n5); }

.pdc-mx-n1 { margin-right: var(--pdc-spacer-n1); margin-left: var(--pdc-spacer-n1); }
.pdc-mx-n2 { margin-right: var(--pdc-spacer-n2); margin-left: var(--pdc-spacer-n2); }
.pdc-mx-n3 { margin-right: var(--pdc-spacer-n3); margin-left: var(--pdc-spacer-n3); }
.pdc-mx-n4 { margin-right: var(--pdc-spacer-n4); margin-left: var(--pdc-spacer-n4); }
.pdc-mx-n5 { margin-right: var(--pdc-spacer-n5); margin-left: var(--pdc-spacer-n5); }

.pdc-my-n1 { margin-top: var(--pdc-spacer-n1); margin-bottom: var(--pdc-spacer-n1); }
.pdc-my-n2 { margin-top: var(--pdc-spacer-n2); margin-bottom: var(--pdc-spacer-n2); }
.pdc-my-n3 { margin-top: var(--pdc-spacer-n3); margin-bottom: var(--pdc-spacer-n3); }
.pdc-my-n4 { margin-top: var(--pdc-spacer-n4); margin-bottom: var(--pdc-spacer-n4); }
.pdc-my-n5 { margin-top: var(--pdc-spacer-n5); margin-bottom: var(--pdc-spacer-n5); }

.pdc-mt-n1 { margin-top: var(--pdc-spacer-n1); }
.pdc-mt-n2 { margin-top: var(--pdc-spacer-n2); }
.pdc-mt-n3 { margin-top: var(--pdc-spacer-n3); }
.pdc-mt-n4 { margin-top: var(--pdc-spacer-n4); }
.pdc-mt-n5 { margin-top: var(--pdc-spacer-n5); }

.pdc-mb-n1 { margin-bottom: var(--pdc-spacer-n1); }
.pdc-mb-n2 { margin-bottom: var(--pdc-spacer-n2); }
.pdc-mb-n3 { margin-bottom: var(--pdc-spacer-n3); }
.pdc-mb-n4 { margin-bottom: var(--pdc-spacer-n4); }
.pdc-mb-n5 { margin-bottom: var(--pdc-spacer-n5); }

.pdc-ml-n1 { margin-left: var(--pdc-spacer-n1); }
.pdc-ml-n2 { margin-left: var(--pdc-spacer-n2); }
.pdc-ml-n3 { margin-left: var(--pdc-spacer-n3); }
.pdc-ml-n4 { margin-left: var(--pdc-spacer-n4); }
.pdc-ml-n5 { margin-left: var(--pdc-spacer-n5); }

.pdc-mr-n1 { margin-right: var(--pdc-spacer-n1); }
.pdc-mr-n2 { margin-right: var(--pdc-spacer-n2); }
.pdc-mr-n3 { margin-right: var(--pdc-spacer-n3); }
.pdc-mr-n4 { margin-right: var(--pdc-spacer-n4); }
.pdc-mr-n5 { margin-right: var(--pdc-spacer-n5); }

@media (min-width: 768px) { .pdc-m-sm-0 { margin: var(--pdc-spacer-0); }
  .pdc-m-sm-1 { margin: var(--pdc-spacer-1); }
  .pdc-m-sm-2 { margin: var(--pdc-spacer-2); }
  .pdc-m-sm-3 { margin: var(--pdc-spacer-3); }
  .pdc-m-sm-4 { margin: var(--pdc-spacer-4); }
  .pdc-m-sm-5 { margin: var(--pdc-spacer-5); }

  .pdc-mx-sm-auto {   margin-right: auto;   margin-left: auto; }

  .pdc-mx-sm-0 {   margin-right: var(--pdc-spacer-0);   margin-left: var(--pdc-spacer-0); }
  .pdc-mx-sm-1 {   margin-right: var(--pdc-spacer-1);   margin-left: var(--pdc-spacer-1); }
  .pdc-mx-sm-2 {   margin-right: var(--pdc-spacer-2);   margin-left: var(--pdc-spacer-2); }
  .pdc-mx-sm-3 {   margin-right: var(--pdc-spacer-3);   margin-left: var(--pdc-spacer-3); }
  .pdc-mx-sm-4 {   margin-right: var(--pdc-spacer-4);   margin-left: var(--pdc-spacer-4); }
  .pdc-mx-sm-5 {   margin-right: var(--pdc-spacer-5);   margin-left: var(--pdc-spacer-5); }

  .pdc-my-sm-0 {   margin-top: var(--pdc-spacer-0);   margin-bottom: var(--pdc-spacer-0); }
  .pdc-my-sm-1 {   margin-top: var(--pdc-spacer-1);   margin-bottom: var(--pdc-spacer-1); }
  .pdc-my-sm-2 {   margin-top: var(--pdc-spacer-2);   margin-bottom: var(--pdc-spacer-2); }
  .pdc-my-sm-3 {   margin-top: var(--pdc-spacer-3);   margin-bottom: var(--pdc-spacer-3); }
  .pdc-my-sm-4 {   margin-top: var(--pdc-spacer-4);   margin-bottom: var(--pdc-spacer-4); }
  .pdc-my-sm-5 {   margin-top: var(--pdc-spacer-5);   margin-bottom: var(--pdc-spacer-5); }

  .pdc-mt-sm-0 { margin-top: var(--pdc-spacer-0); }
  .pdc-mt-sm-1 { margin-top: var(--pdc-spacer-1); }
  .pdc-mt-sm-2 { margin-top: var(--pdc-spacer-2); }
  .pdc-mt-sm-3 { margin-top: var(--pdc-spacer-3); }
  .pdc-mt-sm-4 { margin-top: var(--pdc-spacer-4); }
  .pdc-mt-sm-5 { margin-top: var(--pdc-spacer-5); }

  .pdc-mb-sm-0 { margin-bottom: var(--pdc-spacer-0); }
  .pdc-mb-sm-1 { margin-bottom: var(--pdc-spacer-1); }
  .pdc-mb-sm-2 { margin-bottom: var(--pdc-spacer-2); }
  .pdc-mb-sm-3 { margin-bottom: var(--pdc-spacer-3); }
  .pdc-mb-sm-4 { margin-bottom: var(--pdc-spacer-4); }
  .pdc-mb-sm-5 { margin-bottom: var(--pdc-spacer-5); }

  .pdc-ml-sm-0 { margin-left: var(--pdc-spacer-0); }
  .pdc-ml-sm-1 { margin-left: var(--pdc-spacer-1); }
  .pdc-ml-sm-2 { margin-left: var(--pdc-spacer-2); }
  .pdc-ml-sm-3 { margin-left: var(--pdc-spacer-3); }
  .pdc-ml-sm-4 { margin-left: var(--pdc-spacer-4); }
  .pdc-ml-sm-5 { margin-left: var(--pdc-spacer-5); }

  .pdc-mr-sm-0 { margin-right: var(--pdc-spacer-0); }
  .pdc-mr-sm-1 { margin-right: var(--pdc-spacer-1); }
  .pdc-mr-sm-2 { margin-right: var(--pdc-spacer-2); }
  .pdc-mr-sm-3 { margin-right: var(--pdc-spacer-3); }
  .pdc-mr-sm-4 { margin-right: var(--pdc-spacer-4); }
  .pdc-mr-sm-5 { margin-right: var(--pdc-spacer-5); }

  .pdc-m-sm-n1 { margin: var(--pdc-spacer-n1); }
  .pdc-m-sm-n2 { margin: var(--pdc-spacer-n2); }
  .pdc-m-sm-n3 { margin: var(--pdc-spacer-n3); }
  .pdc-m-sm-n4 { margin: var(--pdc-spacer-n4); }
  .pdc-m-sm-n5 { margin: var(--pdc-spacer-n5); }

  .pdc-mx-sm-n1 {   margin-right: var(--pdc-spacer-n1);   margin-left: var(--pdc-spacer-n1); }
  .pdc-mx-sm-n2 {   margin-right: var(--pdc-spacer-n2);   margin-left: var(--pdc-spacer-n2); }
  .pdc-mx-sm-n3 {   margin-right: var(--pdc-spacer-n3);   margin-left: var(--pdc-spacer-n3); }
  .pdc-mx-sm-n4 {   margin-right: var(--pdc-spacer-n4);   margin-left: var(--pdc-spacer-n4); }
  .pdc-mx-sm-n5 {   margin-right: var(--pdc-spacer-n5);   margin-left: var(--pdc-spacer-n5); }

  .pdc-my-sm-n1 {   margin-top: var(--pdc-spacer-n1);   margin-bottom: var(--pdc-spacer-n1); }
  .pdc-my-sm-n2 {   margin-top: var(--pdc-spacer-n2);   margin-bottom: var(--pdc-spacer-n2); }
  .pdc-my-sm-n3 {   margin-top: var(--pdc-spacer-n3);   margin-bottom: var(--pdc-spacer-n3); }
  .pdc-my-sm-n4 {   margin-top: var(--pdc-spacer-n4);   margin-bottom: var(--pdc-spacer-n4); }
  .pdc-my-sm-n5 {   margin-top: var(--pdc-spacer-n5);   margin-bottom: var(--pdc-spacer-n5); }

  .pdc-mt-sm-n1 { margin-top: var(--pdc-spacer-n1); }
  .pdc-mt-sm-n2 { margin-top: var(--pdc-spacer-n2); }
  .pdc-mt-sm-n3 { margin-top: var(--pdc-spacer-n3); }
  .pdc-mt-sm-n4 { margin-top: var(--pdc-spacer-n4); }
  .pdc-mt-sm-n5 { margin-top: var(--pdc-spacer-n5); }

  .pdc-mb-sm-n1 { margin-bottom: var(--pdc-spacer-n1); }
  .pdc-mb-sm-n2 { margin-bottom: var(--pdc-spacer-n2); }
  .pdc-mb-sm-n3 { margin-bottom: var(--pdc-spacer-n3); }
  .pdc-mb-sm-n4 { margin-bottom: var(--pdc-spacer-n4); }
  .pdc-mb-sm-n5 { margin-bottom: var(--pdc-spacer-n5); }

  .pdc-ml-sm-n1 { margin-left: var(--pdc-spacer-n1); }
  .pdc-ml-sm-n2 { margin-left: var(--pdc-spacer-n2); }
  .pdc-ml-sm-n3 { margin-left: var(--pdc-spacer-n3); }
  .pdc-ml-sm-n4 { margin-left: var(--pdc-spacer-n4); }
  .pdc-ml-sm-n5 { margin-left: var(--pdc-spacer-n5); }

  .pdc-mr-sm-n1 { margin-right: var(--pdc-spacer-n1); }
  .pdc-mr-sm-n2 { margin-right: var(--pdc-spacer-n2); }
  .pdc-mr-sm-n3 { margin-right: var(--pdc-spacer-n3); }
  .pdc-mr-sm-n4 { margin-right: var(--pdc-spacer-n4); }
  .pdc-mr-sm-n5 { margin-right: var(--pdc-spacer-n5); }
}

@media (min-width: 992px) { .pdc-m-md-0 { margin: var(--pdc-spacer-0); }
  .pdc-m-md-1 { margin: var(--pdc-spacer-1); }
  .pdc-m-md-2 { margin: var(--pdc-spacer-2); }
  .pdc-m-md-3 { margin: var(--pdc-spacer-3); }
  .pdc-m-md-4 { margin: var(--pdc-spacer-4); }
  .pdc-m-md-5 { margin: var(--pdc-spacer-5); }

  .pdc-mx-md-auto {   margin-right: auto;   margin-left: auto; }

  .pdc-mx-md-0 {   margin-right: var(--pdc-spacer-0);   margin-left: var(--pdc-spacer-0); }
  .pdc-mx-md-1 {   margin-right: var(--pdc-spacer-1);   margin-left: var(--pdc-spacer-1); }
  .pdc-mx-md-2 {   margin-right: var(--pdc-spacer-2);   margin-left: var(--pdc-spacer-2); }
  .pdc-mx-md-3 {   margin-right: var(--pdc-spacer-3);   margin-left: var(--pdc-spacer-3); }
  .pdc-mx-md-4 {   margin-right: var(--pdc-spacer-4);   margin-left: var(--pdc-spacer-4); }
  .pdc-mx-md-5 {   margin-right: var(--pdc-spacer-5);   margin-left: var(--pdc-spacer-5); }

  .pdc-my-md-0 {   margin-top: var(--pdc-spacer-0);   margin-bottom: var(--pdc-spacer-0); }
  .pdc-my-md-1 {   margin-top: var(--pdc-spacer-1);   margin-bottom: var(--pdc-spacer-1); }
  .pdc-my-md-2 {   margin-top: var(--pdc-spacer-2);   margin-bottom: var(--pdc-spacer-2); }
  .pdc-my-md-3 {   margin-top: var(--pdc-spacer-3);   margin-bottom: var(--pdc-spacer-3); }
  .pdc-my-md-4 {   margin-top: var(--pdc-spacer-4);   margin-bottom: var(--pdc-spacer-4); }
  .pdc-my-md-5 {   margin-top: var(--pdc-spacer-5);   margin-bottom: var(--pdc-spacer-5); }

  .pdc-mt-md-0 { margin-top: var(--pdc-spacer-0); }
  .pdc-mt-md-1 { margin-top: var(--pdc-spacer-1); }
  .pdc-mt-md-2 { margin-top: var(--pdc-spacer-2); }
  .pdc-mt-md-3 { margin-top: var(--pdc-spacer-3); }
  .pdc-mt-md-4 { margin-top: var(--pdc-spacer-4); }
  .pdc-mt-md-5 { margin-top: var(--pdc-spacer-5); }

  .pdc-mb-md-0 { margin-bottom: var(--pdc-spacer-0); }
  .pdc-mb-md-1 { margin-bottom: var(--pdc-spacer-1); }
  .pdc-mb-md-2 { margin-bottom: var(--pdc-spacer-2); }
  .pdc-mb-md-3 { margin-bottom: var(--pdc-spacer-3); }
  .pdc-mb-md-4 { margin-bottom: var(--pdc-spacer-4); }
  .pdc-mb-md-5 { margin-bottom: var(--pdc-spacer-5); }

  .pdc-ml-md-0 { margin-left: var(--pdc-spacer-0); }
  .pdc-ml-md-1 { margin-left: var(--pdc-spacer-1); }
  .pdc-ml-md-2 { margin-left: var(--pdc-spacer-2); }
  .pdc-ml-md-3 { margin-left: var(--pdc-spacer-3); }
  .pdc-ml-md-4 { margin-left: var(--pdc-spacer-4); }
  .pdc-ml-md-5 { margin-left: var(--pdc-spacer-5); }

  .pdc-mr-md-0 { margin-right: var(--pdc-spacer-0); }
  .pdc-mr-md-1 { margin-right: var(--pdc-spacer-1); }
  .pdc-mr-md-2 { margin-right: var(--pdc-spacer-2); }
  .pdc-mr-md-3 { margin-right: var(--pdc-spacer-3); }
  .pdc-mr-md-4 { margin-right: var(--pdc-spacer-4); }
  .pdc-mr-md-5 { margin-right: var(--pdc-spacer-5); }

  .pdc-m-md-n1 { margin: var(--pdc-spacer-n1); }
  .pdc-m-md-n2 { margin: var(--pdc-spacer-n2); }
  .pdc-m-md-n3 { margin: var(--pdc-spacer-n3); }
  .pdc-m-md-n4 { margin: var(--pdc-spacer-n4); }
  .pdc-m-md-n5 { margin: var(--pdc-spacer-n5); }

  .pdc-mx-md-n1 {   margin-right: var(--pdc-spacer-n1);   margin-left: var(--pdc-spacer-n1); }
  .pdc-mx-md-n2 {   margin-right: var(--pdc-spacer-n2);   margin-left: var(--pdc-spacer-n2); }
  .pdc-mx-md-n3 {   margin-right: var(--pdc-spacer-n3);   margin-left: var(--pdc-spacer-n3); }
  .pdc-mx-md-n4 {   margin-right: var(--pdc-spacer-n4);   margin-left: var(--pdc-spacer-n4); }
  .pdc-mx-md-n5 {   margin-right: var(--pdc-spacer-n5);   margin-left: var(--pdc-spacer-n5); }

  .pdc-my-md-n1 {   margin-top: var(--pdc-spacer-n1);   margin-bottom: var(--pdc-spacer-n1); }
  .pdc-my-md-n2 {   margin-top: var(--pdc-spacer-n2);   margin-bottom: var(--pdc-spacer-n2); }
  .pdc-my-md-n3 {   margin-top: var(--pdc-spacer-n3);   margin-bottom: var(--pdc-spacer-n3); }
  .pdc-my-md-n4 {   margin-top: var(--pdc-spacer-n4);   margin-bottom: var(--pdc-spacer-n4); }
  .pdc-my-md-n5 {   margin-top: var(--pdc-spacer-n5);   margin-bottom: var(--pdc-spacer-n5); }

  .pdc-mt-md-n1 { margin-top: var(--pdc-spacer-n1); }
  .pdc-mt-md-n2 { margin-top: var(--pdc-spacer-n2); }
  .pdc-mt-md-n3 { margin-top: var(--pdc-spacer-n3); }
  .pdc-mt-md-n4 { margin-top: var(--pdc-spacer-n4); }
  .pdc-mt-md-n5 { margin-top: var(--pdc-spacer-n5); }

  .pdc-mb-md-n1 { margin-bottom: var(--pdc-spacer-n1); }
  .pdc-mb-md-n2 { margin-bottom: var(--pdc-spacer-n2); }
  .pdc-mb-md-n3 { margin-bottom: var(--pdc-spacer-n3); }
  .pdc-mb-md-n4 { margin-bottom: var(--pdc-spacer-n4); }
  .pdc-mb-md-n5 { margin-bottom: var(--pdc-spacer-n5); }

  .pdc-ml-md-n1 { margin-left: var(--pdc-spacer-n1); }
  .pdc-ml-md-n2 { margin-left: var(--pdc-spacer-n2); }
  .pdc-ml-md-n3 { margin-left: var(--pdc-spacer-n3); }
  .pdc-ml-md-n4 { margin-left: var(--pdc-spacer-n4); }
  .pdc-ml-md-n5 { margin-left: var(--pdc-spacer-n5); }

  .pdc-mr-md-n1 { margin-right: var(--pdc-spacer-n1); }
  .pdc-mr-md-n2 { margin-right: var(--pdc-spacer-n2); }
  .pdc-mr-md-n3 { margin-right: var(--pdc-spacer-n3); }
  .pdc-mr-md-n4 { margin-right: var(--pdc-spacer-n4); }
  .pdc-mr-md-n5 { margin-right: var(--pdc-spacer-n5); }
}

@media (min-width: 1200px) { .pdc-m-lg-0 { margin: var(--pdc-spacer-0); }
  .pdc-m-lg-1 { margin: var(--pdc-spacer-1); }
  .pdc-m-lg-2 { margin: var(--pdc-spacer-2); }
  .pdc-m-lg-3 { margin: var(--pdc-spacer-3); }
  .pdc-m-lg-4 { margin: var(--pdc-spacer-4); }
  .pdc-m-lg-5 { margin: var(--pdc-spacer-5); }

  .pdc-mx-lg-auto {   margin-right: auto;   margin-left: auto; }

  .pdc-mx-lg-0 {   margin-right: var(--pdc-spacer-0);   margin-left: var(--pdc-spacer-0); }
  .pdc-mx-lg-1 {   margin-right: var(--pdc-spacer-1);   margin-left: var(--pdc-spacer-1); }
  .pdc-mx-lg-2 {   margin-right: var(--pdc-spacer-2);   margin-left: var(--pdc-spacer-2); }
  .pdc-mx-lg-3 {   margin-right: var(--pdc-spacer-3);   margin-left: var(--pdc-spacer-3); }
  .pdc-mx-lg-4 {   margin-right: var(--pdc-spacer-4);   margin-left: var(--pdc-spacer-4); }
  .pdc-mx-lg-5 {   margin-right: var(--pdc-spacer-5);   margin-left: var(--pdc-spacer-5); }

  .pdc-my-lg-0 {   margin-top: var(--pdc-spacer-0);   margin-bottom: var(--pdc-spacer-0); }
  .pdc-my-lg-1 {   margin-top: var(--pdc-spacer-1);   margin-bottom: var(--pdc-spacer-1); }
  .pdc-my-lg-2 {   margin-top: var(--pdc-spacer-2);   margin-bottom: var(--pdc-spacer-2); }
  .pdc-my-lg-3 {   margin-top: var(--pdc-spacer-3);   margin-bottom: var(--pdc-spacer-3); }
  .pdc-my-lg-4 {   margin-top: var(--pdc-spacer-4);   margin-bottom: var(--pdc-spacer-4); }
  .pdc-my-lg-5 {   margin-top: var(--pdc-spacer-5);   margin-bottom: var(--pdc-spacer-5); }

  .pdc-mt-lg-0 { margin-top: var(--pdc-spacer-0); }
  .pdc-mt-lg-1 { margin-top: var(--pdc-spacer-1); }
  .pdc-mt-lg-2 { margin-top: var(--pdc-spacer-2); }
  .pdc-mt-lg-3 { margin-top: var(--pdc-spacer-3); }
  .pdc-mt-lg-4 { margin-top: var(--pdc-spacer-4); }
  .pdc-mt-lg-5 { margin-top: var(--pdc-spacer-5); }

  .pdc-mb-lg-0 { margin-bottom: var(--pdc-spacer-0); }
  .pdc-mb-lg-1 { margin-bottom: var(--pdc-spacer-1); }
  .pdc-mb-lg-2 { margin-bottom: var(--pdc-spacer-2); }
  .pdc-mb-lg-3 { margin-bottom: var(--pdc-spacer-3); }
  .pdc-mb-lg-4 { margin-bottom: var(--pdc-spacer-4); }
  .pdc-mb-lg-5 { margin-bottom: var(--pdc-spacer-5); }

  .pdc-ml-lg-0 { margin-left: var(--pdc-spacer-0); }
  .pdc-ml-lg-1 { margin-left: var(--pdc-spacer-1); }
  .pdc-ml-lg-2 { margin-left: var(--pdc-spacer-2); }
  .pdc-ml-lg-3 { margin-left: var(--pdc-spacer-3); }
  .pdc-ml-lg-4 { margin-left: var(--pdc-spacer-4); }
  .pdc-ml-lg-5 { margin-left: var(--pdc-spacer-5); }

  .pdc-mr-lg-0 { margin-right: var(--pdc-spacer-0); }
  .pdc-mr-lg-1 { margin-right: var(--pdc-spacer-1); }
  .pdc-mr-lg-2 { margin-right: var(--pdc-spacer-2); }
  .pdc-mr-lg-3 { margin-right: var(--pdc-spacer-3); }
  .pdc-mr-lg-4 { margin-right: var(--pdc-spacer-4); }
  .pdc-mr-lg-5 { margin-right: var(--pdc-spacer-5); }

  .pdc-m-lg-n1 { margin: var(--pdc-spacer-n1); }
  .pdc-m-lg-n2 { margin: var(--pdc-spacer-n2); }
  .pdc-m-lg-n3 { margin: var(--pdc-spacer-n3); }
  .pdc-m-lg-n4 { margin: var(--pdc-spacer-n4); }
  .pdc-m-lg-n5 { margin: var(--pdc-spacer-n5); }

  .pdc-mx-lg-n1 {   margin-right: var(--pdc-spacer-n1);   margin-left: var(--pdc-spacer-n1); }
  .pdc-mx-lg-n2 {   margin-right: var(--pdc-spacer-n2);   margin-left: var(--pdc-spacer-n2); }
  .pdc-mx-lg-n3 {   margin-right: var(--pdc-spacer-n3);   margin-left: var(--pdc-spacer-n3); }
  .pdc-mx-lg-n4 {   margin-right: var(--pdc-spacer-n4);   margin-left: var(--pdc-spacer-n4); }
  .pdc-mx-lg-n5 {   margin-right: var(--pdc-spacer-n5);   margin-left: var(--pdc-spacer-n5); }

  .pdc-my-lg-n1 {   margin-top: var(--pdc-spacer-n1);   margin-bottom: var(--pdc-spacer-n1); }
  .pdc-my-lg-n2 {   margin-top: var(--pdc-spacer-n2);   margin-bottom: var(--pdc-spacer-n2); }
  .pdc-my-lg-n3 {   margin-top: var(--pdc-spacer-n3);   margin-bottom: var(--pdc-spacer-n3); }
  .pdc-my-lg-n4 {   margin-top: var(--pdc-spacer-n4);   margin-bottom: var(--pdc-spacer-n4); }
  .pdc-my-lg-n5 {   margin-top: var(--pdc-spacer-n5);   margin-bottom: var(--pdc-spacer-n5); }

  .pdc-mt-lg-n1 { margin-top: var(--pdc-spacer-n1); }
  .pdc-mt-lg-n2 { margin-top: var(--pdc-spacer-n2); }
  .pdc-mt-lg-n3 { margin-top: var(--pdc-spacer-n3); }
  .pdc-mt-lg-n4 { margin-top: var(--pdc-spacer-n4); }
  .pdc-mt-lg-n5 { margin-top: var(--pdc-spacer-n5); }

  .pdc-mb-lg-n1 { margin-bottom: var(--pdc-spacer-n1); }
  .pdc-mb-lg-n2 { margin-bottom: var(--pdc-spacer-n2); }
  .pdc-mb-lg-n3 { margin-bottom: var(--pdc-spacer-n3); }
  .pdc-mb-lg-n4 { margin-bottom: var(--pdc-spacer-n4); }
  .pdc-mb-lg-n5 { margin-bottom: var(--pdc-spacer-n5); }

  .pdc-ml-lg-n1 { margin-left: var(--pdc-spacer-n1); }
  .pdc-ml-lg-n2 { margin-left: var(--pdc-spacer-n2); }
  .pdc-ml-lg-n3 { margin-left: var(--pdc-spacer-n3); }
  .pdc-ml-lg-n4 { margin-left: var(--pdc-spacer-n4); }
  .pdc-ml-lg-n5 { margin-left: var(--pdc-spacer-n5); }

  .pdc-mr-lg-n1 { margin-right: var(--pdc-spacer-n1); }
  .pdc-mr-lg-n2 { margin-right: var(--pdc-spacer-n2); }
  .pdc-mr-lg-n3 { margin-right: var(--pdc-spacer-n3); }
  .pdc-mr-lg-n4 { margin-right: var(--pdc-spacer-n4); }
  .pdc-mr-lg-n5 { margin-right: var(--pdc-spacer-n5); }
}
