.pdc-p-0 { padding: var(--pdc-spacer-0); }
.pdc-p-1 { padding: var(--pdc-spacer-1); }
.pdc-p-2 { padding: var(--pdc-spacer-2); }
.pdc-p-3 { padding: var(--pdc-spacer-3); }
.pdc-p-4 { padding: var(--pdc-spacer-4); }
.pdc-p-5 { padding: var(--pdc-spacer-5); }

.pdc-px-0 { padding-right: var(--pdc-spacer-0); padding-left: var(--pdc-spacer-0); }
.pdc-px-1 { padding-right: var(--pdc-spacer-1); padding-left: var(--pdc-spacer-1); }
.pdc-px-2 { padding-right: var(--pdc-spacer-2); padding-left: var(--pdc-spacer-2); }
.pdc-px-3 { padding-right: var(--pdc-spacer-3); padding-left: var(--pdc-spacer-3); }
.pdc-px-4 { padding-right: var(--pdc-spacer-4); padding-left: var(--pdc-spacer-4); }
.pdc-px-5 { padding-right: var(--pdc-spacer-5); padding-left: var(--pdc-spacer-5); }

.pdc-py-0 { padding-top: var(--pdc-spacer-0); padding-bottom: var(--pdc-spacer-0); }
.pdc-py-1 { padding-top: var(--pdc-spacer-1); padding-bottom: var(--pdc-spacer-1); }
.pdc-py-2 { padding-top: var(--pdc-spacer-2); padding-bottom: var(--pdc-spacer-2); }
.pdc-py-3 { padding-top: var(--pdc-spacer-3); padding-bottom: var(--pdc-spacer-3); }
.pdc-py-4 { padding-top: var(--pdc-spacer-4); padding-bottom: var(--pdc-spacer-4); }
.pdc-py-5 { padding-top: var(--pdc-spacer-5); padding-bottom: var(--pdc-spacer-5); }

.pdc-pt-0 { padding-top: var(--pdc-spacer-0); }
.pdc-pt-1 { padding-top: var(--pdc-spacer-1); }
.pdc-pt-2 { padding-top: var(--pdc-spacer-2); }
.pdc-pt-3 { padding-top: var(--pdc-spacer-3); }
.pdc-pt-4 { padding-top: var(--pdc-spacer-4); }
.pdc-pt-5 { padding-top: var(--pdc-spacer-5); }

.pdc-pb-0 { padding-bottom: var(--pdc-spacer-0); }
.pdc-pb-1 { padding-bottom: var(--pdc-spacer-1); }
.pdc-pb-2 { padding-bottom: var(--pdc-spacer-2); }
.pdc-pb-3 { padding-bottom: var(--pdc-spacer-3); }
.pdc-pb-4 { padding-bottom: var(--pdc-spacer-4); }
.pdc-pb-5 { padding-bottom: var(--pdc-spacer-5); }

.pdc-pl-0 { padding-left: var(--pdc-spacer-0); }
.pdc-pl-1 { padding-left: var(--pdc-spacer-1); }
.pdc-pl-2 { padding-left: var(--pdc-spacer-2); }
.pdc-pl-3 { padding-left: var(--pdc-spacer-3); }
.pdc-pl-4 { padding-left: var(--pdc-spacer-4); }
.pdc-pl-5 { padding-left: var(--pdc-spacer-5); }

.pdc-pr-0 { padding-right: var(--pdc-spacer-0); }
.pdc-pr-1 { padding-right: var(--pdc-spacer-1); }
.pdc-pr-2 { padding-right: var(--pdc-spacer-2); }
.pdc-pr-3 { padding-right: var(--pdc-spacer-3); }
.pdc-pr-4 { padding-right: var(--pdc-spacer-4); }
.pdc-pr-5 { padding-right: var(--pdc-spacer-5); }

@media (min-width: 768px) {
  .pdc-p-sm-0 { padding: var(--pdc-spacer-0); }
  .pdc-p-sm-1 { padding: var(--pdc-spacer-1); }
  .pdc-p-sm-2 { padding: var(--pdc-spacer-2); }
  .pdc-p-sm-3 { padding: var(--pdc-spacer-3); }
  .pdc-p-sm-4 { padding: var(--pdc-spacer-4); }
  .pdc-p-sm-5 { padding: var(--pdc-spacer-5); }

  .pdc-px-sm-0 { padding-right: var(--pdc-spacer-0); padding-left: var(--pdc-spacer-0); }
  .pdc-px-sm-1 { padding-right: var(--pdc-spacer-1); padding-left: var(--pdc-spacer-1); }
  .pdc-px-sm-2 { padding-right: var(--pdc-spacer-2); padding-left: var(--pdc-spacer-2); }
  .pdc-px-sm-3 { padding-right: var(--pdc-spacer-3); padding-left: var(--pdc-spacer-3); }
  .pdc-px-sm-4 { padding-right: var(--pdc-spacer-4); padding-left: var(--pdc-spacer-4); }
  .pdc-px-sm-5 { padding-right: var(--pdc-spacer-5); padding-left: var(--pdc-spacer-5); }

  .pdc-py-sm-0 { padding-top: var(--pdc-spacer-0); padding-bottom: var(--pdc-spacer-0); }
  .pdc-py-sm-1 { padding-top: var(--pdc-spacer-1); padding-bottom: var(--pdc-spacer-1); }
  .pdc-py-sm-2 { padding-top: var(--pdc-spacer-2); padding-bottom: var(--pdc-spacer-2); }
  .pdc-py-sm-3 { padding-top: var(--pdc-spacer-3); padding-bottom: var(--pdc-spacer-3); }
  .pdc-py-sm-4 { padding-top: var(--pdc-spacer-4); padding-bottom: var(--pdc-spacer-4); }
  .pdc-py-sm-5 { padding-top: var(--pdc-spacer-5); padding-bottom: var(--pdc-spacer-5); }

  .pdc-pt-sm-0 { padding-top: var(--pdc-spacer-0); }
  .pdc-pt-sm-1 { padding-top: var(--pdc-spacer-1); }
  .pdc-pt-sm-2 { padding-top: var(--pdc-spacer-2); }
  .pdc-pt-sm-3 { padding-top: var(--pdc-spacer-3); }
  .pdc-pt-sm-4 { padding-top: var(--pdc-spacer-4); }
  .pdc-pt-sm-5 { padding-top: var(--pdc-spacer-5); }

  .pdc-pb-sm-0 { padding-bottom: var(--pdc-spacer-0); }
  .pdc-pb-sm-1 { padding-bottom: var(--pdc-spacer-1); }
  .pdc-pb-sm-2 { padding-bottom: var(--pdc-spacer-2); }
  .pdc-pb-sm-3 { padding-bottom: var(--pdc-spacer-3); }
  .pdc-pb-sm-4 { padding-bottom: var(--pdc-spacer-4); }
  .pdc-pb-sm-5 { padding-bottom: var(--pdc-spacer-5); }

  .pdc-pl-sm-0 { padding-left: var(--pdc-spacer-0); }
  .pdc-pl-sm-1 { padding-left: var(--pdc-spacer-1); }
  .pdc-pl-sm-2 { padding-left: var(--pdc-spacer-2); }
  .pdc-pl-sm-3 { padding-left: var(--pdc-spacer-3); }
  .pdc-pl-sm-4 { padding-left: var(--pdc-spacer-4); }
  .pdc-pl-sm-5 { padding-left: var(--pdc-spacer-5); }

  .pdc-pr-sm-0 { padding-right: var(--pdc-spacer-0); }
  .pdc-pr-sm-1 { padding-right: var(--pdc-spacer-1); }
  .pdc-pr-sm-2 { padding-right: var(--pdc-spacer-2); }
  .pdc-pr-sm-3 { padding-right: var(--pdc-spacer-3); }
  .pdc-pr-sm-4 { padding-right: var(--pdc-spacer-4); }
  .pdc-pr-sm-5 { padding-right: var(--pdc-spacer-5); }
}

@media (min-width: 992px) {
  .pdc-p-md-0 { padding: var(--pdc-spacer-0); }
  .pdc-p-md-1 { padding: var(--pdc-spacer-1); }
  .pdc-p-md-2 { padding: var(--pdc-spacer-2); }
  .pdc-p-md-3 { padding: var(--pdc-spacer-3); }
  .pdc-p-md-4 { padding: var(--pdc-spacer-4); }
  .pdc-p-md-5 { padding: var(--pdc-spacer-5); }

  .pdc-px-md-0 { padding-right: var(--pdc-spacer-0); padding-left: var(--pdc-spacer-0); }
  .pdc-px-md-1 { padding-right: var(--pdc-spacer-1); padding-left: var(--pdc-spacer-1); }
  .pdc-px-md-2 { padding-right: var(--pdc-spacer-2); padding-left: var(--pdc-spacer-2); }
  .pdc-px-md-3 { padding-right: var(--pdc-spacer-3); padding-left: var(--pdc-spacer-3); }
  .pdc-px-md-4 { padding-right: var(--pdc-spacer-4); padding-left: var(--pdc-spacer-4); }
  .pdc-px-md-5 { padding-right: var(--pdc-spacer-5); padding-left: var(--pdc-spacer-5); }

  .pdc-py-md-0 { padding-top: var(--pdc-spacer-0); padding-bottom: var(--pdc-spacer-0); }
  .pdc-py-md-1 { padding-top: var(--pdc-spacer-1); padding-bottom: var(--pdc-spacer-1); }
  .pdc-py-md-2 { padding-top: var(--pdc-spacer-2); padding-bottom: var(--pdc-spacer-2); }
  .pdc-py-md-3 { padding-top: var(--pdc-spacer-3); padding-bottom: var(--pdc-spacer-3); }
  .pdc-py-md-4 { padding-top: var(--pdc-spacer-4); padding-bottom: var(--pdc-spacer-4); }
  .pdc-py-md-5 { padding-top: var(--pdc-spacer-5); padding-bottom: var(--pdc-spacer-5); }

  .pdc-pt-md-0 { padding-top: var(--pdc-spacer-0); }
  .pdc-pt-md-1 { padding-top: var(--pdc-spacer-1); }
  .pdc-pt-md-2 { padding-top: var(--pdc-spacer-2); }
  .pdc-pt-md-3 { padding-top: var(--pdc-spacer-3); }
  .pdc-pt-md-4 { padding-top: var(--pdc-spacer-4); }
  .pdc-pt-md-5 { padding-top: var(--pdc-spacer-5); }

  .pdc-pb-md-0 { padding-bottom: var(--pdc-spacer-0); }
  .pdc-pb-md-1 { padding-bottom: var(--pdc-spacer-1); }
  .pdc-pb-md-2 { padding-bottom: var(--pdc-spacer-2); }
  .pdc-pb-md-3 { padding-bottom: var(--pdc-spacer-3); }
  .pdc-pb-md-4 { padding-bottom: var(--pdc-spacer-4); }
  .pdc-pb-md-5 { padding-bottom: var(--pdc-spacer-5); }

  .pdc-pl-md-0 { padding-left: var(--pdc-spacer-0); }
  .pdc-pl-md-1 { padding-left: var(--pdc-spacer-1); }
  .pdc-pl-md-2 { padding-left: var(--pdc-spacer-2); }
  .pdc-pl-md-3 { padding-left: var(--pdc-spacer-3); }
  .pdc-pl-md-4 { padding-left: var(--pdc-spacer-4); }
  .pdc-pl-md-5 { padding-left: var(--pdc-spacer-5); }

  .pdc-pr-md-0 { padding-right: var(--pdc-spacer-0); }
  .pdc-pr-md-1 { padding-right: var(--pdc-spacer-1); }
  .pdc-pr-md-2 { padding-right: var(--pdc-spacer-2); }
  .pdc-pr-md-3 { padding-right: var(--pdc-spacer-3); }
  .pdc-pr-md-4 { padding-right: var(--pdc-spacer-4); }
  .pdc-pr-md-5 { padding-right: var(--pdc-spacer-5); }
}

@media (min-width: 1200px) {
  .pdc-p-lg-0 { padding: var(--pdc-spacer-0); }
  .pdc-p-lg-1 { padding: var(--pdc-spacer-1); }
  .pdc-p-lg-2 { padding: var(--pdc-spacer-2); }
  .pdc-p-lg-3 { padding: var(--pdc-spacer-3); }
  .pdc-p-lg-4 { padding: var(--pdc-spacer-4); }
  .pdc-p-lg-5 { padding: var(--pdc-spacer-5); }

  .pdc-px-lg-0 { padding-right: var(--pdc-spacer-0); padding-left: var(--pdc-spacer-0); }
  .pdc-px-lg-1 { padding-right: var(--pdc-spacer-1); padding-left: var(--pdc-spacer-1); }
  .pdc-px-lg-2 { padding-right: var(--pdc-spacer-2); padding-left: var(--pdc-spacer-2); }
  .pdc-px-lg-3 { padding-right: var(--pdc-spacer-3); padding-left: var(--pdc-spacer-3); }
  .pdc-px-lg-4 { padding-right: var(--pdc-spacer-4); padding-left: var(--pdc-spacer-4); }
  .pdc-px-lg-5 { padding-right: var(--pdc-spacer-5); padding-left: var(--pdc-spacer-5); }

  .pdc-py-lg-0 { padding-top: var(--pdc-spacer-0); padding-bottom: var(--pdc-spacer-0); }
  .pdc-py-lg-1 { padding-top: var(--pdc-spacer-1); padding-bottom: var(--pdc-spacer-1); }
  .pdc-py-lg-2 { padding-top: var(--pdc-spacer-2); padding-bottom: var(--pdc-spacer-2); }
  .pdc-py-lg-3 { padding-top: var(--pdc-spacer-3); padding-bottom: var(--pdc-spacer-3); }
  .pdc-py-lg-4 { padding-top: var(--pdc-spacer-4); padding-bottom: var(--pdc-spacer-4); }
  .pdc-py-lg-5 { padding-top: var(--pdc-spacer-5); padding-bottom: var(--pdc-spacer-5); }

  .pdc-pt-lg-0 { padding-top: var(--pdc-spacer-0); }
  .pdc-pt-lg-1 { padding-top: var(--pdc-spacer-1); }
  .pdc-pt-lg-2 { padding-top: var(--pdc-spacer-2); }
  .pdc-pt-lg-3 { padding-top: var(--pdc-spacer-3); }
  .pdc-pt-lg-4 { padding-top: var(--pdc-spacer-4); }
  .pdc-pt-lg-5 { padding-top: var(--pdc-spacer-5); }

  .pdc-pb-lg-0 { padding-bottom: var(--pdc-spacer-0); }
  .pdc-pb-lg-1 { padding-bottom: var(--pdc-spacer-1); }
  .pdc-pb-lg-2 { padding-bottom: var(--pdc-spacer-2); }
  .pdc-pb-lg-3 { padding-bottom: var(--pdc-spacer-3); }
  .pdc-pb-lg-4 { padding-bottom: var(--pdc-spacer-4); }
  .pdc-pb-lg-5 { padding-bottom: var(--pdc-spacer-5); }

  .pdc-pl-lg-0 { padding-left: var(--pdc-spacer-0); }
  .pdc-pl-lg-1 { padding-left: var(--pdc-spacer-1); }
  .pdc-pl-lg-2 { padding-left: var(--pdc-spacer-2); }
  .pdc-pl-lg-3 { padding-left: var(--pdc-spacer-3); }
  .pdc-pl-lg-4 { padding-left: var(--pdc-spacer-4); }
  .pdc-pl-lg-5 { padding-left: var(--pdc-spacer-5); }

  .pdc-pr-lg-0 { padding-right: var(--pdc-spacer-0); }
  .pdc-pr-lg-1 { padding-right: var(--pdc-spacer-1); }
  .pdc-pr-lg-2 { padding-right: var(--pdc-spacer-2); }
  .pdc-pr-lg-3 { padding-right: var(--pdc-spacer-3); }
  .pdc-pr-lg-4 { padding-right: var(--pdc-spacer-4); }
  .pdc-pr-lg-5 { padding-right: var(--pdc-spacer-5); }
}
