{% if subpage_settings.table_settings %}
	{% set settings = subpage_settings.table_settings %}
	{% set columns = settings.columns %}
	{% set data_id = subpage_settings.table_settings.data_id %}
	{% if candidate_data %}
		{% set filer_id = candidate_data.0.filer_id %}
		{% set election_year = candidate_data.0.election_year %}
	{% endif %}
	{% if committee_data %}
		{% set filer_id = committee_data.0.filer_id %}
		{% set election_year = committee_data.0.election_year %}
	{% endif %}
{% endif %}
{% if data_id %}
	{{ attach_library('pdc_api_tools/global') }}
	{{ attach_library('pdc_api_tools/datatables_library') }}
	{{ attach_library('pdc_api_tools/datatables') }}
	{% if column_defs_path %}
		<script src="{{ column_defs_path }}"></script>
	{% else %}
		{{ attach_library('pdc_api_tools/default_table') }}
	{% endif %}
	{% if subpage_settings.table_settings %}
		{% set settings = subpage_settings.table_settings %}
	{% endif %}
	{% if settings.table_top_nav %}
		{# @pdc_api_tools refers to 'pdc_api_tools/templates' #}
		{# include '@pdc_api_tools/blocks/' ~ settings.table_top_nav ~ '.html.twig' #}
	{% endif %}
	<div class="data-table-container container">
		<div class="cover">
			<div class="fa-3x loader">
				<i class="fas fa-spinner fa-pulse"></i>
			</div>
		</div>
		<div class="all-the-filters">
		<div class="filter-top col-xs-12 col-sm-12 col-md-12 col-lg-12">

			{% if settings.filters %}
			<div class="current-filter-container col-xs-12 col-sm-12 col-md-8 col-lg-9">
				<h2 class="col-xs-12 col-sm-12 col-md-2 col-lg-2">Results for:</h2>
				{% if current_filters is empty %}
					<div class="no-filter-results">
						<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 no-results">No selected filters.</div>
					</div>
				{% endif %}
				<div class="current-filters col-xs-12 col-sm-12 col-md-10 col-lg-10" id="current-filters"></div>
			</div>
			<div class="pull-right col-xs-12 col-sm-12 col-md-4 col-lg-3">
				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#filters-collapse" aria-controls="filters-collapse" id="filter-colapse-control" aria-expanded="true">Hide Filters</button>
			  <button type="button" class="btn btn-primary search-tips-button" data-toggle="modal" data-target="#searchTipsModal">Search Tips</button>
		  </div>
		  {% endif %}
		</div>
			{% if settings.filters %}
		  	<div id="filters-collapse" class="collapse in" aria-hidden="true" tabindex="-1">
		  		<div class="card card-body">
			  		<div class="filters" role="search" aria-label="Search Filters">
			    	{% for filter in settings.filters %}
						{% if filter.id == 'jurisdiction_code' and settings.table_id == 'candidates-table' %}
							{{ attach_library('pdc_api_tools/address_tool') }}
							{# @pdc_api_tools refers to 'pdc_api_tools/templates' #}
							{% include '@pdc_api_tools/blocks/address_tool.html.twig' %}
						{% else %}
							{% set filter_attr = create_attribute({ id: filter.id, class: ['table__filter']}) %}
							<{{ filter.tag }}{{ filter_attr.addClass(filter.classes) }}><label>{{ filter.display_name }}</label></{{ filter.tag }}>
						{% endif %}
					{% endfor %}

						<div class="modal fade" id="searchTipsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Search Tip</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<p>Not finding what you’re looking for? Try using an abbreviation or partial name.</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>


					</div>
				</div>
			</div>
			{% endif %}
		</div>
		<div class="table-wrapper">
			<table id="{{ settings.table_id }}" class="dataTable dt-responsive"
				data-dadc-socrata-domain="data.wa.gov"
				data-dadc-dsid="{{ settings.data_id }}"
				data-dadc-socrata-app-token="VgdhT3tN0hU2T43raCJSznncV"
			{% if settings.dtadc_info %}
				data-dtadc-info="{{ settings.dtadc_info }}"
			{% endif %}
			{% if settings.attrs %}
				{% for key, attr in settings.attrs %}
					{{ attr.name }}="{{ attr.value }}"
				{% endfor %}
			{% endif %}
			{% if subpage_settings.table_settings %}
				data-dadc-fixed-filter="where filer_id='{{ filer_id}}' AND election_year={{ election_year}}"
			{% endif %}
			>
				{% if caption %}
				  <caption>
						<div class="datatable__caption">{{ caption }}</div>
					</caption>
				{% endif %}
				<thead>
					<tr
					{% if settings.tr_attrs %}
						{% for key, attr in settings.tr_attrs %}
							{{ attr.name }}="{{ attr.value }}"
						{% endfor %}
					{% endif %}
					>
					{% for key,column in columns %}
						<th data-dadc-col="{{ column.data_dadc_col }}"
						scope="col"
						{% if column.classes %}
							data-dadc-col-classes="{{ column.classes }}"
							class="{{ column.classes }}"
						{% endif %}
						{% if column.attrs %}
							{% for key, attr in column.attrs %}
								{{ attr.name }}="{{ attr.value }}"
							{% endfor %}
						{% endif %}
						>{{ column.display_name }}</th>
				    {% endfor  %}
				    </tr>
			  	</thead>
			</table>
		</div>
	</div>
{% endif %}
