{% if reports_table_settings.data_id %}
	{% set settings = reports_table_settings %}
	<div class="data-table-container">
		<div class="all-the-filters">
		<div class="filter-top col-xs-12 col-sm-12 col-md-12 col-lg-12">
			{% if settings.filters %}
			<div class="current-filter-container col-xs-12 col-sm-12 col-md-8 col-lg-9">
				<h2 class="col-xs-12 col-sm-12 col-md-2 col-lg-2">{{ 'Results for:'|t }}</h2>
				<div class="no-filter-results">
					<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 no-results">{{ 'No selected filters.'|t }}</div>
				</div>
				<div class="current-filters col-xs-12 col-sm-12 col-md-10 col-lg-10" id="{{ settings.id }}-current-filters"></div>
			</div>
			<div class="pull-right col-xs-12 col-sm-12 col-md-4 col-lg-3">
				<button class="btn btn-primary filter-collapse-control" type="button" data-toggle="collapse" data-target="#{{ settings.id }}-filters-collapse" aria-controls="{{ settings.id }}-filters-collapse" aria-expanded="true">{{ 'Hide Filters'|t }}</button>
			  <button type="button" class="btn btn-primary search-tips-button" data-toggle="modal" data-target="#{{ settings.id }}-search-tip-modal">Search Tips</button>
		  </div>
		  {% endif %}
		</div>
			{% if settings.filters %}
		  	<div id="{{ settings.id }}-filters-collapse" class="collapse in" aria-hidden="true">
		  		<div class="card card-body">
			  		<div class="filters" role="search" aria-label="Search Filters">
							{% for filter in settings.filters %}
								{% if filter.id == 'jurisdiction_code' and settings.table_id == 'candidates-table' %}
									{{ attach_library('pdc_api_tools/address_tool') }}
									{# @pdc_api_tools refers to 'pdc_api_tools/templates' #}
									{% include '@pdc_api_tools/blocks/address_tool.html.twig' %}
								{% else %}
									{% set filter_attr = create_attribute({ id: filter.id, class: ['table__filter']}) %}
									<{{ filter.tag }}{{ filter_attr.addClass(filter.classes) }}><label>{{ filter.display_name }}</label></{{ filter.tag }}>
								{% endif %}
							{% endfor %}

							<div class="modal fade" id="{{ settings.id }}-search-tip-modal" tabindex="-1" role="dialog" aria-labelledby="{{ settings.id }}-search-tip-label" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="{{ settings.id }}-search-tip-label">Search Tip</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<p>{{ 'Not finding what you’re looking for? Try using an abbreviation or partial name.'|t }}</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
		<div class="table-wrapper">
			<table id="{{ settings.table_id }}" class="campaign-reports-table dt-responsive"
				data-table-id="{{ settings.table_id }}"
				data-dadc-socrata-domain="data.wa.gov"
				data-dadc-dsid="{{ settings.data_id }}"
				data-dadc-socrata-app-token="VgdhT3tN0hU2T43raCJSznncV"
			{% if settings.dtadc_info %}
				data-dtadc-info="{{ settings.dtadc_info }}"
			{% endif %}
			{% if settings.attrs %}
				{% for key, attr in settings.attrs %}
					{{ attr.name }}="{{ attr.value }}"
				{% endfor %}
			{% endif %}
			{% if settings.fixed_filter %}
				data-dadc-fixed-filter="{{ settings.fixed_filter }}"
			{% endif %}
			>
				{% if caption %}
					<caption>
						<div class="datatable__caption">{{ caption }}</div>
					</caption>
				{% endif %}
				<thead>
					<tr
					{% if settings.tr_attrs %}
						{% for key, attr in settings.tr_attrs %}
							{{ attr.name }}="{{ attr.value }}"
						{% endfor %}
					{% endif %}
					>
					{% for key,column in settings.columns %}
						<th data-dadc-col="{{ column.data_dadc_col }}"
						scope="col"
						{% if column.classes %}
							data-dadc-col-classes="{{ column.classes }}"
							class="{{ column.classes }}"
						{% endif %}
						{% if column.attrs %}
							{% for key, attr in column.attrs %}
								{{ attr.name }}="{{ attr.value }}"
							{% endfor %}
						{% endif %}
						>{{ column.display_name }}</th>
				    {% endfor  %}
				    </tr>
			  	</thead>
			</table>
		</div>
	</div>
{% endif %}
