<div class="campaign-data-top">
	<div class="campaign-title container">
		<h1 class="campaign-name">{{ "Candidate Campaign Finances"|t }}</h1>
		<div class="campaign-blurb"></div>
	</div>
</div>
<div id="campaign-data-navigation" class="tabs nav-tabs container"></div>
<div id="campaign-data-overview" class="campaign-overview container">
	<div class="campaign-info">
		<div class="campaign-status-col col">
			<div class="campaign-overview-callout callout">
				<div class="callout-title">
					<h2>{{ 'Candidate Overview'|t }}</h2>
				</div>
				<div class="callout-content">
					<ul>
						<li class="campaign-data-value" data-value-id="registered" data-format="date_full" data-hide-empty="self">Registered </li>
						<li class="campaign-data-value" data-value-id="party" data-hide-empty="self">Party: </li>
					</ul>

					<div class="campaign-info-field campaign-info--address">
						<i class="fa fas fa-map-marker-alt" role="presentation"></i>
						<span class="sr-only">{{ 'Address:'|t }}</span>
						<span class="campaign-data-value" data-value-id="committee_formatted_address" data-format="html" data-hide-empty="parent"></span>

					</div>
					<div class="campaign-info-field campaign-info--email">
						<i class="fa fas fa-envelope" role="presentation"></i>
						<span class="sr-only">{{ 'Email:'|t }}</span>
						<span class="campaign-data-value" data-value-id="committee_email" data-format="email_link" data-hide-empty="parent"></span>
					</div>
					<div class="campaign-info-field campaign-info--phone">
						<i class="fa fas fa-phone" role="presentation"></i>
						<span class="sr-only">{{ 'Phone:'|t }}</span>
						<span class="campaign-data-value" data-value-id="committee_phone" data-hide-empty="parent"></span>
					</div>
				</div>
			</div>
			<div class="campaign-status-callout callout">
				<div class="callout-title">
					<h2>{{ 'Candidacy Status'|t }}</h2>
				</div>
				<div class="callout-content">
					<ul class="candidate-status-items">
						<li class="campaign-data-value" data-value-id="primary_election_status" data-hide-empty="self"></li>
						<li class="campaign-data-value" data-value-id="general_election_status" data-hide-empty="self"></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="campaign-reports-col col">
			<div class="finance-overview-callout callout">
				<div class="callout-title">
					<h2>{{ 'Financial Overview'|t }}</h2>
				</div>
				<div class="callout-content">
					<div class="finance-row finance-row--calculated">
						<div class="finance-operand">
							<div>
								<div class="campaign-data-value" data-value-id="carryforward_amount" data-format="currency"></div>
								<div class="finance-value-label">{{ 'Starting balance'|t }}</div>
							</div>
						</div>
						<div class="finance-operand">
							<div>
								<div class="campaign-data-value" data-value-id="contributions_amount" data-format="currency"></div>
								<div class="finance-value-label">{{ 'Contributions'|t }}</div>
							</div>
						</div>
						<div class="finance-operand">
							<div>
								<div class="campaign-data-value" data-value-id="loans_amount" data-format="currency"></div>
								<div class="finance-value-label">{{ 'Loans'|t }}</div>
							</div>
						</div>
						<div class="finance-total">
							<div>
								<div class="campaign-data-value" data-value-id="total_raised_amount" data-format="currency"></div>
								<div class="finance-value-label">{{ 'Total raised'|t }}</div>
							</div>
						</div>
					</div>
					<div class="finance-row">
						<div class="finance-value">
							<div class="campaign-data-value" data-value-id="expenditures_amount" data-format="currency"></div>
							<div class="finance-value-label">{{ 'Total spent'|t }}</div>
						</div>
						<div class="finance-value">
							<div class="campaign-data-value" data-value-id="pledges_amount" data-format="currency"></div>
							<div class="finance-value-label">{{ 'Pledges'|t }}</div>
						</div>
						<div class="finance-value">
							<div class="campaign-data-value" data-value-id="debts_amount" data-format="currency"></div>
							<div class="finance-value-label">{{ 'Debt'|t }}</div>
						</div>
					</div>
					<div class="finance-row">
						<div class="finance-value">
							<div class="campaign-data-value" data-value-id="independent_expenditures_for_amount" data-format="currency"></div>
							<div class="finance-value-label">{{ 'Independent expenditures for'|t }}</div>
						</div>
						<div class="finance-value">
							<div class="campaign-data-value" data-value-id="independent_expenditures_against_amount" data-format="currency"></div>
							<div class="finance-value-label">{{ 'Independent expenditures against'|t }}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="reports-callout callout">
				<div class="callout-title">
					<h2>{{ 'Candidate Reports and Forms'|t }}</h2>
				</div>
				<div class="callout-content">
					<ul>
						<li class="campaign-data-value" data-value-id="receipt_date" data-format="token" data-hide-empty="self">
							<a href="{url}" >{{ 'Registration Form'|t }}</a>
						</li>
						<li class="campaign-data-value" data-value-id="person_id" data-format="token" data-hide-empty="self">
							<a href="/political-disclosure-reporting-data/browse-search-data/financial-affairs-statements?person_id={person_id}">{{ 'Financial Affairs Report'|t }}</a>
						</li>
						<li class="campaign-data-value" data-value-id="person_id" data-format="token" data-hide-empty="self">
							<a href="/political-disclosure-reporting-data/browse-search-data/candidates/surplus-funds?person_id={person_id}">{{ 'Surplus Funds Account'|t }}</a>
						</li>
						<li class="campaign-data-value" data-value-id="fund_id" data-format="token" data-hide-empty="self">
							<a href="https://data.wa.gov/campaign_finance/?electionYear={election_year}&amp;candidates={filer_id}" target="_blank">{{ 'Contributors and Vendors Map'|t }}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="campaign-data-blocks">
		{# Row is dependent on fund id being present. #}
		<div class="row campaign-fund-dependent">
			<div class="campaign-data-block col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div class="pdc-card">
					<h2 class="pdc-card-title">
						<span class="pdc-card-subtitle">{{ 'Made to candidate for'|t }} <span class="campaign-data-value" data-value-id="election_year"></span></span>
						<a href="#contributions">{{ 'Contributions'|t }}</a>
					</h2>
					<p>
						{{ 'See who has contributed cash and in-kind (non-monetary) contributions to the campaign.'|t }}
					</p>
					{{ contributions_chart }}
				</div>
			</div>
			<div class="campaign-data-block col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div class="pdc-card">
					<h2 class="pdc-card-title">
						<span class="pdc-card-subtitle">{{ 'Made by candidate for'|t }} <span class="campaign-data-value" data-value-id="election_year"></span></span>
						<a href="#expenditures">{{ 'Expenditures'|t }}</a>
					</h2>
					<p>
						{{ 'See how the campaign has spent money, and what kind of goods and services it received as in-kind contributions.'|t }}
					</p>
					{{ expenditures_chart }}
				</div>
			</div>
		</div>
			<div class="row">
				<div class="campaign-data-block col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="pdc-card">
						<h2 class="pdc-card-title">{{ 'Candidates Filed for this Office'|t }}</h2>
						<div class="opposing-candidates">
							<div class="pdc-d-none pdc-d-sm-block" aria-hidden="true">
								{{ opponents_chart }}
							</div>
							<div id="opponents-datatable" class="opposing-candidates-table data-table-container">
								<table class="table table-striped table-hover">
									<caption>
										<div class="datatable__caption"><i class="fa fa-solid fa-asterisk"></i> {{ 'declared candidates (eligible for election)'|t }}</div>
									</caption>
									<thead>
										<tr>
											<th>{{ 'Candidate'|t }}</th>
											<th>{{ 'Contributions'|t }}</th>
											<th>{{ 'Expenditures'|t }}</th>
										</tr>
									</thead>
									<tbody></tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		<div class="row flex-row">
			<div class="campaign-data-block col-xs-12 col-sm-12 col-md-6 col-lg-6 flex-grow">
				<div class="pdc-card">
					<h2 class="pdc-card-title">
						<span class="pdc-card-subtitle">{{ 'Spending for and against this candidate'|t }}</span>
						<a href="#independent_expenditures">{{ 'Independent Expenditures'|t }}</a>
					</h2>
					<p>
						{{ 'Independent expenditures are made by third parties that are not part of a candidate’s campaign.'|t }}
					</p>
					{{ independent_expenditures_chart }}
				</div>
			</div>
			{# Block is dependent on fund id being present. #}
			<div class="campaign-data-block campaign-fund-dependent col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
				<div class="pdc-card">
					<h2 class="pdc-card-title">
						<span class="pdc-card-subtitle">{{ 'Incurred by candidate'|t }}</span>
						<a href="#debts">{{ 'Debts'|t }}</a>
					</h2>
					<p>
						{{ 'This information shows the debt for the campaign as of the submission date of the related report.'|t }}
					</p>
					<p>
						<strong>{{ 'Outstanding debt for campaign is'|t }} <span class="campaign-data-value" data-value-id="debts_amount" data-format="currency"></span></strong>
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="campaign-data-block col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="inner">
					<h2>{{ 'Campaign Finance Reports'|t }}</h2>
					<div class="info">
						<p>{{ 'See the reports filed by the candidate. Reports with a strikethrough were amended by another report.'|t }}</p>
					</div>
					<div id="filters-collapse" class="collapse in" aria-hidden="true">
						<div class="card card-body">
							<div class="filters" role="search" aria-label="Search Filters">
								{% for filter in reports_table_settings.filters %}
									{% if filter.id == 'jurisdiction_code' and reports_table_settings.table_id == 'candidates-table' %}
										{{ attach_library('pdc_api_tools/address_tool') }}
										{# @pdc_api_tools refers to 'pdc_api_tools/templates' #}
										{% include '@pdc_api_tools/blocks/address_tool.html.twig' %}
									{% else %}
										<{{ filter.tag }} id="{{ filter.id }}" {% if filter.classes %}class="{{ filter.classes }}" for="{{ filter.id }}" {% endif %}><label>{{ filter.display_name }}</label></{{ filter.tag}}>
									{% endif %}
								{% endfor %}
								<div class="modal fade" id="candiate-table-report-tips" tabindex="-1" role="dialog" aria-labelledby="candiate-table-report-tips-title" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="candiate-table-report-tips-title">{{ 'Search Tip'|t }}</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<p>{{ 'Not finding what you’re looking for? Try using an abbreviation or partial name.'|t }}</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'Close'|t }}</button>
										</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="table data-table-container">
						<table id="{{ reports_table_settings.table_id }}" class="campaign-reports-table dt-responsive"
							data-language='{"infoEmpty":"There are no reports available for this campaign", "emptyTable":"No records found"}'
							data-table-id="{{ reports_table_settings.table_id }}"
							data-dadc-socrata-domain="data.wa.gov"
							data-dadc-dsid="{{ reports_table_settings.data_id }}"
							data-dadc-socrata-app-token="VgdhT3tN0hU2T43raCJSznncV"
						{% if reports_table_settings.dtadc_info %}
							data-dtadc-info="{{ reports_table_settings.dtadc_info }}"
						{% endif %}
						{% if reports_table_settings.attrs %}
							{% for key, attr in reports_table_settings.attrs %}
								{{ attr.name }}="{{ attr.value }}"
							{% endfor %}
						{% endif %}
						{% if reports_table_settings.fixed_filters %}
							data-dadc-fixed-filter="{{ reports_table_settings.fixed_filters }}"
						{% endif %}
						>
							<thead>
								<tr
								{% if reports_table_settings.tr_attrs %}
									{% for key, attr in reports_table_settings.tr_attrs %}
										{{ attr.name }}="{{ attr.value }}"
									{% endfor %}
								{% endif %}
								>
								{% for key,column in reports_table_settings.columns %}
									<th data-dadc-col="{{ column.data_dadc_col }}"
									scope="col"
									{% if column.classes %}
										data-dadc-col-classes="{{ column.classes }}"
										class="{{ column.classes }}"
									{% endif %}
									{% if column.attrs %}
										{% for key, attr in column.attrs %}
											{{ attr.name }}="{{ attr.value }}"
										{% endfor %}
									{% endif %}
									>{{ column.display_name }}</th>
								{% endfor  %}
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
