<div class="campaign-subpage container">
	<div class="subpage-header">
		{% if subpage_info_block %}
			{# @pdc_api_tools refers to 'pdc_api_tools/templates' #}
			{% include '@pdc_api_tools/blocks/candidate_block_' ~ subpage_info_block ~ '.html.twig' %}
		{% endif %}
	</div>
	<div class="candidate-data-blocks">
	{% if reports_table_settings.data_id and reports_table_settings.columns %}
		{# Use a datatable variant that expects to be loaded from the frontend. #}
		{% include '@pdc_api_tools/tables/table--loadable.html.twig' %}
	{%  endif %}
	</div>
</div>
