<div class="campaign-subpage container">
	<div class="subpage-header">
	{% if subpage_info_block %}
		{# @pdc_api_tools refers to 'pdc_api_tools/templates' #}
		{% include '@pdc_api_tools/blocks/committee_block_' ~ subpage_info_block ~ '.html.twig' %}
	{% endif %}
	</div>
	<div class="candidate-data-blocks">
	{% if subpage_settings.table_settings.columns %}
		{% include '@pdc_api_tools/tables/table--loadable.html.twig' %}
	{%  endif %}
	</div>
</div>
