{{ attach_library('pdc_api_tools/global') }}
{% if enforcement_cases_data %}
	<h1>{{ enforcement_cases_data.0.subject }}</h1>
	<div class="info">
		<h2>Case</h2>
		{% if enforcement_cases_data.0.case %}
			<p>#{{ enforcement_cases_data.0.case }}</p>
		{% else %}
			<p>Case number not found</p>
		{% endif %}
	</div>
	<div class="info">
		<h2>Respondent</h2>
		{% if enforcement_cases_data.0.respondent %}
			<p>{{ enforcement_cases_data.0.respondent }}</p>
		{% else %}
			<p>Respondent not found</p>
		{% endif %}
	</div>
	<div class="info">
		<h2>Complainant</h2>
		{% if enforcement_cases_data.0.complainant %}
			<p>{{ enforcement_cases_data.0.complainant }}</p>
		{% else %}
			<p>Complainant not found</p>
		{% endif %}
	</div>
	<div class="info">
		<h2>Description</h2>
		{% if enforcement_cases_data.0.description %}
			<p>{{ enforcement_cases_data.0.description|raw }}</p>
		{% else %}
			<p>Description not found</p>
		{% endif %}
	</div>
	<div class="info">
		<h2>Disposition</h2>
		{% if enforcement_cases_data.0.status %}
			<p>{{ enforcement_cases_data.0.status }}</p>
		{% else %}
			<p>Disposition not found</p>
		{% endif %}
	</div>
	<div class="info">
		<h2>Date Opened</h2>
		{% if enforcement_cases_data.0.opened %}
			<p>{{ enforcement_cases_data.0.opened|date("F d, Y") }}</p>
		{% else %}
			<p>Date opened not found</p>
		{% endif %}
	</div>
	<div class="info">
		<h2>Areas of Law</h2>
		{% if enforcement_cases_data.0.areas_of_law %}
			<p>{{ enforcement_cases_data.0.areas_of_law }}</p>
		{% else %}
			<p>Areas of law not found</p>
		{% endif %}
	</div>
	<div class="info">
		<h2>Documents</h2>
		{% if enforcement_cases_data.0.attachments %}
			<ul>
			{% for attachment in enforcement_cases_data.0.attachments %}
				<li>
					<a href="{{ attachment.url }}">{{ attachment.file_name }}</a>
				</li>
			{% endfor %}
			</ul>
		{% else %}
			<p>No documents found</p>
		{% endif %}
	</div>
	{% if enforcement_cases_data.0.penalties %}
	<div class="info">
		<h2>Penalties</h2>
		<div class="penalty-data">
			<div class="penalties-heading">
				<p>Total penalties: {{ enforcement_cases_data.0.total_penalties|numberformat }}</p>
				<p>Balance Due: {{ enforcement_cases_data.0.balance_due|numberformat }}</p>
			</div>
			{% for penalty in enforcement_cases_data.0.penalties %}
				{% if penalty.payments %}
					{% set payments_total = 0 %}
					{% for payment in penalty.payments %}
						{% set payments_total = payments_total + payment.amount %}
					{% endfor %}
				{% endif %}
			<div class="penalty">
				<h4 class="penalty-header">{{ penalty.who }}</h4>
				{% if penalty.amount %}
				<div class="penalty-data">
					<h5 class="penalty-data-heading">
						Penalty
					</h5>
					<div class="penalty-data-text">
						{{ penalty.amount|numberformat }}
						{% if penalty.description %}
							({{ penalty.description|textformat }})
						{% endif %}
					</div>
				</div>
				{% endif %}
				{% if penalty.suspended_amount %}
				<div class="penalty-data">
					<h5 class="penalty-data-heading">
						Suspended
					</h5>
					<div class="penalty-data-text">
						{{ penalty.suspended_amount|numberformat }}
						{% if penalty.suspended_amount_description %}
							({{ penalty.suspended_amount_description|textformat }})
						{% endif %}
					</div>
				
				</div>
				{% endif %}
				{% if penalty.reinstated_amount %}
				<div class="penalty-data">
					<h5 class="penalty-data-heading">	
						Reinstated
					</h5>
					<div class="penalty-data-text">
						{{ penalty.reinstated_amount|numberformat }}</div>
					</div>
				{% endif %}
				{% if penalty.payments.0 %}
				<div class="penalty-data">
					<h5 class="penalty-data-heading">
						Payments
					</h5>
					<div class="penalty-data-text">
					{% for payment in penalty.payments %}
						{{ payment.amount|numberformat }} 
						{% if payment.payment_date %}
						on {{ payment.payment_date|dateformat }}
						{% endif %}
						{% if payment.description %}
							({{ payment.description|textformat }})
						{% endif %}
					</div>
					{% endfor %}
				</div>
				{% endif %}
			</div>
			{% set payments_total = 0 %}
			{% endfor %}
		</div>
	</div>
		{% endif %}
{% endif %}