.pdc-loading-spinner-wrapper {
  position: absolute;
  display: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #fff;
  z-index: 9999;
  opacity: 0.75;
  transition: all 0.3s;
  text-align: center;
}

.pdc-loading-spinner {
  position: relative;
  top: 125px;
  margin-left: auto;
  margin-right: auto;
}
