{% if rows %}
  <div class="pdc-chart" data-pdc-chart="{{ chart_type }}" data-pdc-chart-id="{{ chart_id }}">
    <table class="pdc-chart-table">
      <caption class="pdc-chart-title">{{ title }}</caption>
      <thead>
        <tr>
          {% for heading in headings %}
            {% if heading is not empty %}
              <th class="pdc-chart-heading">{{ heading }}</th>
            {% endif %}
          {% endfor %}
        </tr>
      </thead>
      <tbody>
      {% for row in rows %}
        <tr class="pdc-chart-row">
          {% for col in row %}
            {% if loop.index == 1 %}
              {% if col is not empty %}
                <th class="pdc-chart-label">{{ col }}</th>
              {% endif %}
            {% else %}
              <td class="pdc-chart-value">{{ col }}</td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
  <p><strong>{{ empty_message }}</strong></p>
{% endif %}
